[2021-01-13 09:56] KATT opened #5 "React lib/hooks"
React hooks for ease of use. Things that would be nice to see

- Normalized global cache
- Fetch policies
- Hooks for ease of use on both queries and mutations
- Composition of multiple calls

[2021-01-13 09:58] KATT opened #6 "Naming / other transports / JSON-RPC"
- the name trpc sort of implies it being a generic RPC and not a specific type of transport
- still, there's a lot of http concepts (status codes) etc
- using it with other transports could be beneficial
- ... although haven't thought through stuff like subscriptions and how that would/could/should/shouldn't tie in

https://en.wikipedia.org/wiki/JSON-RPC#Version_2.0

[2021-01-13 09:58] KATT opened #7 "Implement a response envelope"
Would make it more extensible

Discriminated union suggestion:

[code]

[2021-01-13 09:59] KATT opened #8 "Remove authorization"
As discussed yesterday - if data validation shouldn't be enforced, auth shouldn't be either

[2021-01-13 10:02] KATT opened #9 "TSDX?"
Should we use https://github.com/formium/tsdx?

If we create a bunch of different libs it might get messy as you can only have one output and I am not sure if you can do specific browser/node build

[2021-01-13 10:20] KATT opened #10 "Copy endpoint resolver format from GraphQL?"
How it is right now:

[code]

Suggestion:

- 1 single input argument being a named options object

[code]

[2021-01-25 11:40] #5 closed

[2021-01-25 11:40] #6 closed

[2021-01-25 11:40] #7 closed

[2021-01-25 11:40] #8 closed

[2021-01-25 11:40] #9 closed

[2021-01-25 11:40] #10 closed

[2021-01-25 11:40] KATT opened #16 "Ideas / things to do"
## General

- [x] I want args to be changed to be **1 single input argument** (similar to GraphQL best practices)
- [ ] Traceability. Listen to errors so they're loggable - express/next middlewares & api client
- [ ] custom error printing - printing validation output would prob be nice
- [x] Any way of automatically testing/asserting type inference in jest or whatnot?
- [x] nice readme with some g

[2021-01-25 12:40] KATT opened #22 "Shape up chat example"
- [x] Make `useSubscription()`-support in react client
- [ ] Make UI pretty
- [ ] Add auth(?)

Potential features:

- Who's online
- Typing indicators

[2021-02-09 13:47] KATT opened #69 "In-depth documentation of queries/subscriptions/mutations"
- multiple validators
- data transformation
- subscriptions
  - caveats
  - buffer / backpressure

[2021-02-09 13:48] KATT opened #70 "WebSocket transport"
Would be nice with a WebSocket transport. Subscriptions through long-polling are very 2010.

[2021-02-09 14:30] KATT opened #72 "Improve react-query support"
- [x] `useQuery`
- [x] `useMutation`
- [x] `useInfiniteQuery` - #82
- [x] Hydration / rehydration
- [x] `prefetchQuery` on server for SSR/SSG
- [x] `prefetchQuery` typed on client - #81

[2021-02-10 10:32] KATT opened #77 "Brownfield starter docs (Express/Connect/Koa)"

[2021-02-11 23:10] #16 closed

[2021-02-11 23:30] #72 closed

[2021-02-17 20:04] KATT opened #84 "Doc how you to deal with authentication"
- Use `createContext` function to check auth header
- Example: https://github.com/trpc/trpc/blob/a781ed088e72b49702359d4f9368cf2ddabe6130/examples/playground/src/server.ts#L7-L22

[2021-02-19 05:13] KATT opened #94 "Adding lockfiles to examples"
- `examples/*` doesn't have lockfiles right now as they're part of the monorepo
- this might make the vercel deployment randomly fail if someone publishes a bad build of the 10^100 sub-deps of next (as shown yesterday in https://github.com/trpc/trpc/pull/91#issuecomment-781434382)
- would be nice if they had lockfiles but not sure how to make it happen in the yarn workspace

[2021-02-25 09:51] KATT opened #108 "Respond with 400 if sending input to NoInput procedures"
re @cyrus-za

[2021-03-01 11:19] #108 closed

[2021-03-01 13:10] #84 closed

[2021-03-01 14:47] KATT opened #114 "[RFC] Simplify refactoring by allowing aliasing"
When refactoring it might be useful to rename a procedure but still maintain the old one functional.

Let's say you have something like this

[code]

You later wanna split up all your "post"-related stuff into a separate router, then it'd be nice to be able to do this:

### option 1
[code]

### option 2

[code]

[2021-03-01 14:48] KATT commented on #114
cc @cyrus-za @colinhacks

[2021-03-01 14:54] KATT opened #115 "[RFC] Enforce dot-notation in sub-routers"
Initially when writing trpc>1 I was thinking I would use `/` as a separator between sub-routers, but it's more readable to have the whole path written out.

I've forgotten to add the `.` at the end a few times when creating sub-routers and it's a bit annoying. Don't see any harm in enforcing it.

This would be a major version change, but easy refactor - could be done application-wide with a simple

[2021-03-01 14:54] KATT commented on #115
cc @cyrus-za

[2021-03-01 16:07] #22 closed

[2021-03-01 16:07] #69 closed

[2021-03-03 09:33] cyrus-za commented on #114
I agree. Let's go with option 2 if the typings dont get complicated

[2021-03-03 09:39] cyrus-za commented on #115
I think this can be achieved without making it a breaking change. Can have automatic alias for ones without it and then add a linting rule or something? But I am fine with making another major version. Which ever works for you.

I like the idea though. I've also ran into it

[2021-03-03 09:55] KATT commented on #115
Sure, I can make a minor version with a deprecation warning!

[2021-03-03 10:23] KATT opened #122 "Decide on / make a logo"
- All things need a logo, right?
- Made a few variants below using https://hatchful.shopify.com/

![Screenshot 2021-03-03 at 11 22 23](https://user-images.githubusercontent.com/459267/109791461-c4539680-7c12-11eb-9316-e6783985fddc.png)

[2021-03-03 10:23] KATT commented on #122
cc @cyrus-za

[2021-03-03 10:24] KATT opened #123 "Make website with docusaurus"
- Use `www/`-folder
- Decide on a logo #122

[2021-03-03 15:07] #123 closed

[2021-03-03 15:16] #122 closed

[2021-03-04 13:42] KATT opened #139 "onError handler"
- Being able to log errors

[2021-03-05 10:10] KATT opened #144 "formatError()-handler"

[2021-03-07 20:41] #139 closed

[2021-03-07 20:41] #144 closed

[2021-03-07 23:56] KATT opened #152 "Pretty console logs outgoing requests"
Would be nice if you could optionally log outgoing requests in the client, colour coded by type, with input, & highlight responses.

Especially nice for queries as the input params are urlencoded json, they're quite hard to read by looking at the URL.

[2021-03-08 16:43] KATT opened #160 "[RFC] Procedure call batching"
Would be cool if one could automatically batch all parallel queries into the same request on the client. https://github.com/graphql/dataloader for inspo.

Shouldn't be that hard to do. Could enable some cool stuff like making a db transaction across multiple parallel mutations.

---

considerations:

- should query/mutation/subscriptions be able to batched together or should we batch per type?
- q

[2021-03-08 20:51] KATT opened #162 "Fix changeset"
Using https://github.com/atlassian/changesets

... but didn't get it working properly. Someone could probably fix this.

[2021-03-10 01:40] KATT opened #163 "[RFC] SSR Magic - `getDataFromTree()`"
## Idea

Similar to [Apollo's way of prefetching](https://www.apollographql.com/docs/react/performance/server-side-rendering/).

Should be possible to prefetch all data on the server automatically without using any getStaticProp/etc. Could be done in `_app.tsx`

Since the queries have the paths and the input one could just invoke the router server side when calling to useQuery() and write it to th

[2021-03-10 01:53] KATT opened #164 "[RFC] OpenAPI aka swagger support"
Would be possible for each query/mut to have a `schema:`-prop next to the resolver where one could define an api schema of which the structure could be statically enforced as well.

Maybe the input arg of the schema could also be used as an actual input validator?

---

Another way could possibly be to statically infer the swagger schema with codegen, but then one couldn't actually _document_ prop

[2021-03-10 09:13] MikeAliG commented on #70
Hello, Thank you for this awesome project. I was wondering how we can help implementing the Websocket Transport? Is there anyway we can help achieving this?

Also, would it be possible to implement it via NextJS API routes? It becomes really tricky in serverless environments like Vercel.

Please let me know your thoughts.

[2021-03-10 21:40] KATT commented on #70
Hey, thanks!

There actually is experimental subscription implementation already that works on serverless...but it's a bad idea as long-running lambda fns are expensive and you'll likely choke the db with connections.

However, if you want to play around with it, have a look at the chat in the examples!

[2021-03-11 10:05] KATT commented on #70
I'm planning to do some videos where I walk through the internals of tRPC so that would've given you an idea where to look.

Until then, here's the relevant files to dig in

- https://github.com/trpc/trpc/blob/main/packages/server/src/http.ts  <-- the http adapter stuff
- https://github.com/trpc/trpc/blob/main/packages/client/src/createTRPCClient.ts <-- the client creator

--

## Rough Idea how to

[2021-03-11 20:59] MikeAliG commented on #70
Hello! Thank you very much for all the info and I will look forward to the videos!

All the ideas look great but as for some of the ideas, these might be some possible solutions and until we are sure of the implications, we can experimentally roll out some of them:

# Client:
- We could possibly open the websocket **just** on the client since creating a websocket client on server would not be that

[2021-03-11 23:13] KATT commented on #70
Will have a proper think and prob respond to this tmrw!

[2021-03-13 12:30] KATT commented on #70
I honestly don't think I would want to use WS for _all_ operations even on the client, as a first version it could work that queries and mutations happens over http and subscriptions over WS.

---

# But let's talk about links

I do want to decouple the _link_ from the client eventually anyway so we could enable things like #163 and potentially making things like #152 / #160 nicer. I've always tho

[2021-03-13 14:13] KATT commented on #70
I hacked around a bit and made this ugly implementation of a bidrectional middleware thing that we would need for the link stuff

https://gist.github.com/KATT/35707bbe221f1740b9aaf2e8174b224d

[2021-03-15 09:28] MikeAliG commented on #70
Hello!  That seems really cool and intuitive. I think WS reconnection is possible but I'll experiment with it tonight and will update the results here.

[2021-03-15 11:09] KATT commented on #70
The link stuff is a bit more complicated than I first thought. One thing I missed in the sketches above is also that they need to be _cancellable_ as well as retry-able 🙈

[2021-03-16 16:39] KATT commented on #70
If you wanna make an interim solution without the complexity of "links" I'm open to look at proposals as well

[2021-03-16 21:53] MikeAliG commented on #70
Hello! So, I've checked the code and although I'm still experimenting with the API, I believe retry-able and cancelable links could be possible via `res.socket.server` since it's immutable, we can attach the `new TRPCWebsocketLink()` instance to this object as the central link object and by this, I think we can retry and cancel but since it might choke on HMR of the NextJS, I'm trying to refrain f

[2021-03-20 02:19] Gdewilde opened #176 "Great framework!"
Thanks for putting in the time. Added to https://apistack.io/

[2021-03-20 19:11] KATT commented on #176
Great, let me know if you have any feedback!

[2021-03-20 19:11] #176 closed

[2021-03-26 04:42] colinhacks opened #211 "API recommendations"
Some recommendations for improvements to the API:

- I don't really see any reason to split up `@trpc/server` and `@trpc/client`. I think they should be merged into a single `trpc` module. It makes the out-of-the-box experience so much cleaner.
- Then the `@trpc` scope can be used for specific plugins/adapters etc. You could publish the Express adapter as `@trpc/express` for instance. That would a

[2021-03-26 04:59] colinhacks opened #212 "`@babel/runtime` dependency in `client`"
Is there a way to get rid of this?

[2021-03-26 13:24] KATT commented on #212
it cherry-picks and uses the thing it actually uses.

since we have another lib (react-query) that _also_ requires @babel/runtime it actually shouldn't produce any extra stuff, so it's better than precompiling and "bundling" it since many libs can depend on it but they share the same runtime

[2021-03-26 13:34] KATT commented on #211
Just saw this! Thanks so much for the ideas.

Prone to agree, the only con is that `@trpc/client` requires a lot more polyfilling, @trpc/server is a very clean target of node 12

Let's keep that discussion in #210

I actually disagree, I don't like when libraries occupy "generic" namespaces as I just keep on importing the wrong ones. Also for the next adapter it's easier to find it by autocompleti

[2021-03-26 15:08] KATT commented on #212
also your app's tree shaking ensures that only things that is used is included

[2021-03-26 17:36] colinhacks commented on #211
All seems reasonable!

A few followups:

What are the polyfills for `client`? Does that have anything to do with the @babel/runtime dependency? Might be worth standardizing on `trpc` for the core library even if that means a few polyfills end up in the package.

That's understandable. A lot of these recommendations stem from the fact that the sample code in the docs just seems to complicated to me

[2021-03-26 17:50] colinhacks opened #217 "`trpc.error` syntax"
I see the appeal of the `trpc.httpError.forbidden` syntax for common HTTP codes, but I think there should be a fallback function for easily throwing HTTPErrors with any numerical code. Similar to the v0.x syntax:

`trpc.error(code: number, opts; { status?: string; message?: string; originalError?: Error })`

[code]

I'm used to thinking about HTTP codes as numbers. It looks like you're trying to r

[2021-03-26 17:50] colinhacks commented on #212
Cool cool

[2021-03-26 17:50] #212 closed

[2021-03-26 21:24] KATT commented on #217
No big opposition here, kinda just mimicking how it is to throw unauth errors etc in graphql servers

[2021-03-26 22:13] colinhacks commented on #217
I can submit a PR. Which solution do you prefer?

1. The `trpc.error()` function (which probably involves refactoring away from `TCode` and all that)
2. Expand httpError using https://github.com/prettymuchbryce/http-status-codes/blob/master/src/status-codes.ts

[2021-03-26 22:15] colinhacks opened #218 "Make `createContext` optional"
Default to `()=>({})`

Simplifies use cases where it isn't required. e.g if the user is passing a token in the input.

[2021-03-26 22:17] colinhacks opened #219 "Move away from `pathAndArgs` in @trpc/react"
Really not a fan of the `pathAndArgs` syntax. Is there a reason for it? Instead of `trpc.useQuery(path, input, opts)`? Is this a relic of when you were supporting multiple inputs?

[2021-03-27 17:14] KATT commented on #219
The main reason is that the input arg is optional

[2021-03-27 17:16] KATT commented on #219
I had it before that could do both useQuery
(path) for things that didn't have input and useQuery([path, input]) for things that did but that weirdly broke autocompletion on the path

[2021-03-27 22:27] colinhacks commented on #219
The second argument should be conditional on whether Input is undefined. Pseudocode:

[code]

I can submit a PR for this. So you can see how it looks.

[2021-03-28 10:21] KATT commented on #219
The thing is, the input can also be _optional_, and that doesn't work nicely in your suggestion as you'd be forced to pass like undefined/null in case you want to supply options.

Id actually rather see if we can maybe mix in input in the query options and do like

useQuery(path, { input, ...otherOpts })

[2021-03-28 12:14] KATT commented on #217
Sooo, actually - -

Thought more about this and remembered why it's not like that.

I don't think the errors we throw in the router should be tied to http, they aren't now and I use a error.code (taken straight from graphql, I have info in the docs) which is translated to http codes in http middlewares.

I am planning to do support for other transports later so internal codes should be something d

[2021-03-28 13:17] KATT commented on #217
https://trpc.io/docs/error-handling

[2021-03-28 13:25] KATT commented on #218
I don't see many real-world usecases for this, I even use the ctx object for passing Prisma around as its nicer to have it injected than imported.

That said, I wouldn't object to making it optional if you or someone else want to make a PR, but it might require a bit of typescript trickery.

[2021-03-29 09:54] zaaack opened #225 "examples/next-prisma-todomvc next build failed"
Hi, @KATT.

I hit some wired problem when build my trpc+prisma+next [project](https://github.com/zaaack/bar-timer) which forked from `examples/next-prisma-todomvc`.

[code]

[code]

Then I tried in the original example project, it occured again:

[code]

Any clues why?

[2021-03-29 14:25] KATT commented on #225
I cloned your project and ran the build and it worked. Maybe

- remove your `node_modules`
- run another `yarn install`
- make sure your db conf is correct

[2021-03-29 14:25] KATT commented on #225
write to me on twitter if you have more questions https://twitter.com/alexdotjs

[2021-03-29 14:25] #225 closed

[2021-03-30 01:21] colinhacks commented on #218
It's honestly just about making the sample code simpler in the basic examples

[2021-03-30 02:10] zaaack commented on #225
@KATT Thanks, remove node_modules and run `yarn install` again solved my issue!

[2021-03-30 07:37] KATT commented on #218
I'm fine with this change!

However, I don't really think it's a threat to adoption; Apollo Client & GraphQL has always been super convoluted to setup but it have gotten great adoption - we all realise its just something we need to copy/paste and rarely touch.

[2021-04-03 14:12] Sendouc opened #242 "@trpc/react query cache is shared between Next.js pages"
Hey there I noticed potentially a big problem with the instructions on how to use library with security implications.

I noticed this issue https://github.com/Sendouc/sendou.ink/issues/354 and started investigating it. Essentially the query cache is shared between pages. In my case it just added useless bloat to the `getStaticProps` JSONs since it had queries from various pages but of course if yo

[2021-04-03 16:54] KATT commented on #242
@all-contributors add @Sendouc for bug reporting

[2021-04-05 12:38] #242 closed

[2021-04-12 21:55] #114 closed

[2021-04-12 21:55] #219 closed

[2021-04-12 21:56] #70 closed

[2021-04-12 21:57] #211 closed

[2021-04-12 21:58] #217 closed

[2021-04-12 21:58] #164 closed

[2021-04-12 21:59] #163 closed

[2021-04-12 21:59] #160 closed

[2021-04-12 22:00] #152 closed

[2021-04-12 22:00] #115 closed

[2021-05-03 10:57] mgranderath opened #331 "Error thrown in Resolver always results in a 500 Status code"
I have this resolver setup

[code]

Which should result in a 401 status code, however, the error that is actually sent by the endpoint is (with a 500 code):
[code]

Should this be the case? Let me know if you need any extra information

[2021-05-03 11:28] KATT commented on #331
Will test!

[2021-05-03 11:28] KATT commented on #331
Are you using Next.js or another http adapter?

[2021-05-03 11:35] KATT commented on #331
This is strange - I have a test for this right here https://github.com/trpc/trpc/blob/ad3dc963cc37b26ec19078519321358ccf05707a/packages/server/test/errors.test.ts#L126

Checking if this is actually the case in a real app.

[2021-05-03 11:42] mgranderath commented on #331
I'm using the Next.js adapter

[2021-05-03 11:54] KATT commented on #331
@all-contributors add @mgranderath for bug reporting

[2021-05-03 12:11] #331 closed

[2021-05-03 12:15] KATT commented on #331
fix published at `6.1.1`

tip for upgrading: `npx ncu --filter /@trpc/ -u  && yarn`

[2021-05-03 12:16] KATT commented on #331
Thanks for reporting - I'm not super happy with my fix - not sure why `instanceof` didn't work (works locally in tests but not in published version 🤔 ) but it's solved for now!

[2021-05-03 13:34] mgranderath commented on #331
Thank you for the quick fix and the amazing project 💯

[2021-05-14 23:48] kripod opened #365 "Add `createSSGHelpers().setQueryData()`"
Thank you for bringing this project to life – it has been a joy to use from the very start!

While experimenting with [SSG helpers](https://trpc.io/docs/nextjs#4-start-consuming-your-data-1), I realized that the only React Query methods available are `fetchQuery` and `prefetchQuery`. The latter could be [used with a custom initializer method](https://react-query.tanstack.com/guides/prefetching), b

[2021-05-16 08:32] kripod opened #366 "Loosen `trpcNext.CreateNextContextOptions` type for better SSR support"
I just started using `trpcNext.CreateNextContextOptions` and noticed that it’s typed as follows:

[code]

While it works great for API requests, the `context` that gets passed to `getServerSideProps` only contains a portion of this information – the basis of `NextApiRequest` and `NextApiResponse` objects:

[code]

In order to support SSR better and keep the API context versatile, I propose a conte

[2021-05-16 08:38] kripod commented on #366
With this change, the parameter given to [`createContext`](https://trpc.io/docs/context) should always be required:

[code]

[2021-05-16 08:41] kripod commented on #365
Also, I think it might be beneficial to expose the raw `queryClient` as an escape hatch, just like `trpc.useContext()` does it.

[2021-05-16 09:12] kripod opened #367 "Add `trpc.useContext().getQueryData()`"
In order to [execute updates optimistically with React Query](https://react-query.tanstack.com/guides/optimistic-updates#updating-a-list-of-todos-when-adding-a-new-todo), data has to be read from the `queryClient`, as seen in the linked example:

[code]

Unfortunately, the situation isn’t so easy with tRPC, as it doesn’t provide a `getQueryData` method, but only `setQueryData`. After digging into

[2021-05-16 09:19] kripod opened #368 "Add `trpc.useContext().setQueryData()` callback"
When updating values in the query cache which rely upon the old value, [an updater callback](https://react-query.tanstack.com/reference/QueryClient#queryclientsetquerydata) comes handy, e.g.:

[code]

Instead of:

[code]

This overload should be made available through `trpc.useContext().setQueryData`.

[2021-05-16 09:21] kripod commented on #367
Please notice that the final code could be simplified further in this particular case via #368. Updater callbacks don’t solve the case of optimistic updates, though.

[2021-05-16 11:02] kripod opened #369 "Consider renaming `createSSGHelpers` to `createSSRHelpers`"
The `createSSGHelpers` method of `@trpc/react` can be used for both SSG and SSR, and the former is just a special form of prerendering – "ahead-of-time SSR".

Also, I propose moving `@trpc/react/ssg` to `@trpc/react/ssr`.

[2021-05-16 12:03] KATT commented on #366
You know, you can simply do `ssr: true` in the top level HOC to enable ssr, you don't need to do any manual ssr stuff unless you specifically want ssg

See https://trpc.io/docs/ssr

On my phone, will answer properly later

[2021-05-16 12:03] KATT commented on #366
The next-hello-world example has ssr enabled if you want a reference

[2021-05-16 12:36] kripod commented on #366
I know about the `{ ssr: true } ` option, but that relies upon `getInitialProps`, which breaks SSG for static pages. I wouldn’t like to use that option due to this.

I think the default context parameter should be adjusted regardless of that, even when `{ ssr: true }` is specified. I proposed not to forward `res` during SSR, but always forward `req` so that cookies can be read (e.g. for auth)

[2021-05-16 15:13] KATT commented on #366
I think you have a good point but we'd need a third constant to make it easy to differentiate between them:

[code]

---

The way I've solved this myself when I wanted similar stuff in my `getStaticProps`-fns is to make opts optional so I can simply call my `createContext` from the function.

## Example

## context fn

https://github.com/trpc/trpc/blob/b0ad15ef95b8d7d0b7ac8747df54d5aa08154550/exam

[2021-05-16 15:16] KATT commented on #369
It is intentional as I personally don't see much use of using those helpers for SSR rather than SSG since you can just turn on `{ ssr: true }`, I've never liked `getServerSideProps` myself as it always adds a delay to the route change.

Did you know that even with SSR you can take advantage of Vercel's edge cache?

https://trpc.io/docs/caching#app-caching

Read the twitter thread that's linked the

[2021-05-16 15:18] KATT commented on #365
Yes! This would be useful! Wanna do a PR? I don't use ssg myself. Feel free to [dm me on twitter](https://twitter.com/alexdotjs) if you want to have a chat/guidance on how to do this.

[2021-05-16 15:19] #369 closed

[2021-05-16 15:19] #366 closed

[2021-05-16 15:21] KATT commented on #368
Yup! We do still not feature-complete with react-query; I add stuff as I use them myself.

As I said on the other thread:

[2021-05-16 15:26] KATT commented on #365
You're bringing up a few different things here

- `createSSGHelpers().setQueryData()`
- Query batching - I've actually done a proof of concept of that before, discussed it a bit in #160
- Exposing `queryClient` - definitely! I Thought it already was, will do a PR on that now.

[2021-05-16 15:35] kripod commented on #365
Thank you! I’ll look into the codebase and see if I can set up a PR to expose `setQueryData`.

[2021-05-16 15:37] KATT commented on #365
@all-contributors add @kripod for ideas

[2021-05-16 15:42] kripod commented on #368
Thanks for answering so quickly!

I’m currently experimenting by migrating the entire backend of [Copyfolio](https://copyfol.io) to tRPC and things have been going pretty smoothly until now.

The last thing I have to figure out is debouncing mutations which have optimistic updates. I used to wrap the fetch method with into a self-written scheduler, but unfortunately, there doesn’t seem to be a way

[2021-05-16 15:47] KATT commented on #368
Hmm - not sure if I follow - do you want to debounce the actual mutation as well as the optimistic update? Can you share some code on how you worked with your previous solution?

[2021-05-16 15:49] KATT commented on #368
In the todomvc-example I have a lot of optimistic updates and I do the actual "refresh" whenever anything stops mutating which seems to deal with the race conditions nicely.

https://github.com/trpc/trpc/blob/420d215bbd0ff681b7b49728cd08ad5b9f1819f5/examples/next-prisma-todomvc/pages/%5Bfilter%5D.tsx#L68-L83
https://github.com/trpc/trpc/blob/420d215bbd0ff681b7b49728cd08ad5b9f1819f5/examples/next-p

[2021-05-16 15:52] KATT commented on #368
Another more experimental idea on how to deal with state I've played with is here https://github.com/trpc/trpc/pull/58, with a normalized global cache you wouldn't even have to refresh the result

[2021-05-16 15:56] KATT commented on #365
You can access `queryClient` now if you upgrade to `6.2.0`

[2021-05-16 16:24] kripod commented on #368
I would like to execute the optimistic mutation immediately, but delay sending data to the server via debouncing. A current implementation is as follows:

#### `useUpdateColorSet.ts`

[code]

#### `@/utils/delay.ts`

[code]

#### `@/hooks/useScheduler.ts`

[code]

As you can see, data can be updated from multiple places and even multiple devices:

- keyboard-triggered saving is delayed by 1000ms
-

[2021-05-16 16:39] KATT commented on #368
I see 🤔

My first idea of an approach would be to wrap of `trpc.useMutation` that would `setQueryData()` straight-away and then call the mutation itself after a delay.

[2021-05-16 16:52] kripod commented on #368
Thanks for the recommendation, I’ve been tinkering with a similar thought – passing `onMutation` and `onError` callbacks to the wrapper function and also forwarding both to `trpc.useMutation`.

[2021-05-16 16:57] KATT commented on #368
I wrote some code that might help you get started

[code]

[2021-05-16 17:49] kripod commented on #368
Thank you for the great idea! I’ve modified your `useDebouncedMutation` hook a slight bit, taking into account that the timeout ID ref can be zero-initialized – see [the list item #2 in the spec](https://html.spec.whatwg.org/multipage/timers-and-user-prompts.html#timer-initialisation-steps). Also, I’m clearing the timeout before the parent component unmounts:

[code]

Let’s see how well this could

[2021-05-16 18:18] KATT commented on #368
Not sure if you actually wanna do that clearTimeout on unmount - if the user does something and backs up it should probably still trigger the latest mutation, potentially just trigger it straight away though

[2021-05-16 18:49] kripod commented on #368
Yeah, you’re totally right about that, I’ll just remove it and let debouncing work as it was originally intended. Thanks for the heads-up!

[2021-05-16 21:32] kripod commented on #368
I’ve settled on the following implementation, fixing endless rerenders with the following [`useEventCallback`](https://reactjs.org/docs/hooks-faq.html#how-to-read-an-often-changing-value-from-usecallback) implementation:

[code]

Also, I’m overriding the status when a debounce is in progress – please see my final code below:

[code]

I’m wondering if anything remotely similar could be implemented

[2021-05-16 23:29] kripod commented on #368
Unfortunately, it turns out that the implementation has some flaws. Firstly, React Query’s mutation cache doesn’t get populated, thus, we cannot display a proper saving indicator for debounced mutations.

What’s even worse is that `mutateAsync` doesn’t execute `onMutate methods` (as expected, because we don’t provide one to the base mutation).

I think we should try taking an other approach in whi

[2021-05-17 10:19] KATT commented on #368
If you use the implementation above `mutateAsync` is just passed through as you're not overriding it but you're overriding `mutate`

[2021-05-17 12:13] kripod commented on #368
I’ve just had a new take on the debouncer and it works flawlessly with both sync and async mutations:

[code]

[2021-05-17 12:36] KATT commented on #368
Nice, you know some nice typescript tricks, would love to see you apply them on some contributions to tRPC 😻

[2021-05-17 13:28] KATT commented on #77
https://trpc.io/docs/create-react-app

[2021-05-17 21:44] simonedelmann opened #378 "Use different transformers for client<->server"
First of all I want to say thank you very much for making this library! I was already looking for a library like this for quite some time.

There is one thing I would like to ask/suggest:

Superjson is great for preserving type information, but has some performance drops for example when using with lots of nested dates. There is another library, devalue, which has a much better performance, but it

[2021-05-17 23:14] kripod commented on #368
I’ve just updated the debouncer yet another time, as it turns out that the `onError` method of mutations discarded due to debouncing ran _after_ the `onMutate` callback of newer mutations. The wrong scheduling behavior messed up optimistic updates, so I came up with this:

[code]

I’m not sure if React Query’s event handling can be invoked forcefully without relying upon a tiny event emitter from

[2021-05-17 23:25] KATT commented on #378
Hmm.. there is no such option right now, and I'd be hesitant to build it as it feels a bit like a can of worms to differentiate this in each direction and a bit fiddly to add. If devalue can't be used for serialization from client->server you'd still have the same bottleneck when passing input args from client->server, although they are indeed usually much smaller.

Are you sure you're not doing p

[2021-05-18 00:47] kripod commented on #368
In the meantime, I figured out that there’s a built-in cancelation mechanism for mutations available, thus I could simplify the code above to this:

[code]

I hope this will be the last iteration for quite a long time.

[2021-05-18 06:06] simonedelmann commented on #378
Thanks for your very fast answer! I totally see adding this as an option could be difficult.

This only occurs in one specific app, where I have a structure like this:
[code]

[2021-05-18 06:31] simonedelmann commented on #378
Thanks for your very fast answer! I totally see adding this as an option could be difficult and I absolutely agree that dates are annoying. :D

This only occurs in one specific app, where I have a huge collection (~1000) of models and every model contains another collection of models (~50). All models need to have multiple dates. Yes, I could do some optimization (strip non-necessary updatedAt fie

[2021-05-18 09:54] kripod opened #384 "Log internal server errors during development by default"
Currently, I’m using the following code snippet for Next.js at the `api/trpc/[trpc]` route:

[code]

I think it would be useful to always log unhandled errors (where `error.code === "INTERNAL_SERVER_ERROR"`) to the server’s console like this during development, even when no `onError` is specified.

[2021-05-18 12:35] KATT commented on #378
I was thinking something like this to avoid breaking change

[code]

I don't really have time to do this + the tests required, I'd be open to merging it if you could figure it out? I'd open VSCode & search for everywhere in the project where the keyword "transformer" is used and start hacking

[2021-05-18 12:36] KATT commented on #378
# Development workflow

[code]

## Hacking around with it

In one terminal, will run `preconstruct watch` in parallel which builds all `packages/*` on change:

[code]

In another terminal, you can for instance navigate to `examples/next-hello-world` and run `yarn dev` & it will update whenever code is changed in the packages.

## Testing

[code]

[2021-05-18 12:40] simonedelmann commented on #378
Thank you! I will have a look and try to implement that! Probably taking some days playing around with the library first.

[2021-05-18 13:41] KATT commented on #384
Why wouldn't you want to do this in prod?

Maybe a default logger for development would be useful - feel free to make a PR!

[2021-05-18 13:41] KATT commented on #384
I've added you as a contributor https://github.com/trpc/trpc/invitations

[2021-05-18 14:28] kripod commented on #384
The reason why I wouldn’t emit messages to the console is that HTTP responses will already have an error code of 500, which Vercel and other logging services keep track of. The message about the error returned in production already contains enough information to investigate on.

I’ll try creating some PRs soon – work makes me pretty busy nowadays, sorry about that.

[2021-05-18 14:33] KATT commented on #384
I love that you have so many ideas for improvements, if you need any guidance on how to contribute, let me know!

[2021-05-18 14:52] kripod opened #390 "Allow passing no `input` on mutations with optional/no input"
When no `input` is specified for a mutation on the back-end, the corresponding `useMutation` hook shouldn’t require any variables to be given. Unfortunately, this isn’t the case over here:

<img width="667" alt="image" src="https://user-images.githubusercontent.com/14854048/118673198-1c08a380-b7f9-11eb-908f-569f7e4be556.png">

With code similar to:

[code]

[2021-05-18 15:01] kripod opened #391 "Context type of queries and mutations isn’t inferred when using React Query"
When [doing updates optimistically](https://react-query.tanstack.com/guides/optimistic-updates), having a `context` value to roll back failed mutations with is crucial. Unfortunately, the `TContext` type used within React Query isn’t inferred in tRPC’s React Query client, and so the value of `context` will always be `unknown`, e.g. in `onError` handlers.

Providing a fourth generic type parameter,

[2021-05-18 16:17] KATT commented on #390
Does it work with `null` or `undefined`? If so, please close the issue - feel free to update docs to make this more clear

[2021-05-18 16:18] KATT commented on #391
That's not a bug, that's a feature, PR very welcome :)

[2021-05-18 16:33] KATT commented on #390
I rephrased it, but please let me know if it works with `null`.

[2021-05-18 21:01] kripod commented on #390
It works just fine with both `null` and `undefined`. Closing this for now.

[2021-05-19 13:41] #378 closed

[2021-05-20 08:00] KATT commented on #390
Re-opening as it'd be a nice feature.

[2021-05-23 11:05] KATT opened #412 "Implement exchanges/middlewares to make client more pluggable"
## Background

I'd like to make the calls through tRPC-client more customizable so you can intercept procedure calls and decide what to do with them.

## References

- [Apollo has links](https://www.apollographql.com/docs/react/api/link/introduction/)
- [urql has exchanges](https://formidable.com/open-source/urql/docs/architecture/#the-client-and-exchanges)

### Visualisation from urql docs

<a hr

[2021-05-26 10:52] KATT opened #433 "Reduce amount of examples"
a bit too many to manage, should remove a few

[2021-05-26 10:52] #433 closed

[2021-06-09 12:32] #412 closed

[2021-06-09 23:10] KATT opened #474 "next major"
- [x] cleanup `@deprecated`
- [x] change loggerLink to accept a custom logger with proper opts
- [x] maybe change ending link to return `Error` downstream if (`!result.ok`)
- [ ] ~maybe force you start trpc client with links`
- [ ] stricter context

[2021-06-10 12:01] #474 closed

[2021-06-10 16:22] KATT opened #506 "Batching - safeguard for max url length"
---

**Challenge described:**

- Max characters for a url is ~2k characters (I think)
- Currently the batching lumps everything in a request as `/api/trpc/posts.byId,posts.byId.query,posts.byId?batch=1&input=${encodeURIComponent(JSON.stringify(input))}`

This could potentially lead to situations where the client constructs a url that is too long.

**A few things we could do to prevent this**

- Ch

[2021-06-11 14:14] akomm opened #510 "@trpc/server - router (query, mutation, ...) input + zod = "Excessive stack depth comparing types" TS ~4.3.2"
`@trpc/server`: 7.0.0

Given the following usage of mutation or query with input:
[code]

The input typing causes error `Excessive stack depth comparing types`. I'v downgraded typescript from 4.3.2 to 4.2.4 and the error is gone. I don't know if its a TS bug, or BC-break. I did not test all versions >4.2.4 up to 4.3.2

[2021-06-11 14:20] akomm commented on #510
Its a zod bug: https://github.com/colinhacks/zod/issues/473

[2021-06-11 14:20] #510 closed

[2021-06-11 14:26] akomm commented on #510
I figured out, I don't get Excess error with zod outside the input, but it still did load very long, so I'v checked there ^^

[2021-06-11 14:54] akomm opened #511 "@trpc/server - Inferrence quirk with ProcedureInputParserCustomValidatorEsque<TInput>"
`@trpc/server`: 7.0.0
Typescript tested: 4.2.4 & 4.3.2

There is a small, but annoying quirk with inference on the `ProcedureInputParserCustomValidatorEsque<TInput>`:

[code]

[2021-06-11 22:44] KATT commented on #511
Not clear on what the problem is or what you'd expect as a solution. 🤔

May I ask why you don't use a validator?

[2021-06-12 12:24] KATT commented on #511
If you have a custom validator you need to assert and return a specific output, for example like this, from the tests: https://github.com/trpc/trpc/blob/6d092eb11dd74bbaa899d93d92a1935831294d7a/packages/server/test/validators.test.ts#L91-L96

[2021-06-14 08:24] akomm commented on #511
@KATT the problem is, that the return type of parser is not inferred, if you don't type the input as unknown

[2021-06-14 09:20] KATT commented on #511
Seems like it's a limitation with typescript inference and not specifically because of tRPC.

Anyway, there's a workaround & I think 99% of people using this tRPC are using validator libs

[2021-06-15 07:19] delaneyj opened #524 "Fastify 3 support?"
Did you have any plans for [Fastify](https://www.fastify.io/docs/latest/Middleware/) integration?   Feels like its a perfect fix as its decently low level and all TS.

I started writing a plugin but getting a little stuck in the types and the middie/express examples ported over (fastify has bridge support for express middleware ) don't seem to be working.

fastTRPC
[code]
called using
[code]

This

[2021-06-15 08:50] KATT commented on #524
Never actually worked with fastify so would need to dig in a bit more to understand how their requests and responses work. Seems like you _return_ rather than `.send()` responses

Do you have an existing fastify-project that you want to add tRPC on or is it a greenfield project and you're used and like fastify for the non-tRPC things? Because you can do a HTTP [standalone server](https://github.co

[2021-06-15 12:12] kripod opened #527 "Mutations with no return value stall forever"
When a `resolve` callback’s return type is either:

- `Promise<void>`
- `Promise<null>`
- `Promise<undefined`

tRPC doesn’t ever close the response stream, thus, stalling the client indefinitely.

The following code **doesn’t work:**

[code]

But the following return value change **does the trick:**

[code]

[2021-06-15 12:25] KATT commented on #527
Seems related to #512.

@kripod - could you add a failing test?

[2021-06-15 12:29] KATT commented on #524
@delaneyj - see #528

[2021-06-15 12:35] kripod commented on #527
@KATT Thanks for your quick response. Unfortunately, things are going pretty busy for me nowadays, so I won’t be able to add a test anytime soon.

[2021-06-15 12:38] simonedelmann commented on #527
@KATT This is not related to #512 , but might be an indication for the same problem. I think we should generally add tests for these non-defined cases, so we can catch bugs like this or like #512. (We need tests for undefined/null/{}/void input and output.)
I just saw, you've already added a test now. If you need help, I can add some more tests regarding that later today.

[2021-06-15 13:24] KATT commented on #527
@all-contributors add @kripod for bug reporting

[2021-06-15 13:24] KATT commented on #527
@simonedelmann happy if you can review the PR ❤️ and challenge the way I did it

[2021-06-15 13:54] delaneyj commented on #524
Wow you are fast @KATT .  I was afraid because it uses send + reply has a different interface than express middleware it might be a headache to do.

Reasons for Fastify
1. At least in my testing way faster
1. Full TS type checking
1. Solid middleware community that is fast
1.  Plugins effect types checking and completion

The standalone http server is great but middlewares, docgen, health/status,

[2021-06-15 14:24] #527 closed

[2021-06-15 14:29] KATT commented on #524
Fastify won't make tRPC faster, but if you have api routes that you don't want to have tRPC on it's alright to do it this way.

You can make an adapter similar to the express adapter, but this is fine as well.

Great that it worked out - will close this for now.

[2021-06-15 14:29] #524 closed

[2021-06-15 20:43] delaneyj opened #533 "Further documentation on the wire spec"
One of the big benefits Twirp has over gRPC is the ability to easily curl/postman the calls when testing or c/p to co-workers.  It would be nice to have a more detailed specification of what GET/POST/PATCH makes up a valid call (minus any transforms of course).

[2021-06-15 21:57] KATT commented on #533
@delaneyj https://trpc.io/docs/further-reading#internals

There's some there. It is hard to use postman etc for queries (`GET`) as the inputs are by `?input=${encodeURIComponent(JSON.stringify(transformer.serialize(input)))`

I agree it would be nice; might be possible to support an alternative way of doing queries for this purpose - do you have any ideas?

[2021-06-15 22:06] KATT commented on #533
FYI I'm also refactoring it all to be JSON-RPC 2.0-compliant #532

[2021-06-15 22:49] delaneyj commented on #533
I think moving to a JSON-RPC compliant interface is a great idea! Batching, notification baked into the spec.  If you really want to push it you could auto gen a OpenRPC doc and respond to `rpc.discover` requests based on the types and typedoc comments!
Getting all the benefits of a playground for free is super exciting

[2021-06-16 01:52] delaneyj opened #534 "Open-Rpc discussion"
Per #532 #533 with the move to be JSONRpc v2 compliance there is an opportunity to piggyback off of [existing tools](https://open-rpc.org/developers).  Specifically if TRPC can generate and respond to  [the extended spec](https://spec.open-rpc.org/#introduction) we get a lot of the kind of introspection that can be valueable for documentation and exploring APIs.

Thoughts?

[2021-06-16 09:49] KATT commented on #534
I know very little of this spec, but reading it it seems quite straight-forward except getting the inputs and outputs right as it's all done by type inference.

You seem to have worked with JSONRPC more than me, please review #532! 🙏

[2021-06-16 13:02] delaneyj commented on #534
I actually haven't dealt with JSONRpc other than quick tests in Go.  Ironically I read the spec seeing if there was a good way to automate some of it using TS types.  I'll be happy to look at the PR but don't know if I'm qualified to really know what it's missing.

In regards to OpenRPC its real value would be if you could discern type information automatically.  My hope was you could do it withou

[2021-06-16 13:03] delaneyj opened #542 "Make source/maps part of the library build"
When trying to follow the flow of a request it would be very helpful to be able to step through the debug directly in Typescript.

[2021-06-16 14:44] delaneyj opened #544 "Consider SSE to enable server->client http subscriptions"
Reading through the #532 PR it occurred to me that the JSON-RPC notification system only works one way, from client to server.  Most of the time you want it to be from server to client.  Although nothing about the spec says which side is which, in a browser this basically means the browser is the client.

One interesting approach could be to use [Server Sent Events](https://developer.mozilla.org/e

[2021-06-16 14:57] KATT commented on #544
SSE should be possible to add alongside WebSockets. I prefer WS myself as I don't have to think about max concurrent connection limit and my application doesn't have user numbers that make it hard to scale anyway.

The way our HTTP subscriptions work right now is through long polling and you pass a cursor of the current state and server let's the request hang until there's new data / times out. In

[2021-06-16 15:14] delaneyj commented on #544
I too love websockets, when they work.  At scale have had issues with OOM memory causing a host of issues.  The major issues at scale have been token based access timers, sticky load balancing, if a server goes down it takes everyone with it.  I'll dig into the examples more but this was just to plant the idea in your head. :smiley:

[2021-06-16 15:25] KATT commented on #544
Isn't scaling with SSE similar though, or am I missing something? It's still a persistent connection between a client and server(s) that also needs to be scaled.

[2021-06-16 15:29] KATT commented on #544
Scaling is not my area of expertise, but with WS and the current setup it should scale seamlessly on things like k8s/render.com - we'll listen to a `SIGTERM` and broadcast a reconnect notification to all clients which will create an overlapping connection and send a `ReconnectError` to any listeners.

## `SIGTERM`
https://github.com/trpc/trpc/blob/dcfff9e234b99d55d00157eb11a6300cf841e46b/examples/

[2021-06-16 16:14] delaneyj opened #545 "Transformers at server level"
https://trpc.io/docs/data-transformers show transformer at the client and in next handlers.  Would it be possible to match the client interface ala

[code]
so it working without being tied to Next.js

[2021-06-16 16:27] delaneyj commented on #544
If you are handling reconnect that's great, the SSE spec has it built in.  Since you are relying on `ws` it could be more reliable than the previous an earlier socket.io based approach.

[2021-06-16 16:28] delaneyj commented on #544
I'll close for now, will do more testing with the websocket approach until I have better reason to seek alternatives.

[2021-06-16 16:37] KATT commented on #545
There was a reason for this design that I have now forgotten.... wanna take a stab at it? I'd be happy to do the change.

Indeed this would be nicer... could be done as part of next major, #532 also has breaking changes.

[2021-06-16 16:38] KATT commented on #545
_If_ you do, start off with a fork of `feature/refactor-rpc`

[2021-06-17 09:16] KATT opened #549 "Next major breaking changes"
- [x] Align to JSON-RPC2 (#6)
- [x] Move `transformers` to router (#545)
- [x] Stop exporting classes (`Router / TRPCClient` - only export the `type`s so I am able to refactor to stop using classes) - #570
- [ ] ~Rename `middleware()`?~ fix docs
- [x] delete `useLiveQuery`  - #568
- [x] delete subs on http
- [x] make sure http reqs have req ids - #569
- [x] remove `transformer` as part of http han

[2021-06-17 10:47] akomm opened #551 "@trpc/react: Recommended for non-Next.js React projects"
From this: https://trpc.io/docs/quickstart#installation
I don't get why it is recommended for **non** next.js react apps?

In "using with next.js" you go straight ahead and use it:
https://trpc.io/docs/nextjs#add-trpc-to-existing-nextjs-project

But there is no usage shown without it.

I guess I could use SSR and not need hooks in that case or similar, but its kind of confusing to start with, when

[2021-06-17 11:01] KATT commented on #551
Yeah... the point I'm trying to make is that it works on your existing CRA projects or whatnot...

[2021-06-17 11:03] KATT commented on #551
How would you want the docs to be structured?

[2021-06-17 11:21] akomm commented on #551
I don't know yet, because I'v just started analyzing the library for my use. I like the idea, but reading it I was not quite sure why you wrote that and even after reading another 2 times still not. I just have vague guesses and for that to confirm I need to make tests and checks outside of "getting started" to figure out.

Its just usually people don't write stuff just for fun, so this point kind

[2021-06-17 12:38] akomm commented on #511
I'm the 99%. I'm using io-ts. The way the input is typed just invites typescript to lose the type information in the chain. Had to create an ugly adapter for it to work... nwm

[2021-06-17 13:08] delaneyj commented on #551
@akomm I'm using fastify and vue so I can tell you you don't need react or next, but you miss out on some of the work that has been done so far.  In its current state its really geared towards @KATT use case.  With further pestering its becoming more generic. :smile:

[2021-06-17 13:14] akomm commented on #551
@delaneyj
I think we have an missunderstanding.
I use next & react.

The "getting started" tells, that @trpc/react is recommended for **non** next.js usage, but then goes on using it for next.js usage example.

[2021-06-17 13:19] KATT commented on #551
@akomm - if you're using next.js, I think it's easiest to start with the [example projects](https://trpc.io/docs/example-apps)

[2021-06-17 13:23] akomm commented on #551
@katt thanks, it is useful, but it does the same thing: it uses @trpc/react :) I did check those already. So the confusion still remains.

[2021-06-17 14:36] KATT commented on #511
Feel free to open a PR to fix it! I don't know how to do it and it feels like it'll take me several hours to resolve.

[2021-06-17 14:52] KATT commented on #551
Oh I see, well, with nextjs you use **both** `@trpc/react` & `@trpc/next` - the latter depends on the former

[2021-06-17 14:55] akomm commented on #551
Okay thanks

[2021-06-17 14:58] #545 closed

[2021-06-17 21:51] kripod opened #559 "Cancelling mutations should throw an `AbortError` instead of `new Error('Done')`"
Since upgrading to v7, I’ve noticed that the exception handling mechanism in use by our company doesn’t work anymore:

[code]

I think I found the guilty code snippet:

https://github.com/trpc/trpc/blob/4a5654b36ca3a520d7e369cd45f6eab4c95c6e57/packages/client/src/createTRPCClient.ts#L251-L256

It should be corrected to throw an `AbortError` instead, just like DOM APIs (e.g. `fetch`) do.

My use-ca

[2021-06-17 21:56] kripod commented on #559
As weird as it might sound, the issue doesn’t seem to be affecting Firefox, but it’s reproducible in Chrome.

[2021-06-17 23:33] KATT commented on #559
Make a PR with a failing test and I'll fix it and make sure it'll never happen again.

[2021-06-18 12:37] #559 closed

[2021-06-18 20:14] delaneyj opened #564 "Middleware next?"
Unless I'm missing something you can't have a middleware do pre/post style flow ala koa...

[code]

[2021-06-19 09:49] KATT commented on #564
You are correct. I actually considered calling middlewares something else when I made them as it is not the same as express middlewares.

What would you want to use it for?

[2021-06-19 09:50] KATT commented on #564
If you'd do a pr that changes middlewares according to the above I'd be up for that

[2021-06-19 11:27] KATT commented on #564
You are correct.

I actually considered calling middlewares something else when I made them as it is not the same as express middlewares. Originally it was called liked `preHook` or something like that, but ended up being called `middleware. See the original PR https://github.com/trpc/trpc/pull/87

- What would you want to use `next()`-calling for? Is there a need for a `connect`-like middleware l

[2021-06-19 14:08] delaneyj commented on #564
Well in my exact situation I'm parsing a paseto token in the preNext, and in the postNext looking at the expiration date and if its within a bound using the refreshToken to regen the accessToken and send it back in headers.  While you could do this outside of tRPC, you can't if you want to be protocol agnostic.  You could do a pre/post hook, but as Koa has shown, just having async/await cleans thi

[2021-06-20 00:10] KATT commented on #564
I'd do both of those things in `createContext` (and attach the user obj to ctx so it's passed through to all resolvers).

Doesn't seem like you _need_ do that token regen after resolving the request, or am I misunderstanding?

Secondly, createContext is called only once per request even if you're batching, but mutating as part of a middleware will be multiplied with the number of calls you did in

[2021-06-20 01:43] delaneyj commented on #564
right now your encode/decode goes through transformer.   but it could be a generic middleware if it was more like koa.  also supporting things like brotli over the wire would just be another middleware.

[2021-06-20 09:49] KATT commented on #564
The goal is not really for tRPC to be completely standalone, but something you can plug in to whatever server you used. I first created the createHttpServer for the integration testing, exposing it was just a "meh, why not?" side-effect.

Anyway, middlewares on a router level will not be the solution for your auth as they can be called several times in the same request (batching). Do this stuff in

[2021-06-20 17:16] KATT opened #565 "contributors"
- @all-contributors please add @anthonyshort for financial
- @all-contributors please add @pnfcre for financial

thank you both so, so much ❤️ this is the best validation that i'm making something useful

[2021-06-20 17:16] KATT commented on #565
- @all-contributors please add @anthonyshort for financial
- @all-contributors please add @pnfcre for financial

[2021-06-20 17:17] KATT commented on #565
@all-contributors please add @anthonyshort for financial

[2021-06-20 17:17] KATT commented on #565
@all-contributors please add @pnfcre for financial

[2021-06-20 17:18] #565 closed

[2021-06-21 08:46] akomm commented on #511
I'm not quite sure why the issue is closed though. The problem with the typing is that you have 1 generic instantiation and 2 possible inference sources. So the fix would be BC break, but I don't see how it makes the situation "not an issue" ;P

[2021-06-21 08:53] KATT commented on #511
Have a look here if you want to address it - I won't myself.

- https://github.com/trpc/trpc/blob/main/packages/server/src/procedure.ts
- https://github.com/trpc/trpc/blob/main/packages/server/src/router.ts

[2021-06-21 09:59] #367 closed

[2021-06-21 11:34] akomm commented on #511
@KATT Thanks. Its same issue type, as [this next-auth issue](https://github.com/nextauthjs/next-auth/issues/2080). I'v posted a fix there. The issue is with the BC, I'll check back on this too.

[2021-06-21 15:18] akomm opened #574 "@trpc/next withTRPC "eats" pageProps"
`@trpc/next`: 7.2.1

Wrapping `_app` in `withTRPC` removes `pageProps`

Example: `pageProps` is undefined:
[code]

Example: `pageProps` is not undefined:
[code]

[2021-06-21 16:28] KATT commented on #574
@akomm i think i've just resolved this in the latest v8 alpha

[2021-06-21 16:29] KATT commented on #574
think this is fixed by #575 - try upgrading to `^8.0.0-alpha.6`

[2021-06-21 16:31] KATT commented on #574
see #549 for info on breaking changes

[2021-06-21 17:35] akomm commented on #574
Thanks!

[2021-06-21 17:49] KATT commented on #574
Let me know if it works - it's one of those things that are hard to do automatic testing for

[2021-06-21 18:32] #534 closed

[2021-06-22 09:41] akomm commented on #574
@KATT tested it, `pageProps` is not undefined anymore :+1:

[2021-06-22 09:45] #574 closed

[2021-06-22 09:50] akomm commented on #551
On my side this is now clear. I still think its confusing for beginners maybe. But if you don't want to bother with it you can close.

[2021-06-22 10:36] #551 closed

[2021-06-22 10:39] #549 closed

[2021-06-22 10:42] KATT commented on #533
See https://trpc.io/docs/rpc

[2021-06-22 10:42] #533 closed

[2021-06-22 10:47] KATT commented on #368
I won't do this and you don't seem to either - will close for now, see how to use `getQueryData` in #583

[2021-06-22 10:47] #368 closed

[2021-06-22 10:48] #542 closed

[2021-06-22 10:48] KATT commented on #365
I only use SSR, never SSG, so I won't fix this - feel free to open PR.

[2021-06-22 10:48] #365 closed

[2021-06-22 10:49] KATT commented on #384
Won't fix this - feel free to open PR

[2021-06-22 10:49] #384 closed

[2021-06-22 14:14] #564 closed

[2021-06-25 14:44] akomm opened #596 "`@trpc/next` with `ssr: true` breaks `getServerSideProps`"
---

`@trpc/next`: 8.0.0-alpha.6

Using:
[code]
Any page with `getServerSideProps`, for example:
[code]
Will receive undefined props, then get refreshed with props (the latter usually never executes due to errors using undefined)

Removing `withTRPC` hof stops this behavior.

[2021-06-26 22:04] KATT commented on #596
Sounds like a bug.

On holidays for two weeks now, so if you want it fixed before that, submit a PR and I'll prob be able to review/merge/release.

[2021-06-27 08:31] KATT commented on #596
Guidance

1. Fork trpc
2. Add failing test / showcase it doesn't work as expected in the next-starter-prisma example
3. Submit fix + regression test

I'll add you as a contributor so you can do it easier

[2021-06-29 10:32] hampuskraft opened #606 "`TRPCError` is not exported"
Hi there,

I noticed that the `httpError` object is now [deprecated](https://github.com/trpc/trpc/blob/4a8272c02e471e76b0416e099698cb18009b3a42/packages/server/src/http/errors.ts#L7), suggesting to use the `TRPCError` constructor instead. However, it's not exported in `packages/server/src/index.ts`. I started making a PR but was unsure if I should export everything from `packages/server/src/errors

[2021-06-29 14:36] bytemagician opened #607 "Input is not being passed to mutation handler"
Apologies if I have missed something simple, but I cannot figure out why input is `undefined` in my mutation handler.

pages/api/trpc/[trpc].ts
[code]

routers/users.ts
[code]

types/index.ts
[code]

utils/trpc.ts
[code]

pages/_app.tsx
[code]

pages/register.tsx
[code]

Error
[code]

[2021-06-29 15:49] KATT commented on #607
Add a debugger / log in your onSubmit handler and make sure it gets any data?

[2021-06-29 16:01] KATT commented on #606
fixed by #608

[2021-06-29 16:02] KATT commented on #607
Oops -- associated a PR to the wrong issue

[2021-06-29 16:03] KATT commented on #606
Published as `8.1.2`

[2021-06-29 16:04] bytemagician commented on #607
Yes, I confirmed that onSubmit does get the form data and sends it to the backend.

I should have also mentioned that I used console.log in the createContext function and confirmed that the data does initially make it into the trpc server pipeline.

[code]

[2021-06-29 16:50] KATT commented on #607
Unable to debug without reproduction example. It looks right so I'm not sure what can cause it. On holiday right now so not addressing stuff that aren't urgent/burning.

[2021-06-29 16:51] KATT commented on #607
(damn sausage fingers - accidentally closed it again, sorry)

[2021-06-29 16:56] bytemagician commented on #607
No worries.

I scaffolded a brand new Next.js app and copy-pasted the trpc.io quickstart snippets. The issue is now gone so it seems the error was on my end rather than the trpc framework.

It's a bit confusing as I genuinely cannot find anything different between my original app and the vanilla one I just created.

Will go ahead and close.

[2021-06-29 16:56] #607 closed

[2021-06-29 16:57] KATT commented on #607
Happy you solved it!

[2021-07-01 10:34] Xetera opened #615 "Nullable inputs with default values are still required by the client"
When defining a route, it would be really convenient if the client can omit an input if there's a default value defined in the zod schema and make sure it's not typed as nullable on the server side.

Currently when you mark a type with something like `z.number().default(0)` the type stays `number` for both client and server which prevents the client from omitting it in the input.

When you mark it

[2021-07-01 10:38] KATT commented on #615
Thanks for supplying a reproduction! 🙏

This does indeed sound like a zod issue - did a quick skim through the issues, maybe this is relevant? https://github.com/colinhacks/zod/issues/425

Feel free to close if you conclude its zod and not trpc ☺

[2021-07-03 11:58] KATT commented on #615
I don't think this is possible with zod.. don't think you can infer the input type _and_ the output type of a schema.

I reckon you're better off making it optional/nullish & relying the `?? 0` inline rather than zod's `.default()`. That's what I still do as I haven't used these new zod 3 features much

[2021-07-03 12:02] Xetera commented on #615
The issue you linked is pretty similar to what I'm asking but not exactly the same thing. I ended up loosening the "promise" made in the router side where I default to a 0 like you mentioned. It's a little unfortunate since zod feels so versatile but it gets the job done here. Thank you for the response 👍

[2021-07-03 12:02] #615 closed

[2021-07-04 18:01] hypnodron opened #621 "@trpc/react trpc.useQuery ignores enabled: false during SSR"
The issue seems to be that it doesn't check for `opts?.enabled !== false` here:
https://github.com/trpc/trpc/blob/438c06d90a1a5c358468424860b4384675d5154e/packages/react/src/createReactQueryHooks.tsx#L211-L218

[2021-07-04 18:23] KATT commented on #621
This seems right, would you wna submit a fix? You've already pinpointed where the issue is ☺

I'm out hiking w/o a laptop this week but, will be able to merge and release your fix on Sunday.

[2021-07-04 21:06] lleyton opened #623 "@trpc/server - Handling CORS and CORS preflight requests"
When using the standalone server, it might be useful to handle CORS preflight requests. Currently the request just falls with a 405, Method Not Allowed. I'm proposing the addition of a `cors` field on the `CreateHttpHandlerOptions` object, which would contain an array of allowed origins, or a boolean of whether to allow all origins. Thoughts?

[2021-07-06 13:53] sam3d opened #631 "Error handling best practices"
Hello 👋  First of all thank you so much for this amazing project, it's _awesome_ to use and we're adopting it for some of our public facing services as an alternative to GraphQL at utility-company scale

Question about error handling best practices; the JSON-RPC spec includes the following description:

https://www.jsonrpc.org/specification#error_object

However, TRPC errors appear limited to the

[2021-07-06 14:44] cyrus-za commented on #631
I agree that we can expand from general HTTP errors to JSON-RPC spec. I'll wait for @KATT to respond when he is back next week

[2021-07-08 12:13] KATT commented on #631
Hey, I'll respond properly when I'm at a laptop in a few days

Here's just some points really quickly:

- tRPC is not really intended for public services as the contract of the api is inferred rather than declared, so be careful if doing that, or consider if graphql would be a better fit
- I think I've exposed more error codes than I've meant, the main ones I rely on in my application code are: un

[2021-07-10 19:07] sam3d commented on #631
Thank you for the quick response! I think the biggest issue I've faced is with using `mutateAsync` and losing inferred typing in the error thrown (as exceptions don't have types, vs the error object in just `mutate`). Would there be some way to transform the returned response from Zod if input validation fails into an `errors` object in the standard response, similar to the behaviour of graphql?

[2021-07-10 20:37] KATT commented on #631
I think I understand what you mean and yes, that's exactly the purpose of `formatError` - see the example in the link above.

[2021-07-11 09:32] sam3d commented on #631
Thank you for the quick reply! Sorry I deleted my comment so I could word it better as I think I wrote it too late at night to be making sense 😄

All of your replies make total sense - this is entirely an internal service so I have no worries about maintaining an explicit contract, having it inferred is already a massive time saver! I think what I'm maybe trying to do is to intercept the Zod input

[2021-07-11 10:22] KATT commented on #631
Hmm, if you don't want the input validation to throw you could do an empty pass through function in input, then do the validation yourself and return another output.

On my phone, so hard to type code, but for example - -

[code]

[2021-07-11 10:52] sam3d commented on #631
I considered doing that but yeah exactly I didn't want to lose implicit type safety. I'll continue to see if I can wrap `mutateAsync` to return `{ data, errors }` and also add an options object with something like axios's `validateStatus`. Thank you for your help (and again for making this awesome library!) ❤️

[2021-07-11 10:52] #631 closed

[2021-07-11 11:52] KATT commented on #631
Again, check out https://trpc.io/docs/error-formatting

It might be what you are looking for.

[2021-07-11 12:33] sam3d commented on #631
At the time I posted this issue I had already used these docs to return the zod validation error (and thank you for your perfect example there), but I couldn’t figure out how to modify this to return a different error code from the validation.

[2021-07-11 13:23] KATT commented on #631
Again, check out https://trpc.io/docs/error-formatting

It might be what you are looking for.

[2021-07-11 22:35] sam3d commented on #631
Can it do that?

[2021-07-12 08:59] #621 closed

[2021-07-12 11:39] KATT opened #648 "❤️"
@all-contributors please add @danielyogel for money

thank you so much!!!!!

[2021-07-12 11:39] KATT commented on #648
@all-contributors please add @danielyogel for financial

[2021-07-12 11:40] #648 closed

[2021-07-12 22:18] KATT commented on #596
Can't reproduce. See 5b43446 and screenshots attached. Feel free to re-open with reproduction example.

<img width="309" alt="Screenshot 2021-07-13 at 00 16 58" src="https://user-images.githubusercontent.com/459267/125362776-c0c5de00-e36f-11eb-88a6-5095858e8ef9.png">
<img width="434" alt="Screenshot 2021-07-13 at 00 17 13" src="https://user-images.githubusercontent.com/459267/125362741-b3105880-e3

[2021-07-12 22:27] KATT commented on #623
You can use the http handler straight-off.

### Example code

[code]

[2021-07-12 23:04] #623 closed

[2021-07-13 10:16] akomm commented on #596
The test has all sort of side-effecty things, not sure why (not good if you want to reproduce something), like this:

[code]

But it does not matter, I decided not to use the library.

[2021-07-13 13:14] KATT commented on #596
I used an existing example to quickly assess if what you reported was a bug or not since you didn't supply a reproduction example.

Curious - what did you end up using instead of trpc?

[2021-07-13 13:14] KATT commented on #596
And what made you not use it?

[2021-07-13 14:17] akomm commented on #596
I evaluate the benefit of a library vs. cost of patching and rewiring things to own needs (plus the hidden cost to keep adjusting those adaptations with updates). Based on that I either live with things not perfectly fit and adjust them, or I do it myself, or I use alternative (in this case I just do it myself).

In general, I'd rather write some code myself than adding a library. If the cost is n

[2021-07-13 14:40] KATT commented on #596
Thanks for the elaborate answer, @akomm! ❤️

I very much agree with your approach 🙏

[2021-07-13 14:42] KATT commented on #511
Closing this as I won't address it myself - if someone else experience problems related to this, feel free to nudge me [on twitter](https://twitter.com/alexdotjs).

[2021-07-13 14:42] #511 closed

[2021-07-16 14:32] danielyogel opened #666 "Example 'standalone-server' fails to compile"
Steps  to reproduce:

1. clone tRPC
2. `cd examples/standalone-server`
3. `yarn install`
4. `yarn start`

<img width="1001" alt="Screen Shot 2021-07-16 at 17 31 36" src="https://user-images.githubusercontent.com/2037064/125964075-ee06bfec-1cce-4d28-969a-78caeb11d465.png">

[2021-07-16 14:35] danielyogel commented on #666
Looks like running `yarn install` in the main dir as well fixed this.

[2021-07-16 14:35] #666 closed

[2021-07-19 09:25] danielyogel opened #672 "Client does not enforce 'no input' when an endpoint declared without 'input'"
Example

`
const appRouter = trpc
  .router()
  .query('getData', {
    async resolve() {
      return data;
    },
  })
`

`
 await api.query('getData', 'some unneeded input');
`

Runtime error - 'no input expected'.

Expected Behaviour:
Client should enforce no input on using the compiler.

[2021-07-19 20:22] KATT commented on #672
<img width="974" alt="testy" src="https://user-images.githubusercontent.com/459267/126222305-c0845385-4653-42f0-ade1-c5391cee1de1.png">

Hmm - can't reproduce, see this test case

[2021-07-20 12:13] KATT commented on #672
Do you have strict mode on in `tsconfig.json`?

[2021-07-20 13:09] sam3d opened #682 "Discriminate and extract return type"
Hello 👋

Is there a way to discriminate the return type of a hook so it can be accessed from the client? Something like the following psuedo-ish code (where "projects.findAll" is the name of the query in trpc router):

[code]

[2021-07-20 13:17] KATT commented on #682
Hey @sam3d

Seems like you're looking for this! 👇

https://github.com/trpc/trpc/blob/fdc5e071cb566335071e70b8f58299e846fa6d83/examples/next-prisma-starter/src/utils/trpc.ts#L15-L21

[2021-07-20 13:21] sam3d commented on #682
Wow that was fast and EXACTLY what I was looking for, thank you so much! Worked perfectly

I vote best open source maintainer award for @KATT 🏆

[2021-07-20 13:21] #682 closed

[2021-07-21 09:08] danielyogel commented on #672
This is my client's tsconfig.json:
<img width="323" alt="Screen Shot 2021-07-21 at 11 59 17" src="https://user-images.githubusercontent.com/2037064/126461718-21cc6c92-6692-46eb-b9f9-5f37407f4bae.png">

This is the type I get for a query with no input (arguments are 'unknown' not 'null/undefined'):
<img width="435" alt="Screen Shot 2021-07-21 at 12 06 08" src="https://user-images.githubusercontent.

[2021-07-21 10:14] KATT commented on #672
Make sure both have `"strict": true`... could be that, but I'm just guessing

[2021-07-21 14:53] danielyogel commented on #672
They both have `strict: true`
Actually, I've just verified this problem reproduces in tRPC's original 'standalone-server' example:

<img width="488" alt="Screen Shot 2021-07-21 at 17 50 58" src="https://user-images.githubusercontent.com/2037064/126509817-b2fbc3cd-2a43-4cda-873e-0d9044eed78e.png">

<img width="764" alt="Screen Shot 2021-07-21 at 17 51 49" src="https://user-images.githubusercontent.

[2021-07-21 15:55] KATT commented on #672
Ohhh --- you're right.

Try changing this line in the tests though to `await client.query('q', 'something');` and you'll get error correctly.

https://github.com/trpc/trpc/blob/d903a65f4506fb1f74bd6dc9f0e185fa94438b2c/packages/server/test/index.test.tsx#L172

Your guess is as good as mine, I tried throwing some tsconfig settings around but haven't hit the nail yet!

[2021-07-21 16:08] danielyogel commented on #672
Thanks!
I will do me best to find a solution as time allows me.

For now, at least from TS's side, [this may be a starting point](https://stackoverflow.com/a/54119811/1598423)

[2021-07-21 16:10] KATT opened #692 "❤️"
@all-contributors add @sam3d for financial

THANK YOU!

[2021-07-21 16:11] KATT commented on #692
@all-contributors please add @sam3d for financial

[2021-07-21 16:21] #692 closed

[2021-07-22 09:34] KATT opened #698 "`useQuery()`: `context` option not passed to links"

[2021-07-22 10:09] #672 closed

[2021-07-22 10:09] #698 closed

[2021-07-22 19:15] mmkal opened #703 "Expose `inputParser` on `Procedure`?"
Hi - have just started using trpc and it is 👌

One request: what do you think about exposing the (zod) schema on the `Procedure` object? The use-case being, I would like to create a UI in an internal admin app using [react-json-schema-form](https://github.com/rjsf-team/react-jsonschema-form) for various whitelisted "admin" queries/mutations. If we could access `appRouter._def.queries.myQuery.input

[2021-07-22 22:50] KATT commented on #703
On phone, will give example tomorrow, but

1. Define schema in React component
2. Import said schema into your the trpc router

[2021-07-23 01:42] mmkal commented on #703
Interested to see the example, but I think I may not have explained the use case properly. I want to take an appRouter defined on the server side, with `@trpc/server` and zod inputs, and use it to get json-schema POJOs. Those POJOs can be used as the model for a json-schema based form in [retool](https://retool.com/) which we already use to build admin UIs. Retool happens to support [json-schema f

[2021-07-23 07:12] KATT commented on #703
Ohhh, using trpc with Retool is exciting, I'd love for that to work well.

I'll have a peek later today and see if we can find a solution.

[2021-07-23 10:56] KATT commented on #703
This is using the private property `Procedure::inputParser` so it's a bit of an unstable hack but it works, see b3427be - accessible at http://localhost:3000/api/trpc/posts.edit.input

<img width="542" alt="Screenshot 2021-07-23 at 12 55 33" src="https://user-images.githubusercontent.com/459267/126772508-22b80709-03e1-42af-a3be-257b84af19f7.png">

[2021-07-23 10:58] KATT commented on #703
You can use the above, just be aware it may stop working in the future without a major version change.

If you can make a proof of concept and document in the official docs or something it I would happily add better support.

[2021-07-23 11:00] KATT commented on #703
@all-contributors add @mmkal for ideas

[2021-07-23 11:32] KATT commented on #703
did an example that does it dynamically in 43f328c
<img width="603" alt="Screenshot 2021-07-23 at 13 31 21" src="https://user-images.githubusercontent.com/459267/126775941-4477aa96-724d-4ad6-875e-f62f144b8f80.png">

[2021-07-23 11:35] mmkal commented on #703
Amazing, thank you! Yes that example is exactly along the lines I was thinking. I will try to open a docs PR and make it non-private soon if I can get some spare cycles.

[2021-07-23 11:48] KATT commented on #703
@mmkal - I'll leave the PR + docs to you then. Would be really cool get an example of this up and running on retool, such a timesaver.

[2021-07-23 15:17] mmkal opened #709 "API Gateway adapter?"
Would you be open to adding an API Gateway adapter? I haven't dived in deeply enough to the express and standalone ones to know exactly what it'd entail, but here's our current approach:

[code]

Which is fine, but we're relying on the `serverless-http` library to do all the magic hacks that make our _entire_ backend work. And it doesn't feel right that we need express and serverless-http as prod

[2021-07-24 08:58] KATT commented on #709
This would be a great addition to the adapters! I was talking to a company that would want a very similar thing, I think - @thisdotrob, can you share what you ended up with?

You can use `trpc.createHttpHandler` straight off - see example code here: https://github.com/trpc/trpc/discussions/655#discussioncomment-996126.

If you want to add an official adapter, you can like at the [next.js one for a

[2021-07-24 08:59] #709 closed

[2021-07-24 08:59] #703 closed

[2021-07-24 13:05] Unbuttun opened #715 "Fastify plugin for TRPC for easy config."
A config for fastify can make lot's of things easier when it comes to configuring trpc onto some route of fastify.
In the example file of [fastify.test.tsx](https://github.com/trpc/trpc/blob/main/packages/server/test/adapters/fastify.test.tsx), although it's shown there, but the process looks a bit cumbersome and not easy enough to understand.

There is also a quick plugin done by @KATT on https:/

[2021-07-24 16:22] KATT commented on #715
Thanks for the suggestion and for looking through the issues.

I don't use fastify myself so I won't spend time writing a specific adapter for it, but I'd happily review & merge if someone else did a PR. Look at the next adapter if you want a reference.

[2021-07-24 16:56] KATT opened #717 "Middleware `next()`"
Moving this (back) to issues as I agree with @mmkal & @mmkal that this would be useful, especially now that batching is enabled by default for things like time logging.

### Discussed in https://github.com/trpc/trpc/discussions/586

<div type='discussions-op-text'>

<sup>Originally posted by **delaneyj** June 18, 2021</sup>
Unless I'm missing something you can't have a middleware do pre/post style

[2021-07-29 00:07] KATT opened #733 "Reduce `TRPCError`-codes"
we expose a bit too much

[2021-08-01 23:27] etienne-dldc commented on #596
Hi,

I have the same issue trying to add TRPC to an existing App...
Any clue where it could come from ?

[2021-08-02 00:37] KATT commented on #596
@etienne-dldc see if you can produce a reproduction using the next-prisma-starter example and open an issue!

[2021-08-02 01:01] etienne-dldc commented on #596
I think this is related to this https://github.com/vercel/next.js/discussions/11183

`_app.getInitialProps` does not receive the data returned by `[some-page] getServerSideProps`. This is fine for the render of the page itself because Next inject the data from `[some-page] getServerSideProps` before the render. But it breaks when the `ssrPrepass` is done since props are not there yet...

Here is a

[2021-08-02 17:46] KATT commented on #596
@etienne-dldc do you think there's anything that can be done inside of tRPC to counter it then?

Personally I never need to use `getServerSideProps` as I just expose whatever I want as a tRPC route that I use `useQuery()` on.

`getServerSideProps` slows down route changes, but `getInitialProps` doesn't.

[2021-08-02 21:18] KATT opened #746 "Batching transformers inconsistency input/output"
On output, we `serialize()` each entry
On input, we `serialize()` full input

This should probably be consistent.

[2021-08-03 07:32] etienne-dldc commented on #596
Not sure, the problem come from `ssrPrepass` and I'm not sure to understand what it does.

In my case I was experimenting with Trpc but I rolled back because of this issue.

I'm not sure about that, can you elaborate ?

[2021-08-04 07:43] donchev7 opened #752 "Badrequest using superjson transformer"
Hi,

I have a very simple app that I am testing:

[code]

when I call this endpoint with:

[code]

If I remove the **transfomer(superjson)** from the server it works as expected:

[code]

[2021-08-04 07:51] KATT commented on #752
It's because it expects a superjson-serialized object - try disabling superjson on your backend or send `?input=%7B%22json%22%3A%22hello%22%7D`

[2021-08-04 07:52] KATT commented on #752
I got that input payload from doing `copy(encodeURIComponent(JSON.stringify({json: "hello"})))` in my inspector (the fmt that superjson expects)

[2021-08-04 07:54] KATT commented on #752
Without superjson you would need to send %22hello%22 (`copy(encodeURIComponent(JSON.stringify({json: "hello"})))`)

[2021-08-04 08:11] donchev7 commented on #752
Without superjson I am able to do

[code]

I am using HTTPie. And note that I am calling a mutation endpoint with POST and not a query with queryParameters

[2021-08-04 08:15] donchev7 commented on #752
But nevermind, superjson is the problem here you are right. Even on a passthorugh:

[code]

  I can see:

[code]

[2021-08-04 08:16] #752 closed

[2021-08-04 09:02] akomm commented on #596
@etienne-dldc even when you navigate client-side, the router still needs to execute the "getServerSideProps" on the server to get the props. Its done via a background fetch to the route, which only retrieves the result of getServerSideProps as json, instead of the whole rendered component. Then the props are populated on client-side. This trip to fetch the props and populate is what cause a delay

[2021-08-04 12:02] etienne-dldc commented on #596
@akomm @KATT The server call to `getServerSideProps` does not slow down the page it only change the order in which event happen. Instead of `PageChange -> Load Data` you get `Load Data -> PageChange`.

@akomm You can use `getInitialProps` with function component: https://nextjs.org/docs/api-reference/data-fetching/getInitialProps

[2021-08-05 11:33] KATT opened #755 "[RFC] Using tRPC for public-facing APIs (OpenAPI/Swagger/etc)"
It would be nice if there was a way to easily expose tRPC-endpoints as REST (or GraphQL) for people who want to use tRPC for a public API and is a bit more intuitive. Could potentially drive adoption a bit more.

See #752 for an example of what gets confusing.

... been thinking a bit about it, but it's not obvious how it could work.

Maybe doing some sort of API-builder... or something where you

[2021-08-10 13:03] gabrielsch opened #768 "Utility type to infer query type"
It's common to pass values returned by a query to components as a prop in react, however it seems like it's difficult to get the `typeof` of a query without having to touch `AppRouter['_def']['queries']['queryName']` which looks a bit verbose.

Should TRPC export an utility type that makes it easier? Maybe something like `typeof inferQuery<AppRouter, 'query.name'>`

[2021-08-10 13:08] KATT commented on #768
Hey @gabrielsch - looks like this is what you want 👇
https://github.com/trpc/trpc/issues/682#issuecomment-883385653

[2021-08-10 14:41] KATT commented on #682
FYI it's also possible to do this with inputs of course

https://github.com/KATT/typescript.careers/blob/0469f6e5d1e981ebe540e83c8f66674bf079a10d/src/utils/trpc.ts#L26-L28

[2021-08-10 18:15] gabrielsch commented on #768
that's exactly what I was looking for, thank you @KATT !

[2021-08-10 18:16] #768 closed

[2021-08-11 09:38] cNille opened #775 "Monorepo with React Native + Next.js"
Hello 👋
We built a nextjs website with trpc and it has worked wonderful 🙌  Now we're migrating the website to react-native and have setup a monorepo with `yarn workspace` and `lerna` to keep backend in nextjs, but have the frontend in react-native. To share code I'm extracting the `trpc` code to a `common`-package and get some error. It's probably due to bad tsconfig (I'm not yet an ts-expert...).

[2021-08-11 10:30] KATT commented on #775
Tjena,

I know @cyrus-za has a monorepo setup with Nx - maybe he can share some insights?

In the actual tRPC repo I have a monorepo-setup with lerna/yarn so maybe it's worth poking around here for inspo?

The way I'd think would be nice for setup:

[code]

Feel free to book a slot with me and I'll _try to_ help you (for free) - super curious about the RN-stuff - https://calendly.com/alexdotjs/30m

[2021-08-11 11:35] cNille commented on #775
Would love having a chat with you about the setup, I'll book a slot 🥳
I have a similar setup that you propose but with the packages `web`, `app`, and `common`. The common-package both contains the trpc routers, but also some react-code so that we in the future can share it with the web using `react-native-web`. I'll look into the repo for inspiration until our meeting.

[2021-08-11 11:44] KATT commented on #775
I would possibly separate the `common` and component stuff - or make it so you can do the import as `@vembla/common/trpc` + `@vembla/common/components`.

Be mindful of bundle sizes & prevent the accidental import of server stuff on the client if you have one entry point and do `import {MyComponent} from '@vembla/common'` and that also exports trpc-server stuff I don't know if it'll be cleaned up b

[2021-08-14 16:36] KATT commented on #775
It was great chatting to you! Excited to hear about how it'll work with RN.

Would be great if you can share your progress and even more awesome if you'd like to do like a reference project with the monorepo setup 🙌

[2021-08-17 00:11] KATT commented on #596
This issue seems valid after all. Sorry for initially closing it. It's for the same as urql can't do it, see here - https://github.com/FormidableLabs/urql/discussions/1091.

I'm doing some exploratory stuff to see if there's a workaround.

[2021-08-17 01:00] KATT commented on #391
Closing as it's stale and no one else has bumped it

[2021-08-17 01:00] #391 closed

[2021-08-17 01:00] #715 closed

[2021-08-17 10:59] akomm commented on #596
@KATT regarding your previous answer, why does nextjs discourage to use `getInitialProps` and recommends using `getServerSideProps` or `getStaticProps` instead? https://nextjs.org/docs/api-reference/data-fetching/getInitialProps

[2021-08-17 11:03] KATT commented on #596
Yes, for most applications this is true, but as a library author `getInitialProps` is super useful as it's the only thing that can do a prepass render the whole tree and do things like caching `useQuery`-calls, etc. And as I previously mentioned, the DX/UX you can get thanks to this is unparallel.

tRPC's plugin is largely based on urql's implementation - you can read more details about theirs her

[2021-08-18 10:09] KATT commented on #596
Solving this is blocked by https://github.com/vercel/next.js/discussions/28183.

[2021-08-18 16:13] #775 closed

[2021-08-20 10:44] #733 closed

[2021-08-20 10:44] #746 closed

[2021-08-20 12:07] mmkal commented on #755
For local development I've played around with an express middleware that just mutates `req.query` to make it more "traditional". It only really works for very simple input schemas that are extensions of `Record<string, string>`, and there may be a whole host of edge-cases, but it's been handy for using postman etc.

We are using trpc (I feel I should re-iterate - it is **so** awesome) for our whol

[2021-08-20 14:29] KATT opened #810 "tRPC v9 feedback before marking it as `9.0.0`"
I've just merged the #732 & #718 to `main` and released a new V9 draft.

**Are there any other structural, potentially breaking changes that you would want to get into the next major?**

It should be production-ready so feel free to update your deps to `9.0.0-alpha.2`, play around with it, and give me feedback.

I have tried slowing down on the major version bumps, so I would ideally not do more b

[2021-08-20 19:09] simonedelmann commented on #810
Great work, @KATT ! I am looking forward to update my app, when I find some time.

You asked about other things which could be changed for the next major and I think we could use the opportunity to improve the transformer syntax. (my favorite topic 😉 ) I am currently on vacation so I here is just a small idea. Feel free to implement, improve or forget... whatever you like.

For transformers curren

[2021-08-20 20:10] mmkal commented on #810
I am also on vacation for the next couple of weeks, so can't contribute code but can leave a couple of thoughts I've had here. I don't think any of them would need to be breaking though, necessarily.

Middleware - it'd be really cool to be able to "refine" the context. Example for a router with `type Context = { userId: string | null }`:

[code]

___

Mentioned in #271 but an `output: z.object({ .

[2021-08-21 10:33] KATT commented on #810
I really don't see the use-case of this and it's still possible to do your own implementation like this using the existing solution.

However, re transformers, one thing _I have_ thought about is that it could be nice in some cases to optionally enable/disable them on a request-basis. Has anyone else been looking for that? Especially useful when once we'll look closer into #755.

Yes, I agree. I k

[2021-08-24 20:53] danielyogel opened #830 "tRPC in production"
I've used tRPC to build a full-stack web application, but when deployed I find that I must specify the absolute path of my server as `url` parameter to 'httpLink'.

Any idea why "localhost" or "/"  - not working?
Any chance it's not even related to tRPC?

* I Deploy to "Google Cloud Run" using docker images.

[2021-08-24 21:00] KATT commented on #830
Hey!

Have a look if the comments inline here work well: https://github.com/trpc/trpc/blob/639cb5765124bff985cda0b04d481427f12b560a/examples/next-prisma-starter/src/pages/_app.tsx#L16

[2021-08-24 21:17] danielyogel commented on #830
Not sure - is the suggestion is to pass an empty string as url?
BTW - I don't use 'next' or any SSR.
Thanks! :)

[2021-08-24 21:42] KATT commented on #830
I don't think it's related to tRPC as such and don't know anything about your deployment to answer any questions.

I'm not familiar with Google Cloud Run but you need to make sure that your node.js server is publicly accessible and then figure out the full URL somewhere, and then feed that into `url:` of the front-end, where that is deployed. Possibly you also need to configure CORS if they aren't

[2021-08-25 14:36] KATT commented on #810
## Release notes

- `next()`: method in server-side middlewares - [see docs](https://trpc.io/docs/middlewares)
- `responseMeta()`: Better support for custom HTTP headers & status code - [see caching docs](https://trpc.io/docs/caching)
- Server-side errors in `@trpc/next` are now serialized

### Upgrade guide for the 99% usecase

1. `npx npm-check-updates --filter /@trpc/ -u  && yarn`
2. Simply upd

[2021-08-27 12:41] KATT opened #836 "❤️ add jzimmek"
add @jzimmek for financial contributions

thank you! ❤️

[2021-08-27 12:50] #836 closed, assigned to nobody

[2021-08-29 07:40] KATT commented on #717
Part of v9

[2021-08-29 07:40] #717 closed

[2021-08-31 06:31] danielyogel commented on #755
I wonder if keeping the tRPC’s endpoint definition clean and mostly “just write TypeScript” (as they are now), then adding something like “API_STYLE” with values of Array<REST/GraphQL/tRPC>, as a per route (and/or per server) option - would be nice.

As a more “advanced” option, a “transformToAPI” and “transformFromAPI” hooks may help, but I would defer this implementation, as most people just nee

[2021-09-03 09:29] KATT commented on #755
@danielyogel this is sort of the approach I've been thinking of too - allowing to have an "OpenAPI-builder" that is a separate package. Would probably be possible to use something like [tsoa](https://github.com/lukeautry/tsoa) or [openapi-typescript](https://github.com/drwpow/openapi-typescript) and then map the Swagger schema to specific procedures in your trpc-router

[2021-09-03 17:09] #218 closed

[2021-09-03 19:13] KATT opened #879 "rename `TRPCError.originalError` to `TRPCError.cause`"
align with https://github.com/tc39/proposal-error-cause

[2021-09-05 08:32] KATT opened #887 "[RFC] Next major overview"
So. We're making a new major.

## Goals

- **More ergonomic API for creating procedures** and building out your backend
- **CMD+Click** from your frontend and jump straight into the backend procedure. This will work with `react-query` as well!
- **Better scaling** than the current structure - the TypeScript server starts choking a bit when you get close to 100 procedures in your backend
- **Fully

[2021-09-05 14:20] #879 closed

[2021-09-06 14:29] KATT opened #898 "[RFC] New docs"
### New doc sections

- **HTTP RPC Specification** -> https://trpc.io/docs/rpc
- **Subscriptions / WebSockets** -> https://trpc.io/docs/subscriptions

Any feedback? Feel free to modify or write here and I'll update

cc @mmkal @Lilja @danielyogel @cyrus-za @peterp @anthonyshort

[2021-09-09 07:01] #898 closed

[2021-09-15 21:45] mmkal opened #949 "`inferProcedureInput` broken in published package"
This is a super weird one. It may have been me who broke it, and I haven't been able to figure out how/why yet. My team's project hits this error trying to update to v9.6.0 (from v9.0.0-alpha.0, which was before #915 went in but after/somewhere in the middle of #718).

We're finding that *under certain conditions* `inferProcedureInput<>` is returning `unknown` (in fact, it's the type inference of

[2021-09-16 12:00] KATT opened #952 "❤️"
@all-contributors add @theobr for financials

[2021-09-16 12:00] KATT commented on #952
@all-contributors add @theobr for financial contributions

[2021-09-16 12:12] #952 closed

[2021-09-16 12:59] KATT commented on #949
My gut feeling is that this might be related to #915... doing some investigation now

[2021-09-16 13:00] KATT commented on #949
My gut feeling is that this might be related to #915... doing some investigation now

[2021-09-16 16:56] #949 closed

[2021-09-20 09:37] akomm commented on #755
I don't think RPC fits into GraphQL or Rest in terms of automation. I think any attempt to do it would end up in an endless spiral of people issues. I don't say you can't map to it, just that its complex to automate to fit all the demands that will come at you ;).

[2021-09-20 14:09] KATT opened #969 "❤️"
$$!

[2021-09-20 14:09] KATT commented on #969
@all-contributors add @mgreenw for financials

[2021-09-20 14:19] #969 closed

[2021-09-20 14:43] benbender commented on #755
I would agree that it might be a lost cause to try to support Graphql and/or Rest within their own semantics. Rest has the relation between url and object, which an RPC-style interface don't have.
A full-fledged GraphQL-Server on the other hand needs a query-engine which constructs the result based on the query from within the client - also unknown to an rpc-style server.

So it might be solution

[2021-09-20 15:08] akomm commented on #755
I don't see how it fits in a fashion which could be automated to produce any meaningful API based on this. Maybe we need to work with examples and figure out a way.

Given this return from a query (we reduce the issue to just the return type as a starter)
[code]

What would be the graphql type for that? Consider `type` is an arbitrary discriminant and you might also have more than one.

[2021-09-20 15:38] sam3d opened #971 "Type input without using zod/validation?"
Hello 👋

Is there a way to type the input object without using validation? I'm trying to re-create the behaviour of this Blitz example:

https://github.com/blitz-js/blitz/blob/63af540c879fe71dfad561d814b4da57dcafe576/examples/auth/app/projects/queries/getProjects.ts#L9

[2021-09-20 15:39] mgreenw commented on #969
@KATT Thanks for all your great work on tRPC!

[2021-09-20 15:48] KATT commented on #969
No worries -- feel free to book [a calendar slot](https://calendly.com/alexdotjs) - I'm curious to hear more about how you're using tRPC :)

[2021-09-20 17:41] KATT commented on #971
Yes, but you should really, really **not** do this

[code]

[2021-09-20 18:01] benbender commented on #755
I was thinking about generating the queries/mutations based on the trpc-api (f.e. using graphql-codegen) in a direct mapping. So it wouldn't be possible to create your own, arbitrary queries/mutations, but you would have a one-to-one mapping to the ones defined in the trpc-routers. Basically every method would get its own input- and output-type in graphql-land. In my mental model I've tried to sim

[2021-09-20 19:41] #971 closed

[2021-09-21 08:41] akomm commented on #755
First thing I want to mention is. I let it go through my head with the mental mode of "how could it work" and not "what problems are there". I merely represent the result or problems I still encoutered and could not "fix".

On first glance you can map TRPC query/mutation/subscription names into the graphql world by replacing invalid characters in TRPC names with accepted in GraphQL spec. However,

[2021-09-22 11:44] sam3d opened #990 "initialData is typed for the procedure input instead of the procedure output"
Bit of a weird one, it seems as though when using `useQuery` the `initialData` expects the same typings as the query's input parameters instead of the output. I tried having a look at the typings to figure out why but I'm afraid the typescript wizardry of TRPC is a little beyond me!

![image](https://user-images.githubusercontent.com/8385528/134337567-7fe4c327-fd29-4594-ab9e-2000fb6cf469.png)

[2021-09-22 14:11] alii opened #991 "Allow to redirect user for an outbound API"
Something like this works but feels rather hacky, I wondered if there was a better way
[code]

[2021-09-22 14:13] alii commented on #991
Where the following would work:
[code]

[2021-09-23 11:34] #991 closed

[2021-09-23 15:09] KATT opened #998 "❤️"
$

[2021-09-23 15:09] KATT commented on #998
@all-contributors add @stemount for financials

[2021-09-23 15:57] sam3d commented on #990
Reproduction link: https://github.com/sam3d/trpc-repro

[2021-09-23 22:16] #998 closed

[2021-09-24 16:18] KATT commented on #990
Seems to be a react-query bug - see https://github.com/tannerlinsley/react-query/pull/2715

[2021-09-25 16:24] shunkakinoki opened #1013 "SWR support instead of react query"
As a SWR user, it would be great if trpc supported SWR too, perhaps another package? (happy to work on this)

[2021-09-25 23:04] #990 closed

[2021-09-25 23:04] KATT commented on #1013
I won't work on this myself, there's a lot of reasons why `react-query` is a better fit for tRPC, but feel free to work on it.

[2021-09-25 23:04] #1013 closed

[2021-09-26 09:53] #390 closed

[2021-09-27 11:30] KATT opened #1020 "Pin tRPC packages' versions to each other?"
For example, right now the `@trpc/client` depends on a `^9.x.y` - maybe it should be `9.x.y` so that dependabot will automatically always update them altogether.

I'm getting tired of doing `npx npm-check-updates --filter /@trpc/ -u  && yarn` everytime I release a new version 😅

[2021-09-27 12:45] cmcarey opened #1022 "Typescript errors when building"
First of all, thank you **so** much for building trpc, I'm finding it incredibly productive to work with.

I have a monorepo (Yarn V3 with PnP) with express+trpc server and react+trpc client. When building (running `tsc` in the client), I get the following errors:

[code]

The one place I refer to the server from my client is in one file:

[code]

I'm not sure what's going on here, as it looks lik

[2021-09-27 20:09] #1022 closed

[2021-09-28 01:10] KATT commented on #887
@mmkal would be awesome if you could share how we could make an options bag on that `Router<X>`

[2021-09-28 01:32] mmkal commented on #887
I got about 2/3 of the way through a PR to do it, but got distracted. I'm also not sure that it will help all that much, but I'll try to pick it up again some time in the next week.

[2021-10-02 10:01] KATT opened #1051 "❤️ new sponsor"

[2021-10-02 10:01] KATT commented on #1051
@all-contributors add @dev-alex06 for financial

[2021-10-02 10:10] #1051 closed

[2021-10-03 11:49] alii commented on #1020
Might this be possible with yarn berry workspaces and constraints?

[2021-10-04 16:27] KATT opened #1066 "❤️"

[2021-10-04 16:28] KATT commented on #1066
@all-contributors add @Memory-Lane-Games for financials

[2021-10-04 16:50] KATT commented on #1020
Could you elaborate? Not used yarn berry! Feel free to have a stab at a PR 😄

[2021-10-05 08:53] KATT opened #1085 "fix all contrib"

[2021-10-05 08:53] KATT commented on #1085
@all-contributors add @TheoBr for financials & review

[2021-10-05 08:53] #1085 closed

[2021-10-05 10:49] #1066 closed

[2021-10-11 13:57] KATT commented on #506
Sounds like you ran into it indeed!

Wow - how come you need to send 300 ids in a query? 😳 Can you explain a bit how this works in your app?

I'm surprised the browser didn't choke on it!

Maybe you can rewrite it as a list query instead somehow?

I don't think it's a Next.js limitation per se, but rather a [Node.js](https://stackoverflow.com/a/32763588/590396)-thing.

For now, the `GET` is the on

[2021-10-17 12:35] danielyogel opened #1131 "Support Zod's "parseAsync" method"
I've added an async transform to as Zod validator - and looks like tRPC does not support that.

Whan I use:
`z.string().nullable().transform(async (base64string) => {
            return await uploadToCloud(base64string).id;
          })`

I get:
"TRPCClientError: Asynchronous transform encountered during synchronous parse operation. Use .parseAsync instead."

Any solution?

This is very important

[2021-10-19 14:24] KATT opened #1142 "missing return type on `createClient`"
- Discussed in https://github.com/trpc/trpc/discussions/1025
- #1022

<div type='discussions-op-text'>

<sup>Originally posted by **cmcarey** September 27, 2021</sup>
First of all, thank you **so** much for building trpc, I'm finding it incredibly productive to work with.

I have a monorepo (Yarn V3 with PnP) with express+trpc server and react+trpc client. When building (running `tsc` in the clien

[2021-10-19 23:08] #1142 closed, assigned to nobody

[2021-10-19 23:09] #1020 closed

[2021-10-20 19:39] cmcarey commented on #1142
Awesome, thanks @KATT !

[2021-10-28 08:45] kimroen opened #1182 "Input schemas defined with Zod does not use the inferred input type"
### Summary
[code]

[CodeSandbox](https://codesandbox.io/s/heuristic-leakey-bjd51?file=/src/client.ts)

When defining an input schema using zod, I would expect the call site to accept the `z.input` version of the schema.

### Details

When you define a schema with zod, like this simple one:

[code]

You can infer its type with `z.infer` like this:

[code]

However, in zod you can also add transfor

[2021-10-28 10:05] #1131 closed, assigned to danielyogel

[2021-11-01 12:43] #1182 closed

[2021-11-02 21:29] alanrsoares opened #1200 "Unable to infer mutation input type from zod validation schema"
Hi team. First of all, I'd like to say I'm really enjoying trpc, but have had some trouble integrating it on an existing project based on react-query.

If I define a mutation route with an `zod` input validation schema, the generated hooks `mutate` and `mutateAsync` methods have `void` for variables. However, replacing it with a `yup` schema gets me a different result.

Consider the following rout

[2021-11-02 23:28] chimon2000 opened #1201 "invalidateQueries missing filters"
The `invalidateQueries` function is currently missing the ability to set QueryFilters

From react-query: https://react-query.tanstack.com/reference/QueryClient#queryclientinvalidatequeries

[code]

[2021-11-02 23:30] chimon2000 opened #1202 "queryClient.refetchQueries missing"
Trpc is missing the ability to manually trigger a query refetch.

From queryClient.refetchQueries: https://react-query.tanstack.com/reference/QueryClient#queryclientrefetchqueries

[code]

[2021-11-03 15:40] KATT commented on #1202
FYI: You can access the raw client in `const { queryClient } = trpc.useContext();` until this is in place

[2021-11-03 15:47] KATT commented on #1200
Here's a helper function:

[code]

Does that help?

If you think you've found an issue, please make a reproduction example - the tests for the validators are here: https://github.com/trpc/trpc/blob/main/packages/server/test/validators.test.ts

[2021-11-03 15:52] KATT commented on #1200
Also see discussion in #1172

[2021-11-07 00:57] KATT commented on #1200
@alanrsoares i think you need `.required()` on the yup object too as its not required as default.

[2021-11-07 10:50] KATT opened #1223 "❤️"
@all-contributors add @chimon2000 for financial

[2021-11-07 10:50] KATT commented on #1223
@all-contributors add @chimon2000 for financial

[2021-11-07 11:08] #1223 closed

[2021-11-09 14:25] KATT opened #1233 "test"

[2021-11-09 14:25] #1233 closed

[2021-11-09 14:26] KATT opened #1234 "testing webhook"

[2021-11-09 15:34] KATT commented on #1234
test

[2021-11-09 16:06] #1234 closed

[2021-11-10 10:16] danielyogel opened #1242 "Upgrade tRPC from 9.12.0 to 9.12.2 breaks my existing code"
Hey,

I've just upgraded tRPC to 9.12.2 from 9.12.0 (client and server libs) - and my project immediately failed to compile with 147 type errors.
Still have no idea what is the problem, maybe the way I must configure the router has changed?
Thanks.

**Update:**

Found the problem.
`npm install --legacy-peer-deps` won't do it anymore, I'll have to change some other dependencies from my project for

[2021-11-10 13:13] KATT commented on #1242
How did your package.json look before the upgrade? You always need to upgrade all `@trpc/*` together, that's what I intended to enforce with this change.

[2021-11-10 16:54] KATT commented on #1242
Oh yeah, I read on it now `--legacy-peer-deps` shouldn't be needed anymore, since [9.12.1](https://github.com/trpc/trpc/releases/tag/v9.12.1) we don't have for instance `@trpc/server` as a hard dependency of `@trpc/client`, instead it's a peer dependency, so it won't ever be installed twice.

[2021-11-11 15:34] KATT commented on #1242
Closing this as I don't see it as an issue - feel free to reopen if you disagree :)

[2021-11-11 15:34] #1242 closed

[2021-11-11 15:38] KATT commented on #1200
I will close this as I don't think it's an issue with trpc, feel free to re-open if you disagree

[2021-11-11 15:38] #1200 closed

[2021-11-12 13:37] JulienDemarque opened #1253 "enabling ReactQueryDevtools?"
I am looking on how to enable ReactQueryDevtools within trpc client.

[2021-11-12 13:45] KATT opened #1254 "[TRP-62] Kitchen Sink Wishlist"
# Kitchen Sink

- **Live Site:** https://kitchen-sink.trpc.io/
- **Source:** https://github.com/trpc/examples-kitchen-sink

The goal of the Kitchen Sink is to provide a good collection of useful design patterns when working with tRPC. It should be easy to navigate [kitchen-sink.trpc.io](https://kitchen-sink.trpc.io) and have it as a reference site — the northern star would be the [Tailwind Docs](h

[2021-11-13 20:57] merelinguist commented on #1253
There's nothing special to do, just include the Devtools component somewhere in your app https://react-query.tanstack.com/devtools.

[2021-11-13 20:58] merelinguist commented on #1253
See an example here https://github.com/trpc/trpc/blob/d2afc0c7bcec5bc7530540a157ba1d3e1d9052c4/examples/next-prisma-starter/src/pages/index.tsx#L93-L95

[2021-11-14 02:09] #1253 closed

[2021-11-14 07:15] waptik commented on #1254
Hey @KATT ,

I'm new to trpc and have been going through docs and the examples in this repo for days now(back and forth).

While giving kitchen-sink a try, I was going through its network requests and found this link https://kitchen-sink.trpc.io/api/trpc/reactHookForm.list,source.getSource,source.getSource?batch=1&input=%7B%220%22%3A%7B%22json%22%3Anull%2C%22meta%22%3A%7B%22values%22%3A%5B%22undef

[2021-11-14 10:30] KATT commented on #1254
Yeah yeah, @waptik, that's intended, I have it to enable "view source" functionality on e.g. https://kitchen-sink.trpc.io/react-hook-form

[2021-11-14 11:34] waptik commented on #1254
Oh my bad! Thanks for the clarification

[2021-11-14 15:04] mfbx9da4 opened #1262 "Integration with firebase functions?"
Is there an adapter for firebase functions. Is there any guidance for writing custom adapters?

[2021-11-14 18:26] #1262 closed

[2021-11-15 10:26] #1201 closed

[2021-11-15 10:26] #1202 closed

[2021-11-15 10:31] KATT opened #1265 "we ❤️ @snaplet"

[2021-11-15 10:31] KATT commented on #1265
@all-contributors add @snaplet for financial

[2021-11-15 10:37] #1265 closed

[2021-11-16 06:28] G3root commented on #1254
hey @KATT

i like to work on home page redesign, is there any mockup or a design ?

[2021-11-16 11:43] KATT commented on #1254
Hey @G3root! Thanks so much for the offer -- I'll try to make a mockup this week :)

[2021-11-16 12:00] G3root commented on #1254
Do you have any example sites in mind ?

[2021-11-16 12:31] KATT commented on #1254
Sites I think are nice

- http://prisma.io/
- https://blitzjs.com/

[2021-11-17 11:25] KATT opened #1276 "Implement `getLayout()` in `examples/next-prisma-starter`"
Implement `getLayout()` in `/examples/next-prisma-starter`

https://nextjs.org/docs/basic-features/layouts#with-typescript

[2021-11-18 01:12] ecwyne opened #1284 "Create Batch Resolvers"
Thanks for the amazing work! I've been really enjoying utilizing `trpc` in all of my new projects!

I'm curious if it's possible to create a batch resolver like they do in https://www.npmjs.com/package/graphql-resolve-batch

This way it's possible to have fine grained queries but batch the requests sent upstream to the database. Happy to help explain further or be a part of implementing this if th

[2021-11-18 04:23] ecwyne commented on #1284
Here was my first try (basically just reimplementing `graphql-resolve-batch`) Gave it a quick try but wanted to share a foundation in case it's helpful for others.

[code]

[2021-11-18 14:18] #1284 closed

[2021-11-19 12:46] KATT opened #1290 "👋 Who's using tRPC?"
Drop your company name, svg logo, link to your website, and links to any repos using tRPC! 🙌

Some companies / sites I know myself

- 🥇  [cal.com](https://cal.com) - Scheduling startup, [it's open source!](https://github.com/calcom/cal.com)
- 🥈 [ping.gg](https://ping.gg) - A better way to stream with friends (YC W22)
- 🥉  [interval.com](https://interval.com)
- 🥉 [newfront.com](https://newfront.com

[2021-11-19 12:47] #1276 closed

[2021-11-19 15:22] KATT opened #1291 "One example project failing since TypeScript 4.5.2 upgrade"
- Unsure why (didn't reproduce when I did a quick test locally)
- Bad commit: #1288 (maybe should revert?)
- Node.js 16 and specific to one example
- [Failing test on Node 16](https://github.com/trpc/trpc/runs/4255431938?check_suite_focus=true)
- [Same test on Node 14](https://github.com/trpc/trpc/runs/4255431890?check_suite_focus=true)

How to build the failing example locally

[code]
---

<img w

[2021-11-19 16:31] peterp commented on #1290
![image](https://user-images.githubusercontent.com/44849/142657914-79cc5ec7-9f53-491a-a2c1-290c57257a90.png)

[2021-11-19 17:07] Remeic commented on #1291
Hi @KATT , can't reproduce the bug on my macbook with node 16.13.0 and yarn 1.22.17, there something i miss?

Maybe i can try to clone again the project

[2021-11-19 18:15] alexeiaccio commented on #1290
https://fireflyfrequencies.org/ - European activist radio

[2021-11-19 21:15] KATT commented on #1291
I reverted the upgrade for now, but would want it to work of course ☺

[2021-11-20 17:41] KATT commented on #1291
Replaced by #1295

[2021-11-20 17:42] #1291 closed

[2021-11-25 10:56] JulienDemarque opened #1306 "useInfiniteQueries example with skip instead of cursor"
Got a use-case where using prisma cursor isn't fitting, can i use the endpoint cursor input as a skip property instead...?

[2021-11-25 11:15] KATT commented on #1306
Yup, I've done that myself, just have something like `cursor: z.number().min(0).default(0)`

It can also act as a page if you do `limit*cursor`

[2021-11-25 11:26] JulienDemarque commented on #1306
<img width="489" alt="Screen Shot 2021-11-25 at 13 25 09" src="https://user-images.githubusercontent.com/27313954/143433144-d0f22c73-7f0c-477e-a482-1f848e3dabea.png">
Got an other issue with that, ...data.pages seems to be an array of either `BaseRun[] | { items: BaseRun[]; nextCursor: number; }`
Why is that?

[2021-11-25 11:33] KATT commented on #1306
I need to see your procedure to answer that

[2021-11-25 11:44] JulienDemarque commented on #1306
Here is my definition:
[code]
 and the consumer:
[code]

[2021-11-25 11:47] JulienDemarque commented on #1306
Also struggling to infer the type from the query:
<img width="1095" alt="Screen Shot 2021-11-25 at 13 46 46" src="https://user-images.githubusercontent.com/27313954/143436224-8b687167-2ca6-40c8-a999-7659e314ed67.png">

[2021-11-25 11:49] JulienDemarque commented on #1306
If you have access to our repo: https://github.com/invisible-tech/invisible/blob/5780f864b099e2563c52c872b264090cad62c598/apps/manticore/components/Base.tsx#L269

https://github.com/invisible-tech/invisible/blob/5780f864b099e2563c52c872b264090cad62c598/libs/ultron/trpc/server/src/lib/routers/baseRun.ts#L32

[2021-11-25 12:03] KATT commented on #1306
Looks like you do an early return where you don't return `nextCursor`

[2021-11-25 12:09] JulienDemarque commented on #1306
Oh yes thank you!

[2021-11-25 13:00] #1306 closed

[2021-11-25 16:06] JulienDemarque opened #1308 "Can't pass an updater function to setQueryData"
According to react-query doc it should accept a function:
`updater: TData | (oldData: TData | undefined) => TData`
https://react-query.tanstack.com/reference/QueryClient#queryclientsetquerydata

[2021-11-25 16:23] JulienDemarque commented on #1308
Also the typing is wrong when the query to update is an infiniteQuery it seems...

[2021-11-25 17:14] KATT commented on #1308
Hmm, this might be right, I've not used `setQueryData` with infinite queries.

Feel free to try to make a PR with a repro or a fix 🙏

[2021-11-25 17:26] JulienDemarque commented on #1308
It's actually also missing on setQueryData with normal queries on our repo...

[2021-11-25 19:43] KATT commented on #1308
You can use the raw query client too through `trpc.useContext().queryClient`.

I don't know what's the issue in your repo, but respectfully, please spend more time on your issue reports - I'm not a support team on your paid enterprose product, I'm a solo developer who, for free, is maintaining a large toolkit that your company is saving a lot of time and money by using.

[2021-11-26 10:02] KATT opened #1312 "Get rid of `CACHE_KEY_QUERY`, `CACHE_KEY_INFINITE_QUERY` suffixes"
I've always added `CACHE_KEY_QUERY`, `CACHE_KEY_INFINITE_QUERY` to `react-query`'s query cache to prevent collisions of things that are fetched as an infinite query can't collide.

Turns out, this creates quite a bit of ugliness and tech debt all around tRPC so I am pretty sure I want to remove it. I don't think this should be a responsibility of tRPC and rather live in react-query.

[2021-11-27 09:01] #1312 closed

[2021-11-27 09:01] #1308 closed

[2021-11-27 14:46] GuiSim commented on #596
I just encountered this issue.
I wanted to use `getServerSideProps` for authorization but the page still gets rendered before the props gets loaded (and then re-rendered after that).

Steps to reproduce:
Create a sample project
`npx create-next-app --example https://github.com/trpc/trpc --example-path examples/next-prisma-starter trpc-prisma-starter``

Create `src/pages/home.tsx`
[code]

Going to

[2021-11-27 16:12] GuiSim commented on #596
Setting ssr to false "solves" this issue.

I'm unsure what the drawbacks of this are but it seems like a reason able workaround.

[2021-11-29 14:05] akomm commented on #596
I guess the query hook will only run on client and not server then. When I last read the docs it was not explained, this is just what I think it does and would make sense to me.

[2021-11-29 15:47] KATT commented on #596
I'm a one man band making tRPC, all example projects, and docs.. there are limits to what I have bandwidth to do. Super keen to take on pull requests from contributors with the gaps as you learn the edge cases.

This issue of combining getSSR+getSSG and getInitialProps is [out of my hands](https://github.com/trpc/trpc/issues/596#issuecomment-981664617) to fix as it's an issue with Next.js - if you

[2021-11-29 15:48] KATT commented on #596
Note: it's still possible to do manual server-side rendering or static props with `ssr: false` using the `getSSGHelper` - https://trpc.io/docs/ssg

[2021-11-30 14:59] merelinguist commented on #1254
Copy to clipboard closed by https://github.com/trpc/examples-kitchen-sink/pull/3

I’m working on codesandbox links and almost done.

[2021-12-07 21:52] alpacaaa commented on #1254
Minor thing: the react-hook-form example defines `validationSchema` twice. I think this one is redundant https://github.com/trpc/examples-kitchen-sink/blob/main/src/pages/react-hook-form.tsx#L6-L10

Thanks for trpc, it's really cool! :)

[2021-12-08 09:44] KATT commented on #1254
Correct! It should only have one schema, do you wanna make a PR and delete it perhaps? 👀

My pleasure ☺

[2021-12-08 09:45] KATT commented on #1254
@all-contributors add @merelinguist for examples

[2021-12-08 13:36] zebapy opened #1339 "using react-query persistentQueryClient in nextjs"
Taking a quick look at https://github.com/trpc/trpc/blob/4932414d3282a1f26787b5f25e9cfef03127d2a5/packages/next/src/withTRPC.tsx
it's not clear to me how I might be able to use react-query's experimental persist features https://react-query.tanstack.com/plugins/persistQueryClient

is this supported by another means? I mainly want caching in localstorage for fast cold start in a PWA.

My other opti

[2021-12-14 21:24] KATT opened #1342 "Add test matrix for `react-query` `4.0`"
## Goal

See if tRPC works with react-query 4.0 https://react-query-alpha.tanstack.com/guides/migrating-to-react-query-4

## How

- Add a react-query 4.0 beta to the [`main.yml`](https://github.com/trpc/trpc/blob/main/.github/workflows/main.yml)-matrix.

## References

- `react-query` does this to test react 17+18. Complete step-by-step here by @TkDodo: https://twitter.com/TkDodo/status/1470845970

[2021-12-14 23:37] MarcGuiselin opened #1343 "@trpc/next with ssr: true breaks react 18's useId"
Demo repo: [MarcGuiselin/trpc-useid-error](https://github.com/MarcGuiselin/trpc-useid-error)

Dependencies:

[code]

Using `withTRPC` with ssr enabled in `_app.tsx`
[code]

`index.tsx`:
[code]

Throws the following error: `TypeError: dispatcher.useId is not a function`

The `useId` function is defined itself, but internally react's `dispatcher.useId` is undefined when using ssr. I'm lost as to how

[2021-12-15 01:08] KATT commented on #1343
My guess would be the same as yours.. maybe do a test to see if prepass works with that or not?

I honestly probably won't be able to work on this before the end of the year.

[2021-12-15 03:31] MarcGuiselin commented on #1343
We're several months ahead of a release, so that's no issue. I'll take some time to look into it and I'll let you know what I find. Keep up the great work and enjoy the holidays!

[2021-12-15 12:05] #1342 closed

[2021-12-16 09:27] KATT opened #1346 "Maintainer on vacation! 🌴"
**Zup y'all!** & happy holidays :mrs_claus: :christmas_tree:

Just so that everyone is aware I'll be going on a **real vacation** :palm_tree: from next week and uninstall GitHub/Discord/LinkedIn/[..] from my phone until *at least* **10th of January 2022**.

**What does this mean?**

- No new releases of tRPC before this
- I won't be able to respond to issues on GitHub/Discord/etc

**ALL THE BEST**

[2021-12-21 00:52] KATT opened #1354 "Make `useQuery` with `suspense: true` to return non-nullable `data`"
### Describe the feature you'd like to request

`{ suspense: true }` should let us use `data` without checking its integrity.

We can use `suspense: true` in SSR now, see #3130

### Describe the solution you'd like to see

Given

[code]

`postQuery.data` should be **not** be nullable.

Considerations: if `enabled: true`, we should not infer it as non-nullable

### Desribe alternate solutions

- De

[2021-12-23 00:36] alexgorbatchev opened #1358 "Add `setInfiniteQueryData` helper"
if you have `useInifiteQuery(['foo', {}])` then `args` in `setQueryData<..., TInput, ...>(['foo', {}], args => ...`  is incorrectly typed. Types say that `args` is `TInput` where the actual value of `args` if inspected is `{ pageParams: ...,  pages: TInput[] }`

[2021-12-23 12:02] KATT commented on #1358
Hmm, what do you think is best, maybe we should expose a `setInfiniteQueryData` for this?

I'm on holiday and will completely delete all work-related apps for a few weeks from today. If you make a PR I'll merge it on the 10th of Jan.

[2021-12-23 20:49] KATT commented on #1358
**Original title:**

[2021-12-23 20:51] KATT commented on #1358
Potential others

- `getInfiniteQueryData` (?)
- `refetchInfiniteQueries`

[2021-12-23 20:52] KATT commented on #1358
Needs

- [ ] Added in https://github.com/trpc/trpc/blob/main/packages/react/src/internals/context.tsx
- [ ] Added in https://github.com/trpc/trpc/blob/main/packages/react/src/createReactQueryHooks.tsx
- [ ] Test added in https://github.com/trpc/trpc/tree/main/packages/server/test

[2021-12-30 22:50] ecwyne commented on #506
I'm running into this issue as well. Currently I've worked around it with an intersection observer that only loads when the element is in view but something like a `httpBatchLink({ maxURILength: 2048 })` or `httpBatchLink({ maxBatchSize: 20 })` would be very very helpful.

[2021-12-31 18:26] ananni13 opened #1361 "Next.js - Using getServerSideProps breaks trpc SSR?"
I noticed that trpc SSR doesn't work if a page uses getServerSideProps to load props.

Is this a bug or intended? I didn't find anything in the docs regarding this behaviour with SSR.

I was able to reproduce the problem using the [next-prisma-starter](https://github.com/trpc/trpc/tree/main/examples/next-prisma-starter) and simply modifying the IndexPage and 'post.all' query to use server side pro

[2022-01-01 05:24] ananni13 commented on #1361
Looks like it’s the same problem reported here #596, should’ve done a better research :)

So this is more of a Next.js issue, that App’s `getInitialProps` doesn’t have access to the pages `getServerSideProps` data right?

[2022-01-05 17:50] KATT commented on #1361
Yeah, this is a duplicate of #596 and there's not much I can do about it. If you want to use `getServerSideProps` you have to hydrate your own queries same way as [SSG](https://trpc.io/docs/ssg)

[2022-01-05 20:04] ananni13 commented on #1361
Thanks, for now I just disabled SSR entirely since the app I'm building doesn't really _need_ it and trpc is too awesome to give up 😄

We can close this one and keep the discussion inside #596.

[2022-01-05 20:04] #1361 closed

[2022-01-05 20:37] MarcGuiselin commented on #1343
https://github.com/FormidableLabs/react-ssr-prepass/pull/76 should fix this issue

[2022-01-08 16:01] KATT opened #1367 "❤️ add sponsors"

[2022-01-08 16:02] KATT commented on #1367
@all-contributors add @illarionvk for financial

[2022-01-08 16:02] KATT commented on #1367
@all-contributors add @albingroen for financial

[2022-01-08 16:06] #1367 closed

[2022-01-09 07:25] Neilblaze opened #1373 "Server/client example img not populating"
#### Description :-

The `Server/client` example image isn't populating in either of the [readme.md](https://github.com/trpc/trpc#readme) & or [here](https://trpc.io/).

![image](https://user-images.githubusercontent.com/48355572/148673143-9c079230-d05b-410f-a9eb-ce010155ff42.png)
&
![image](https://user-images.githubusercontent.com/48355572/148673148-f8920e5c-8cdc-4ac5-81af-0300ab865542.png)

➡️

[2022-01-09 15:45] esamattis opened #1374 "Feature request: Add Fetch API adapter aka "Web Platform support""
Eg. support for the [Request][] and [Response][] objects specified in the [Fetch Standard][]. It would allow deploying to Remix routes for example.

Unfortunately I don't have the time to work an a proper PR but I created a userland adapter that can be used with Remix:

https://github.com/valu-digital/npm-packages/tree/master/packages/trpc-fetch-api-adapter

The [implementation](https://github.com

[2022-01-09 17:53] esamattis opened #1375 "Make it easier to bundle `@trpc/server`"
Currently it requires two workarounds

1. The [url](https://npmjs.com/package/url) module must be installed from npm since it is a Node.js build-in and cannot be bundled otherwise
2. Imports to `http` module must be ignored manually

With these workarounds I was able to bundle it with esbuild using this script

[code]

# Why?

Bundling allows to run it non-node.js environments such as Cloudflare W

[2022-01-09 20:15] KATT commented on #1373
My credit card expired to GCP where I host it, will fix ASAP, thanks for highlighting

[2022-01-10 04:25] KATT commented on #1373
Should be fixed!

[2022-01-10 04:25] #1373 closed

[2022-01-10 23:45] #1346 closed

[2022-01-10 23:46] KATT commented on #1374
Yes, I actually started this refactoring once, should be picked up for sure!

[2022-01-10 23:49] KATT commented on #1375
Feel free to add your project to https://trpc.io/docs/awesome-trpc 🙃

[2022-01-11 18:16] MarcGuiselin opened #1383 "`invalidateQueries` does not work as expected"
Welcome back @KATT, I hope you enjoyed your holidays 😀

The [`invalidateQueries`](https://trpc.io/docs/invalidateQueries) docs say:

In turn, the react query docs say:

- `invalidateQueries()` will invalidate every query (I found this on some other page)
- `invalidateQueries('todos')` will invalidate every query with a key that starts with `'todos'`
- `invalidateQueries({ predicate: query => boole

[2022-01-11 18:35] KATT commented on #1383
Oh cool, thanks for raising this!! I thought I just mapped whatever react-query does and that this is how it behaves! Feel free to do a PR to the docs with clarification! ☺

[2022-01-12 19:16] #1343 closed

[2022-01-13 03:06] VinSpee opened #1393 "Router throwing on server fetch results in odd state"
Hi! I noticed some funky query state which didn't make sense when using SSR. I've tracked it down to occurring when a router throws. It results in a query looking like this:

[code]

as you can see, the query is simultaneously `isLoading` and `error`.

Here's a minimal repro: https://2frfr.sse.codesandbox.io/post/5c03994c-fc16-47e0-bd02-d218a370a078

*edit: CodeSandbox source: https://codesandbox.

[2022-01-13 04:49] VinSpee commented on #1393
my bad: https://codesandbox.io/s/hardcore-poitras-2frfr

[2022-01-14 03:18] KATT commented on #1393
Oh yeah, when using the SSG-helpers you have to take care of the errors yourself,

For instance:

[code]

An easier approach would be to return something `null`ish and do:

[code]

[2022-01-14 03:24] KATT commented on #1393
Investigating if I can do this easier

[2022-01-14 03:50] VinSpee commented on #1393
in this approach:

[code]

  it appears we never actually get to the `catch`, no?

[2022-01-14 03:53] KATT commented on #1393
I think it would as it's using `fetchQuery` instead of `prefetchQuery`

[2022-01-14 04:14] #1383 closed

[2022-01-14 04:20] KATT commented on #1383
@all-contributors add @MarcGuiselin for review & issue

[2022-01-14 21:50] gabrielsch opened #1401 "Support for image/file uploads"
Hello!

We widely use trpc.io and we love it! One use case that recently popped up is being able to use other request content types like `multipart/form-data`. Is that currently supported by the library? I'm wondering if it'd be just a custom `link`.

Thank you so much for maintaining this great library.

[2022-01-15 02:18] KATT commented on #1401
Could you show some mock code both front and back how you'd ideally want to use such a thing? Would help my thinking around it.

As you know, trpc is all about json, but maybe we can change that in the future.

[2022-01-16 17:39] KATT opened #1404 "❤️"

[2022-01-16 17:39] KATT commented on #1404
@all-contributors add @timcole for financial

[2022-01-16 17:39] #1404 closed

[2022-01-17 12:06] sb55555 commented on #524
hello, we've been trying out TRPC on professional projects.

We noticed the `requestHandler` or `nodeHTTPRequestHandler` is using `reply.raw` skipping all middleware-defined headers and functionalities including CORS making it unfortunately unusable for production.

according to https://www.fastify.io/docs/latest/Reference/Reply/#raw
[code]

[code]

how can we help ?

thank you

[2022-01-17 12:12] sb55555 opened #1406 "`nodeHTTPRequestHandler` stripping out headers, body, and middlewares with Fastify"
Hello, we've been trying out TRPC on professional projects with Fastify.

We noticed the `requestHandler` or `nodeHTTPRequestHandler` is using `reply.raw` skipping all middleware-defined headers and functionalities including CORS making it unfortunately unusable for production.

according to https://www.fastify.io/docs/latest/Reference/Reply/#raw
[code]

as shown on #524
[code]
how can we help ?

[2022-01-17 12:32] sb55555 commented on #1406
based on #655

we found a workaround to copy headers set by Fastify Middlewares to tRPC response headers.
that allows to make CORS work, this may need more work to handle all middlewares use-cases.

[code]

[2022-01-17 15:32] soulsam480 opened #1407 "How to set custom headers Programmatically ?"
I've been looking into this for over 2 hrs now. Is it possible to set custom headers after a query is successfull ?

[code]
[code]
as you can see I'm setting the refresh-token cookie and sending the accessToken. I want to set the accessToken header after the login mutation is successful. I've looked into the docs of trpc and react-query but failed to find the solution. I'm new to trpc but love the

[2022-01-17 16:32] KATT commented on #1406
I see. It seems to me like we should provide a lower level primitive for adapters, where the consumer control the flow of the output rather than tRPC doing `res` directly.

I'll have a look at this in the next few weeks, for now, shim `res` as you're doing. Great that you found a workaround.

[2022-01-17 16:45] timcole commented on #1407
The `headers` option in config when using [`withTRPC`](https://trpc.io/docs/nextjs#config-callback) with next or [`createClient`](https://trpc.io/docs/react#4-add-trpc-providers) with normal react might be useful here.

`headers` can be both an object or a function. If it’s a function it gets called every request. So you could set it to something like.

[code]

[code]

[code]

Where `token` can be

[2022-01-19 15:28] darioielardi commented on #506
I've just ran into this as well, is there some work being done on this I can contribute to or maybe a workaround?
My use case is a table with 20-100 rows, and `maxBatchSize` sounds like the perfect solution.

[2022-01-19 16:13] KATT commented on #506
Yes! Here's some rough steps:

- [ ] Add `maxBatchSize?: number` to [`httpBatchLink`](https://github.com/trpc/trpc/blob/main/packages/client/src/links/httpBatchLink.ts)
  - [ ] Note: create new `interface HTTPBatchLinkOptions extends HTTPLinkOptions { maxBatchSize?: number }`
- [ ] Add new `opts?: { maxBatchSize?: number }` to https://github.com/trpc/trpc/blob/main/packages/client/src/internals/da

[2022-01-19 23:01] danechitoaie opened #1419 "What are the options in case we would need to upload a file or post any other binary data?"
Would this be possible? Is there any way a mutation can support binary data as input? Or we would need to fallback to a REST endpoint for this?

[2022-01-20 04:48] KATT opened #1420 "[v10] Rewrite links with RxJS"
Do further iterations on links #1366, currently implemented on the [`next`](https://github.com/trpc/trpc/tree/next)-branch.

- Currently using my own implementation of observables
- Use RxJS instead (see https://github.com/trpc/trpc/pull/1366#issuecomment-1010485835).

[2022-01-20 05:17] KATT commented on #1406
Do what all JS-developers has since the beginning of node: `(req as any).body = X`

[2022-01-20 10:26] sb55555 commented on #1406
Well, that fix the issue easily. Thank you !

Here is is the resulting middleware for reference.

[code]

[2022-01-20 16:27] KATT commented on #1406
Thank you! If you want, you could make an official fastify adapter

- Add it in here https://github.com/trpc/trpc/tree/main/packages/server/src/adapters
- Add it in entrypoints https://github.com/trpc/trpc/blob/main/packages/server/package.json#L22
- Run `yarn dev` in the project root
- Add tests
- `yarn test --watch

[2022-01-21 21:36] reggie3-braingu opened #1437 "Receiving client error when using `pageExtensions` in next.config.js"
Hi @KATT, thank you and all the contributors for your hard work with this library.  I am running into the following issue.

**Issue**

After cloning the examples-next-prisma-starter repo, and setting `pageExtensions` in next.config.js, and running `npm run dx` I receive the following error:

![image](https://user-images.githubusercontent.com/90011823/150602799-0b58223a-17e0-4dea-a4d3-3108f3325b90.

[2022-01-22 06:33] KATT commented on #1437
Hey!

Thanks for the sponsoring :)

I don't know why that is happening, could you do an example repo that I can clone and test?

You could try setting `ssr: false` in `_app.tsx` to see if that helps... that causes some hiccups sometimes.

---

@all-contributors add @reggie3-braingu

[2022-01-22 06:36] timcole commented on #1437
Hey there! Looking at the [docs on next.js](https://nextjs.org/docs/api-reference/next.config.js/custom-page-extensions#including-non-page-files-in-the-pages-directory) for this they have a note on there

Just tested it and adding `.page.tsx` to the following files: `src/pages/_app.tsx`, `src/pages/index.tsx`, `src/pages/post/[id].tsx` and adding something like `api.ts` to your `pageExtensions` so

[2022-01-22 06:50] KATT commented on #1437
@all-contributors add @reggie3-braingu for financial

[2022-01-22 06:51] KATT commented on #1437
@all-contributors add @timcole  for mentoring

[2022-01-22 13:49] reggie3-braingu commented on #1437
@timcole Thanks!  That did the trick.

[2022-01-22 14:10] #1437 closed

[2022-01-22 19:19] KATT opened #1445 "acknowledgements"

[2022-01-22 19:20] KATT commented on #1445
@all-contributors add @sachinraja for mentoring

[2022-01-22 19:20] #1445 closed

[2022-01-24 16:01] kristiandupont opened #1449 "Parameters not typed"
I'm trying to set tRPC up and I have created the "hello" sample from the documentation. In the client, it correctly suggests `"hello"` as the only possible path name, but the second parameter is just `...args: any[]`, and predictably, I get no compiler errors when I give something wrong. What could be the issue here?

<img width="695" alt="image" src="https://user-images.githubusercontent.com/8477

[2022-01-25 00:12] kripod opened #1454 "useQueries hook for fetching unknown number of entities"
When fetching an **unknown amount** of entities, the [`useQueries` hook](https://react-query.tanstack.com/reference/useQueries#_top) comes handy, e.g.:

[code]

The typings of `useQueries` went through significant [overhauls](https://github.com/tannerlinsley/react-query/releases/tag/v3.34.10) lately, which might make it less cumbersome to infer tRPC’s end-to-end types.

[2022-01-25 11:37] ShiftySlothe commented on #1254
I'm working on basic examples of:

- User auth with next-auth
- Suspense examples
- Error handling

[2022-01-25 13:34] KATT commented on #1254
Wow, thanks! Note that Suspense have a bug in combo with `@trpc/next` right now that I noticed yesterday (#1448)

[2022-01-25 15:42] KATT commented on #1254
@all-contributors add @ShiftySlothe for examples

[2022-01-26 14:07] davazp opened #1461 "Clarify that @trpc/server is needed as a dependency in the client"
This is not really a bug, but I thought it would help others if this is made a bit more clear. 🙂

We have a monorepo, in which I installed `@trpc/client` and `@trpc/server` in different packages.

However, I did not add `@trpc/server` to the client.

Because of how the packages are (not) hoisted, this resulted in the client not being able to infer the types correctly and using `any` as output with

[2022-01-26 15:09] davazp commented on #1461
It probably did, but it is a large project full of many other peerDependency warnings so I missed it. 😨

[2022-01-26 17:38] KATT commented on #1461
Feel free to do a tweak anywhere in the docs where you find it suitable - there are edit buttons that take your straight to the markdown editor on GitHub. :)

[2022-01-26 19:17] davazp commented on #1461
I am not sure if it is worthy complicating the documentation after all for this.

- It is not an issue with `npm`, as it auto-install peer-dependencies.
- yarn/pnpm will warn about them

What if instead the internal packages did not peer-depend on each other but just regularly depend?

As each package depend on the exact same version of the others, this should work, I think?

Otherwise, feel free

[2022-01-26 22:04] KATT commented on #1461
There's risk of multiple installs with that solution unfortunately, but it's worth exploring further, for sure. Could do it differently for next major if there is a good solution.

[2022-01-27 06:16] friggeri opened #1462 "Inconsistent behavior between httpLink and httpBatchLink"
I have a procedure that doesn't expect an input, if I use the `httpBatchLink` I can call it without any issue, however if I try using the `httpLink`, the server fails with a `BAD_REQUEST` and complains that an input has been provided. Did a little digging and it appears that in that case the client sends a `{}` instead of `null`.

[2022-01-27 09:54] davazp commented on #1461
True, if both `@trpc/client` and `@trpc/server` are installed on the same package, as in the examples, it is true that then we rely on the package manager to hoist them / deduplicate.

Although, that already happens in my setup unfortunately, as the client needs `@trpc/server`,  I have two copies of it. Depending on the package manager, that might or might not be hoisted.

In my case, it is not, s

[2022-01-28 14:31] KATT commented on #506
Fixed by #1468

[2022-01-28 14:32] KATT commented on #506
https://github.com/trpc/trpc/releases/tag/v9.18.0

[2022-01-28 14:32] #506 closed

[2022-01-30 08:56] HardCoreQual opened #1473 "tRPC (on nextjs) kill not awaited promises"
I have a mutation that changes data in the extern system (for example `posts`).

From my UI I public post on `external-api`
and fetch this api for refresh posts after this mutation

I want save changes that make my system in `extenal-api`, but it is not very important, more important is to update `posts` on my site immediately after addiction newPost, without awaiting save these posts in my databa

[2022-01-30 20:20] KATT opened #1475 "❤️"

[2022-01-30 20:20] KATT commented on #1475
@all-contributors add @utevo for financials

[2022-01-30 20:20] #1475 closed

[2022-01-30 20:47] KATT commented on #1462
Hmm - I can't seem to reproduce it, I had an attempt [here](https://github.com/trpc/trpc/tree/katt/repro-1462) but it seems to work.

Are you able to do a reproduction repo based on one of the example apps or provide more info?

[2022-01-30 21:05] KATT commented on #1454
Yeah, it's very hard to deal with the types on this one which is why I haven't added support for it.

@TkDodo, the react-query maintainer, even brought up on Twitter today that he can barely follow how the types work himself 😅 https://twitter.com/TkDodo/status/1487804403356680201

To me, this feels like an edge-case and I'm unsure if I want to support this as part of the wrapper, to be honest.

Ho

[2022-02-01 21:33] KATT opened #1485 "❤️"

[2022-02-01 21:33] KATT commented on #1485
@all-contributors add @terose73 for examples

[2022-02-01 21:33] #1485 closed

[2022-02-01 22:55] leonzalion opened #1487 "tRPC adapter ESM import ergonomics"
Firstly, thanks for this amazing package!

I'm using ts-node + ESM in my project, and when importing the adapter from tRPC, I have to resort to using the full path with extensions like so:

[code]

I've tried enabling extension-less imports with `--experimental-specifier-resolution=node`, but it doesn't seem to work with ts-node ([here's a repo with the reproduction](https://github.com/leonzalion/

[2022-02-01 23:05] sachinraja commented on #1487
I've been working on supporting esm with package.json `exports` in #1466 (still working out a few things though). It should fix any errors with esm import paths.

[2022-02-01 23:38] KATT commented on #1487
Yeah, this is being worked on. TBD yet if it'll be in the `9.x` line as well or just straight into next major `10.x`. Moving to discussions as this is already  covered by a few different tickets and PRs

[2022-02-01 23:38] KATT commented on #1487
Or yeah, feel free to open it again or a new one if you find your questions unanswered

[2022-02-01 23:38] #1487 closed

[2022-02-04 14:52] darioielardi opened #1495 "Add support for codecs ( `stringify` and `parse` ) in transformer"
I'd like to have `stringify`/`encode` and `parse`/`decode` support in transformers along with `serialize` and `deserialize`, to replace `encodeURIComponent` with something like [jsurl](https://github.com/Sage/jsurl) which makes the resulting url way more readable and short, especially with superjson.

I'd probably use this only for queries, not mutations, so we need to handle the two separately. A

[2022-02-04 19:18] gax97 opened #1497 "Using with Nest.Js"
Hi everyone 👋

I wonder how suitable this library is for Nest.js?
It would be awesome if we can have an example for nest js projects.

[2022-02-04 22:29] brunoalano opened #1498 "Still mantained?"
Hello, is this project still being maintained? Most recent commits are just automated version bumps

[2022-02-04 22:35] timcole commented on #1498
Of course! :) @KATT has been working hard with the community figuring out various new things and changes for v10 over on [trpc/v10-playground](https://github.com/trpc/v10-playground) feel free to also join us on the [Discord](https://trpc.io/discord).

[2022-02-04 22:58] KATT commented on #1498
Haha, yes, it's very maintained and very stable in its current form, the only known bugs are some Suspense issues with ssr and another ssr issue that is out of my hands because of next.js. (look in issues/PRs on the bugs label)

[2022-02-04 22:58] #1498 closed

[2022-02-05 13:08] KATT commented on #1495
I think it's a good idea to opt-in on. I agree pretty urls are nice.

[2022-02-05 13:09] KATT commented on #1495
I'll have a think about the design. Potentially we should put a pin on it until next version as I'm doing a lot of breaking changes.

[2022-02-05 13:16] darioielardi commented on #1495
Sure, no problem. I'll wait for next version release (any ETA?), let me know about the design for this when you have some time and I'll work on it.

[2022-02-05 15:00] sachinraja commented on #1497
Nest seems more of an alternative to tRPC to me. How do you see them working together?

[2022-02-05 20:26] KATT commented on #1495
No ETA, but I'm not rushed so if you think you'll bash this out within the next few weeks, I'd say go for it

[2022-02-09 15:05] webdeb opened #1499 "In resolve inputs keys are optional"
Hey, great lib just trying it out. Maybe somebody can explain whats wrong with this:

<img width="1144" alt="Bildschirmfoto 2022-02-09 um 16 00 07" src="https://user-images.githubusercontent.com/14992140/153228284-080e77a4-ac20-4209-906a-622bc0c53082.png">

The `getCleanData` function expects values to be strict. But in resolve, the input values are optional typed. How can I mark them as strictly

[2022-02-09 20:34] RobRoseKnows opened #1501 "Middleware dependencies"
I was wondering whether tRPC has a way of defining Middleware dependencies?

An example:

Suppose I have a middleware that computes a Request Id that's shared across a request and injects it into the context, and another logging middleware that has a dependency on the Request Id being in the context. Is there a way to define the middleware such that the type checking will fail when the request id

[2022-02-11 08:45] KATT opened #1506 "Add note about strict mode in docs"
Gotten a few questions like this https://github.com/trpc/trpc/discussions/1500

Should probably be in several installation sections

[2022-02-11 21:33] medihack opened #1507 "next-i18next not working correctly with wrapped tRPC when SSR is enabled"
## Describe the bug
When wrapping an app with [`withTRPC`](https://trpc.io/docs/nextjs#4-configure-_apptsx) that is already wrapped with `appWithTranslation` leads to the error `react-i18next:: You will need pass in an i18next instance by using initReactI18next` on the server console when SSR is enabled for tRPC (otherwise everything works fine).
I also opened an issue at next-i18next (https://git

[2022-02-12 05:57] KATT commented on #1507
Thanks for this report, @medihack!

I've added you as a collaborator in case you want to make a repro in the examples folder (you can just modify the existing Prisma starter), that will make it easier for me to work on it.

You can also try digging into the withTRPC function.to see if you can get a fix in place yourself ☺

[2022-02-12 05:58] KATT commented on #1507
It might be that you're using getServerSide props which can't be used together with ssr: true - #1361

[2022-02-12 09:36] medihack commented on #1507
@KATT You are absolutely right. That is the same problem. I will disable the tRPC SSR feature for now, too. I also voted the [Next.js issue up](https://github.com/vercel/next.js/discussions/28183). A little hint in the docs would be cool. Otherwise a superb library!!!

[2022-02-12 09:36] #1507 closed

[2022-02-15 10:00] ahhshm opened #1521 "resolver vs procedure vs router!!"
Currently, there are three words in the docs that I think are used in a confusing way: procedure, resolver, and router!

look at this example from [Merging Routers](https://trpc.io/docs/merging-routers) section:
[code]
"users" is a router but is called a procedure, or I'm wrong and the word procedure refers to "resolver" which is still confusing because "resolver" is a good name for a route handle

[2022-02-15 15:35] ahhshm commented on #1521
the procedure is defined here: https://trpc.io/docs/router.

[2022-02-16 07:15] ahhshm commented on #1506
I think Zod should be removed from some of the installation guides. For example, in the next.js one, you installed Zod but never actually used it. the same thing happens in the react.js guide. Here is my plan to fix this:
1. creating a new section just about input validation. here we can give a detailed description of each validation library.
2. referencing anywhere we are dealing with input valid

[2022-02-16 18:42] KATT opened #1523 "Update example to use Playwright's own test runner"
Currently the [next-prisma-starter](https://github.com/trpc/trpc/tree/main/examples/next-prisma-starter) uses jest-playwright. It would be better to use Playwright's own test runner.

For reference, one can look at [`calcom/cal.com`](https://github.com/calcom/cal.com/tree/main/apps/web) for how to setup Playwright's own runner

[2022-02-16 19:07] KATT opened #1525 "❤️"

[2022-02-16 19:07] KATT commented on #1525
@all-contributors add @SchlagerKhan for financial

[2022-02-16 19:07] #1525 closed

[2022-02-16 19:23] KATT commented on #1406
@sb55555 - @skarab42 built a Fastify adapter over at #1406 which is in the latest version of trpc :)

[2022-02-16 21:10] KATT commented on #1406
Let me know if this is still an issue after using the adapter. Feel free to open a new issue :)

[2022-02-16 21:10] #1406 closed

[2022-02-16 21:11] KATT commented on #1462
Closing as @friggeri isn't responding with a repro. Feel free to open a new issue.

[2022-02-16 21:11] #1462 closed

[2022-02-16 23:04] sachinraja commented on #1506
I disagree. I'd rather have a little duplication across installation guides than links in each of them to different sections. I would consider it a nicer user experience to just have everything in one section.

I don't think this is a good idea. Zod is great, and I'd rather have everyone converge on one input validation library. This can also help when creating 3rd party packages because you only

[2022-02-20 16:34] KATT opened #1538 "🥇"

[2022-02-20 16:34] KATT commented on #1538
@all-contributors add @renderinc for financial

[2022-02-20 16:56] #1538 closed

[2022-02-20 17:57] KATT opened #1541 "❤️"

[2022-02-20 17:57] KATT commented on #1541
@all-contributors add @8balloon for financials

[2022-02-20 17:58] KATT commented on #1541
@all-contributors add @nihinihi01 for financials

[2022-02-20 17:58] KATT commented on #1541
THANK YOU!!!!!!!!!!! ❤️

[2022-02-20 17:58] #1541 closed

[2022-02-20 19:57] #1358 closed

[2022-02-21 16:54] tclain opened #1550 "Mutation fail when using express adapter in serverless scenario"
Hi there ! thanks for the awesome lib !

I have lost a bit of time the past couple of day so I'd figured I would share my story and my resolutions for the record.

I have been deploying my trpc router in express in a serverless context, specifiically with `@vendia/serverless-express`. something like:

[code]

Locally when running project through the default express listener, everything is fine. bu

[2022-02-21 20:40] mesmerlord commented on #1401
I'm guessing this is for uploading files, I've had similar issues. First I tried just base64 encoding the image/file , but next seems to have a limit of 4mb for files which is often not enough. Then I went and tried to just create an API endpoint outside of tRPC to just allow multipart file uploads using multer, but wasn't having much success with it either.

In the end I went with a sort of hybri

[2022-02-22 09:22] emilbryggare commented on #1523
I've been wanting to take a closer look at Playwright, I will give this a go.

[2022-02-22 13:13] emilbryggare commented on #94
@KATT: What are the benefits of having the examples as part of the Yarn Workspace?

I just modified one of the examples in a PR (#1552), and it modified the root yarn.lock which does not seem ideal as I've not really touched any real "packages".

My suggestion is to just remove the examples from the yarn workspace package list.

[code]

The examples will then mind their own business and receive th

[2022-02-22 14:29] sachinraja commented on #94
Not sure if it's also a problem here, but I've had issues with trying to detach the examples when using React in my monorepos. Since the `@trpc` packages depend on React as a dev dependency, it is installed in `node_modules` and webpack may resolve React from there. But it is also installed as a peer dependency and webpack also bundles that. Since you can't have two versions of React, that will br

[2022-02-22 20:01] KATT opened #1557 "❤️"
@all-contributors add @jasondocton for financial

[2022-02-22 20:03] KATT commented on #1557
https://github.com/all-contributors add @JasonDocton for financial

[2022-02-22 20:03] KATT commented on #1557
ffs

[2022-02-22 20:03] KATT commented on #1557
@all-contributors  add @JasonDocton for financial

[2022-02-22 20:11] KATT commented on #1557
@all-contributors add @pingdotgg for financial

[2022-02-22 20:11] #1557 closed

[2022-02-23 10:35] ASgmbv opened #1561 "How to throw 409 error?"
Hi, thank you all for your great project.
I was building a signup endpoint where I need to throw an HTTP 409 error when a user tries to create a new account with an email that is already used, it seems like there is no suitable trpcError code for this case?
Thank you

[2022-02-24 09:11] #1506 closed

[2022-02-24 09:24] ahhshm commented on #1561
The [Error Handling](https://trpc.io/docs/error-handling) section needs a major improvement.

[2022-02-25 10:51] ASgmbv commented on #1561
TypeScript gives an error when you try to put anything except provided code values.

[2022-02-25 13:56] sachinraja commented on #1561
You'd also have to handle that custom code in [`formatError`](https://trpc.io/docs/error-formatting) to set the status to 409.

[2022-02-25 14:51] olehmisar opened #1562 "Pass request object to the teardown function in createExpressMiddleware"
I need to access some request information in the teardown function:
[code]

I would like to use it like this:
[code]

[2022-02-25 17:32] KATT commented on #1561
Feel free to add this.

- https://github.com/trpc/trpc/tree/main/packages/server/src/rpc
- #1194 <-- very similar PR

[2022-02-27 15:30] #1523 closed

[2022-02-27 16:24] KATT opened #1572 "Docs add caveat about `getServerSideProps` + `ssr:true` to docs"
- Add info about #596 on https://trpc.io/docs/ssr
- Add info that you can use ["ssg helpers"](https://trpc.io/docs/ssg) within `getServerSideProps` as well as `getStaticProps`

[2022-02-27 17:18] mmkal opened #1573 "UseTRPCQueryOptions helper"
Small request - a couple of times we’ve wanted to make a thin abstraction on top of `trpc.useQuery` or `trpc.useMutation`, but it’s been awkward to allow passing in `opts` to use `onSuccess` or similar. Right now the signature is:

[code]

but getting `TQueryValues` and `TError` is tricky.

It’d be nice to be able to have a helper where all we need is the path:

[code]

The `typeof trpc` arg would

[2022-02-28 17:10] jlalmes opened #1574 "Reevaluate WebSocket Subscription Input Payload on Reconnection"
I'm setting up a WS subscription was hoping that when the `trpcWsClient` reconnects it would re-evaluate the subscription payload, however this is not the case.

**- Requirement**
  * Create trpc subscripion with { sessionId: null }
  * Server returns { data: { sessionId: 'abc123' } } to the client
  * Trpc connection dies due to bad network connection
  * Trpc reconnects & restablishes subscripti

[2022-02-28 17:29] jlalmes opened #1575 "WebSockets - Critical Vulnerability"
Not typically an issue if using `@trpc/client` to interact with your WebSocket endpoint, but a bad/unknowing actor could send the following payload to a trpc WebSocket endpoint and cause it to throw an uncaught runtime error `TRPCError: 'id' is required` and crash the NodeJS process.

[code]

[2022-03-01 11:56] KATT commented on #1575
Seems like a bug! Will fix it ASAP

[2022-03-01 13:08] KATT opened #1577 "Add `@typescript-eslint/no-floating-promises` lint rule"
- Add `@typescript-eslint/no-floating-promises` lint rule
- Would've prevented #1575
- Also prob comes with some non-trivial refactoring

[2022-03-01 13:26] #1575 closed

[2022-03-01 13:30] jlalmes commented on #1575
Great job @KATT 🎉

[2022-03-01 13:32] KATT opened #1580 "❤️"

[2022-03-01 13:32] KATT commented on #1580
@all-contributors add @jwyce for financial

[2022-03-01 13:33] KATT commented on #1580
@all-contributors add @mechamobau for financial

[2022-03-01 13:33] #1580 closed

[2022-03-01 13:47] jlalmes commented on #1574
Hoping start working on a PR to make some progress on this today. Should a `trpcClient` be allowed to call `.subscription(...)` if it does not use a `wsLink`?

[2022-03-01 18:28] jlalmes commented on #1574
PR opened here: https://github.com/trpc/trpc/pull/1584

[2022-03-01 19:26] testerez opened #1587 "Add withTRPC on existing app using react-query"
Hello,
I just added `trpc` to an exiting react app that was already using `react-query`. Unfortunately, as `withTRPC` is actually setting a `QueryClientProvider`, it conflicts with the one already set for the app.
Is there a way to configure `withTRPC` provider so it's using its own `queryClient`? Or any other solution that would allow multiple `react-query` configurations?

[2022-03-01 22:56] garronej opened #1588 "Type error in @trpc/server with TS 4.6"
Hi @KATT,
Thank you for this great library.

I am reporting that the server types need updates after the latest typescript release (4.6):

[code]

![image](https://user-images.githubusercontent.com/6702424/156262690-0552b0f1-4b45-4172-b39c-6d5204b66219.png)

Best regards

[2022-03-02 00:40] waptik commented on #1401
If my guess is right, you only used trpc router endpoint just to get signedurl and you uploaded the file directly to the signedurl from the client using fetch/axios(put), right?

If not, can you show a sample code here or make a new github repo?

[2022-03-02 09:35] KATT commented on #1588
You probably want to disable [`skipLibCheck`](https://www.typescriptlang.org/tsconfig#skipLibCheck). I'll have a look at this when I can

[2022-03-02 15:31] waptik commented on #1401
Yup, I did. Thanks

[2022-03-03 14:54] mechamobau commented on #1588
@KATT Maybe using a generic type to the `cause` with `unknown` as the default should fix the error, if it's needed I can work on this

[2022-03-05 11:18] amantiwari1 commented on #1200
Hey @KATT ,

almost similar, I am using `zodjs` with similar error
![image](https://user-images.githubusercontent.com/53963065/156880585-d2a72f1d-80f3-43a1-b43c-7fa3f80005ef.png)

[2022-03-05 13:35] sachinraja commented on #1200
What's the error @amantiwari1? You may have to [enable strict mode in your tsconfig](https://trpc.io/docs/react#2-enable-strict-mode).

[2022-03-05 14:33] amantiwari1 commented on #1200
WOW! it works after enable strict mode

thanks! @sachinraja

[2022-03-06 04:56] bartfoltyn commented on #1577
hi, can i take this issue?

[2022-03-06 14:35] #1587 closed, assigned to nobody

[2022-03-06 16:05] KATT opened #1596 "Rewrite subscriptions with new observables"
Related to #1592 / the [`next`](https://github.com/trpc/trpc/tree/next) branch.

Now that we have rxjs added, we might want to use it for our subscription support.

## Examples

### Before

https://github.com/trpc/trpc/blob/ed62629326ceaa5d56ab91fe3b09ccda25a4dd6c/examples/next-prisma-starter-websockets/src/server/routers/post.ts#L130-L140

### After

[code]

---

The underlying event emitter in t

[2022-03-06 16:13] KATT commented on #1562
Hey @olehmisar

What do you need this function for? Are you sure you don't want to have a logger middleware?

https://trpc.io/docs/middlewares#logging

[2022-03-06 16:14] KATT commented on #1573
Could you expand a bit on what sort of scenarios you use it for?

[2022-03-06 16:22] KATT commented on #1401
FYI you can do this to circumvent the 4mb limit:

[code]

[2022-03-06 16:44] olehmisar commented on #1562
Hi @KATT. Looks like it is exactly what I need! Thanks.

[2022-03-06 16:45] #1562 closed

[2022-03-06 17:03] KATT opened #1597 "Decouple `@trpc/server` from node"
Related to the [`next`](https://github.com/trpc/trpc/tree/next) branch.

---

Currently, `@trpc/server` is using a lot of Node-based dependencies, i.e. `url`, `http`, etc.

It would be great to decouple `@trpc/server` completely from a node in order to easier deploy tRPC to i.e. CF workers (#1375).

## Proposal

Rough steps:

- Rename `@trpc/server` to `@trpc/node` (and update all examples, etc)
-

[2022-03-06 17:03] KATT commented on #1375
Superseded by #1597. If you wanna work on it, I'll pay you. :)

[2022-03-06 17:03] #1375 closed

[2022-03-06 17:05] KATT commented on #1597
cc @esamattis @icflorescu

[2022-03-06 17:37] KATT opened #1599 "[TRP-65] 🤑 Get paid for contributing to tRPC"
Hey all 👋

We've started getting in some non-trivial amounts of sponsorship money and we will finally be able to pay contributors for work.

1. Find **any issue** on GitHub _(or suggest an improvement - we're open to ideas!)_
1. Create a PR with the improvement
1. Set up [GitHub sponsors](https://github.com/sponsors/accounts)
1. We'll send you $$$

Usually in the realm of $10-$50 per PR but happy

[2022-03-06 17:49] KATT opened #1600 "Upgrade to TypeScript `4.6`"
The project builds fine when updating the typescript-version, but there is some issue introduced in 4.5 that stops one of the tests. See #1295.

Likely requires some refactoring in order to get it to build reliably.

I think the culprit was https://github.com/trpc/trpc/blob/main/packages/client/src/links/wsLink.ts

Related:

- #1295
- #1588

[2022-03-07 15:05] ahhshm commented on #1572
I take this issue. maybe tomorrow I can find some time to do it.

[2022-03-08 13:04] #1572 closed

[2022-03-10 12:13] #1574 closed

[2022-03-17 10:44] jlalmes commented on #887
Regarding `Simplify HTTP-responses`:
 - This would means moving away from the JSON-RPC spec, are we ok with this?
 - Would this also mean removing `id: 1` from the HTTP-request?
 - I see you've listed `https://jsonapi.org/format/` as a maybe? I've been using the Slack Web API (https://api.slack.com/web#slack-web-api__basics) recently which has a very similar RPC-type structure. Could be worth taki

[2022-03-17 12:51] jlalmes commented on #887
continued...
* Moving towards a Slack-style API might make public-facing TRPC APIs easier to use and drive greater adoption (cc. https://github.com/trpc/trpc/issues/755)

[2022-03-17 18:45] KATT opened #1650 "Cache playwright deps in CI"
Most of the CI fails is because Playwright's install deps function fails. It also takes over a minute when it doesn't. Would be nice if it could be cached

https://playwright.dev/docs/ci#caching-browsers

[2022-03-18 01:42] sachinraja commented on #1650
That's how you can cache the browser binary but the installation of system dependencies is taking the longest. According to https://github.com/microsoft/playwright-github-action/issues/56#issuecomment-1019553187 there's no way to cache them.

[2022-03-21 16:32] KATT commented on #1650
💔

[2022-03-21 18:46] #1420 closed

[2022-03-21 19:12] KATT opened #1660 "Remove everything marked as `@deprecated`"
for the `next` branch

[2022-03-21 19:23] KATT opened #1661 "Refactor `react.test.tsx`"
Related to the [`next`](https://github.com/trpc/trpc/tree/next) branch.

- It's a big mess.
- It should be split into logical files.

[2022-03-21 20:06] #1660 closed

[2022-03-21 20:55] KATT opened #1665 "❤️"

[2022-03-21 20:55] KATT commented on #1665
@all-contributors add @FarazPatankar for financial

[2022-03-21 20:55] #1665 closed

[2022-03-22 23:33] #1577 closed

[2022-03-24 05:40] skimmilk6877 commented on #887
is there any example use trpc in vue 3?

[2022-03-24 14:22] okaforcj opened #1684 "Setting Request Headers for useQuery"
I am using firebase authentication. I want to set the request headers dynamically for some queries in react using the request headers. ATM, i dont know how to add request headers to this particular request becuase the token is gotten dynamically and is only specific on a particular request. Can anyone shed some light on this or have experience doing something similar?

[code]

[2022-03-24 16:07] #1684 closed

[2022-03-24 21:48] KATT commented on #1650
Seems like we could do some improvements:

https://twitter.com/aslushnikov/status/1506697170073706501

[2022-03-24 23:22] KATT opened #1691 "Websockets example layout borked on mobile"
Cc @toyamarinyon

![Screenshot_20220324-232124](https://user-images.githubusercontent.com/459267/160025734-fde865c1-f261-4fd1-ae60-69620da5710c.jpg)

[2022-03-25 06:38] zkindest opened #1692 "does not infer types on client"
I am using pnpm workspaces, typescript 4.6, @trpc/* 9.20.3

Here's [api router](https://github.com/zkindest/starter-fullstack-rest-trpc/blob/auth/packages/api/src/routers/_app.ts), [provider setup on client](https://github.com/zkindest/starter-fullstack-rest-trpc/blob/auth/packages/app/src/lib/providers/index.tsx), [react trpc utils](https://github.com/zkindest/starter-fullstack-rest-trpc/blob/aut

[2022-03-25 08:08] timcole commented on #1692
Looking at your setup it seems that typescript has no way to know how to interact with code outside of the package's root (the app package in this case).

Because of this when importing `AppRouter` in `packages/app/src/utils/trpc.ts` typescript can’t process what things are (outside of the normal @trpc/server types since they’re installed on the client too) so you end up with the following type  (

[2022-03-25 09:26] toyamarinyon commented on #1691
I'll check it!

By the way,  When I checked it on iPhone 12, it's be properly. Please let me know the device you checked.
<img src="https://user-images.githubusercontent.com/535254/160092968-e050689b-aa9e-4594-a864-46811c36a9ca.PNG" width="200" />

[2022-03-25 11:46] KATT opened #1694 "feat: if no transformer is defined - serialize types as JSON would"
## Goal

Automatically make a safe data transfer object to corresponds to what `JSON.parse(JSON.stringify(obj))` would do.

These 2 are likely two separate PRs/implementations:

- For _outputs_ it's pretty straight-forward
- For _inputs_ we somehow need to disable complex types that are not serializable? Or do some other wild stuff.

**Let's start with outputs.**

<details><summary>Example</summar

[2022-03-25 19:52] KATT commented on #1691
![Screenshot_20220325-195235](https://user-images.githubusercontent.com/459267/160191795-7deda376-f421-4dc5-9c6a-259d33fe938d.jpg)

[2022-03-25 23:36] john-schmitz commented on #1596
Just for context; why was the issue blocked?
I'm very new to the repository and trcps internals

[2022-03-25 23:43] sachinraja commented on #1596
We were evaluating whether or not to use rxjs and decided not to (see discussion in #1592 for more details).

[2022-03-26 00:00] KATT commented on #1596
Yeah, what @sachinraja said.

Additionally, this would include moving the observables from `@trpc/client/observables` to server

[2022-03-26 00:29] KATT opened #1700 "❤️"

[2022-03-26 00:29] KATT commented on #1700
@all-contributors add @okaforcj for financials

[2022-03-26 00:29] #1700 closed

[2022-03-26 01:00] KATT opened #1702 "Tweak jest snapshot output"
https://twitter.com/sebastienlorber/status/1504360685601443846?t=7BZlmKf7wOTXPOkKOMitdA&s=19

Easy tweak

[2022-03-27 07:24] ecwyne commented on #1694
This is a very good idea. This has gotten me in the past

[2022-03-27 15:53] Nukiloco opened #1705 "Deno support for server side?"
Is there going to be Deno support for the server side of this? Thanks!

[2022-03-27 16:13] sachinraja commented on #1705
See #1597

[2022-03-29 13:33] ArnaudBarre opened #1712 "Update HTTP headers handling of `undefined`"
The current typing of headers in `CreateTRPCClientOptions` allow undefined, which at runtime sends `"undefined"`, because the browser expects `Record<string, string>`.

The simple solution is to remove undefined from typing, the other is to filter out undefined headers (which could be a nice DX when merging auth headers with always sent headers, at the cost to be not very consistent with other lib

[2022-03-29 16:41] jlalmes commented on #1712
Opened a PR, please review @ArnaudBarre https://github.com/trpc/trpc/pull/1713

[2022-03-30 14:11] ArnaudBarre opened #1714 "Add a default retry handling to avoid retry on specific TRCP errors"
I just found that with default settings when using the react client, the query is retried 3 times despite the server sending an `UNAUTHORIZED` error. I think a default could be to only retry in this cases:

PARSE_ERROR: false
BAD_REQUEST: false
INTERNAL_SERVER_ERROR: ?
UNAUTHORIZED: false
FORBIDDEN: false
NOT_FOUND: false
METHOD_NOT_SUPPORTED: false
TIMEOUT: true
PRECONDITION_FAILED: false
PAYLOAD

[2022-03-30 17:52] soulsam480 opened #1715 "Fastify adapter: Custom content-type parser for application/json is breaking normal REST api requests on a fastify server"
https://github.com/trpc/trpc/blob/d5808b863490f95ff76defce4886833b11672e88/packages/server/src/adapters/fastify/fastifyTRPCPlugin.ts#L25-L31

This works just fine for tRPC endpoints but breaks other REST api endpoints as `request.body` is a string where it's expected to an object. This can be easily reproduced on the official fastify examples by creating a REST `POST` endpoint and sending some dat

[2022-03-30 17:58] soulsam480 commented on #1715
Currently this is what I'm doing as a hack to fix the issue:
[code]
putting in a runtime check for type `string` and parsing it using `JSON.parse`. This works but is there any way to fix this thing properly ?

[2022-03-31 03:27] soulsam480 commented on #1715
From the fastify docs, I see that contentTypeParse can't be set for some specific set of routes. But a viable solution would be using the request param to check the URL for trpc and only make the body string for that. https://www.fastify.io/docs/latest/Reference/ContentTypeParser/#usage .

I think the user passes the trpc prefix for the server, so maybe we can use that to add a check something lik

[2022-03-31 05:51] skarab42 commented on #1715
I need to do some tests and see what would be best to fix the problem.

[2022-03-31 08:31] skarab42 commented on #1715
@soulsam480 I found the problem, I am working on a fix...

Reading the docs:

I probably broke the encapsulation system with the use of [fastify-plugin](https://github.com/fastify/fastify-plugin), I'm reworking the plugin to allow its use with or without [fastify-plugin](https://github.com/fastify/fastify-plugin).

[2022-03-31 08:44] soulsam480 commented on #1715
Yes exactly. I think if we can match the fastify-plugin type, we don't need to encapsulate it and can use it directly. Thanks for the quick fix.

[2022-03-31 11:55] #1712 closed

[2022-03-31 22:34] KATT opened #1720 "Update example links"
In docs and on website in various places

- Rather than linking to e.g. https://github.com/trpc/trpc/tree/main/examples/next-prisma-starter, let's link to https://github.com/trpc/examples-next-prisma-starter which is the same thing but it's easy to just click the "Use template button"
- I think we can start using stackblitz now since https://github.com/stackblitz/webcontainer-core/issues/45 is clo

[2022-04-01 03:12] soulsam480 commented on #1720
Should I migrate all of our examples to stackblitz and put the links in the docs in a PR ?

[2022-04-01 10:43] #1715 closed

[2022-04-01 12:28] KATT commented on #1720
That would be great! Make sure they work first though, I'm not sure it will

[2022-04-01 12:29] KATT commented on #1714
I think I don't want it in the _library_, but I want the examples to showcase a production-ready version, so it would be good to have some more sensible defaults in here: https://github.com/trpc/trpc/blob/main/examples/next-prisma-starter/src/pages/_app.tsx#L74

[2022-04-01 15:23] KATT opened #1724 "tRPC to OpenAPI generator"
**Note:** I do not want to have this as part of the library itself, but an example would be good

## Overview

With the addition of output parser (#1699), we should now have all the pieces to automatically create an OpenAPI-compliant endpoint

### Some rough ideas:

- Create a new endpoint `/api/openapi.yml.ts` that can use the method earlier to generate a schema
- Create a catch-all `/api/openapi

[2022-04-01 16:09] KATT commented on #1597
Excited about this! Thanks for taking ownership, @sachinraja!

[2022-04-02 07:40] soulsam480 commented on #1720
I checked, any example involving prisma won't work as prisma uses binaries and stackBlitz skips them. more info https://github.com/stackblitz/core/issues/1470 . But I was able to run the non-prisma examples which are fastify, express and bare http server. I see one error with the base HTTP server. need you help with that. Opening a PR with the links

[2022-04-03 00:18] sachinraja commented on #1588
Solved this while working on #1597. The issue is that [in es2022 a `cause` property was added](https://github.com/tc39/proposal-error-cause). Not sure how to fix this without doing a breaking change.

[2022-04-04 22:42] sachinraja commented on #1588
Fixed on the `next` branch

[2022-04-04 22:42] #1588 closed

[2022-04-05 08:59] toyamarinyon commented on #1691
@KATT thanks! I tried to resolve it at #1729.

[2022-04-05 14:33] #1691 closed

[2022-04-05 17:08] LouisHaftmann opened #1731 "Idea: query/mutation options similar to Fastify's route configs"
It would be nice to have some sort of per query/mutation options, just like Fastify's [route configs](https://www.fastify.io/docs/latest/Reference/Routes/#config)

Could work like this:

[code]
Possible use cases:
- disable authentication on a per route basis
- rate limiting settings per route
- ...

[2022-04-05 20:25] KATT commented on #1731
Hey, great idea! I've been toying with a similar idea to decorate procedures with metadata, similarly useful for #271 to distinguish that a certain mutation would be a `PUT` or `DELETE` in the OpenAPI-output.

How I would like to see this designed in terms of usage:

[code]

[code]

When using it:

[code]

Notes:

- `Meta` needs to extend `Record<string, any>` and default to `{}`
- `Meta` is optio

[2022-04-05 20:35] LouisHaftmann commented on #1731
wouldn't it be easier if meta was available in the middleware args?

[code]

[2022-04-05 22:19] KATT commented on #1731
It could be available in the middleware as well

[2022-04-06 13:39] Raphael0010 opened #1737 "Testing with Jest"
Hi, there is a way to test trpc query with Jest ?.

I'm actually trying to do that :

[code]

But I got this error : "Argument of type 'string' is not assignable to parameter of type 'never'."
But when I use it on Next App it's work.
I see nothing about testing in the documentation.

[2022-04-06 16:15] LouisHaftmann commented on #1737
Have you tried using a route caller?

[code]

[2022-04-06 16:28] LouisHaftmann commented on #1724
Would this be used to generate mutation/query routes that comply to the OpenAPI specification or just to generate a swagger schema?

[2022-04-06 17:55] sachinraja commented on #1737
You could also use the client if you [pass the type of your router as a type arg](https://trpc.io/docs/vanilla#initialize-a-trpc-client) and your trpc server is running during your tests. Hard to help more than that without a reproduction.

[2022-04-06 18:27] KATT commented on #1737
There is both jest and playwright in the starter

https://github.com/trpc/examples-next-prisma-starter/tree/main/src/server/routers

[2022-04-06 18:27] #1737 closed

[2022-04-06 18:29] KATT commented on #1724
Ideally both. We should have all the information needed to create a new api handler and automatically expose a REST-esque version of trpc

[2022-04-06 18:32] KATT commented on #1724
With #1736 we should be able to give hints too

[2022-04-07 02:50] turkerdev opened #1741 "returning response breaks type"
the prisma types work normally, but as soon as I return or try to return one of its properties the type gets break.

![image](https://user-images.githubusercontent.com/48413508/162109786-28c3850c-5018-445e-8017-85d8e94db9a4.png)

also, I don't know even know why there is `then function` type inside return type
![image](https://user-images.githubusercontent.com/48413508/162110284-37dcb334-56b3-42b9

[2022-04-07 05:42] LouisHaftmann commented on #1731
In the future we should add a way of changing the meta type from middleware. This would make it easier for plugin devs to add custom route options.

[2022-04-07 06:05] LouisHaftmann commented on #1731
This would also work:

[code]

but this is cleaner

[code]

Internally it would probably work like this:

[code]

[2022-04-07 07:19] LouisHaftmann commented on #1731
[code]

(this would only work with metadata merging in `router.merge()`)

[2022-04-07 10:32] jlalmes commented on #1741
I'm not sure that I fully understand the issue. The code you posted above looks like it should work correctly.

It seems to me that you issue is `await prisma.aka.create(...)` is returning `any` type. This will be an issue with Prisma (not tRPC), please make sure that you have run `prisma generate` recently.

If you are still facing issues, can you please share a reproduction and I'll take a look!

[2022-04-07 13:20] jlalmes commented on #1724
## Proposal tRPC <> OpenAPI

Sharing my thoughts regarding OpenAPI support.

* Publish new package under `@trpc/openapi`

### 01. Router

We will export a `openApiRouter()` function that will return an `OpenApiCompliantRouter` that extends `Router`.
 * `OpenApiCompliantRouter` will omit the `.subscription()` method.
 * `OpenApiCompliantRouter` will ensure the `input` of `.query()` method extends `

[2022-04-07 13:53] KATT commented on #1724
I am not sure if I am ready to commit to maintaining a new sub-library for a use-case that I don't have use for myself. I am all for having the necessary hooks to enable this, but I don't know if I want to make an official `@trpc/openapi`-package.

How I would see this working:

[code]

- The `createOpenApiSchema` as suggested above could be a completely standalone package or just a reference proj

[2022-04-07 15:16] LouisHaftmann commented on #1724
A plugin system (#1742) would probably be more usefull because it allows users to create all kinds of plugins (including an openapi plugin)

[2022-04-07 21:59] #1731 closed

[2022-04-08 06:23] amazzat opened #1755 "Usage with other querying libraries"
Hi thank you so much for awesome library!

I am using redux toolkit in my project, and it comes with rtk query, so my question is is there any way I can automatically generate
rtk query api using trpc types?

I am quite new to rtk query and did not dive into trpc source code yet. It would be great if you could show some direction which I might head to start.

[2022-04-08 11:04] KATT opened #3435 "feat: `trpc.snapshot()`"
I had a new idea yesterday that would be amazing if implemented.

## Problem

When using tRPC, it's easy to accidentally leak sensitive information since you don't have output validation like in GraphQL.

It's also hard to track if you're doing accidental breaking changes to your API for clients that are running right now or can't be upgraded easily (e.g. React Native)

## Implementation idea

Out

[2022-04-10 13:54] #1561 closed

[2022-04-11 15:59] TheBestMoshe commented on #1731
With this new feature, is there any way to get [Context Swapping](https://trpc.io/docs/middlewares#context-swapping)  to work?

For example, if the `hasAuth` meta parameter is `true`, the middleware will check to make sure the user has a token. Now that this check was done, the resolver should know the the token is nonnullable.

_Note: Example code is from a Next.js codebase_

### Context
[code]

[2022-04-11 21:55] Dax911 opened #1775 "I've been looking into this for over 2 hrs now. Is it possible to set custom headers after a query is successfull ?"
I've been looking into this for over 2 hrs now. Is it possible to set custom headers after a query is successfull ?

[code]
[code]
as you can see I'm setting the refresh-token cookie and sending the accessToken. I want to set the accessToken header on the client after the login mutation is successful. I've looked into the docs of trpc and react-query but failed to find the solution. I'm new to trp

[2022-04-12 11:12] jlalmes opened #1778 "Simplify tRPC Request/Response/Message Interfaces"
Originally posted by @KATT

[2022-04-12 12:10] jlalmes commented on #1778
## Documenting the current tRPC API

Thought this would be good for visibility.

#### HTTP Queries
[code]

#### HTTP Mutations
[code]

#### Websocket Queries
[code]

#### Websocket Mutations
[code]

#### Websocket with message batching
[code]

#### Websocket Subscriptions
[code]

[2022-04-12 13:07] KATT commented on #1778
YES!  Thank you. Inlining my ideas below.

- Keep req as-is
- Res could be `{ "result": { "data": { "greeting": "Hello tRPC" } }`

[2022-04-12 14:26] jlalmes commented on #1778
🔧   _I have added the missing websocket subscription messages to the documentation above._

## 🤝  Change proposals

### HTTP
Remove `"id": null` from response envelopes

  Option 2

### WS
Remove `"jsonrpc": "2.0"` key on client->server messages (https://github.com/trpc/trpc/pull/1759)

## 💭  Some additional thoughts:

#### HTTP Mutations

I prefer keeping the request payload as-is currently (unwr

[2022-04-12 14:54] jlalmes commented on #1778
### Another thought about HTTP Response envelopes

*Original*
[code]

*After omit `"id": null`& `"type": "data"` (proposed above)*
[code]

**Why don't we also just remove the `result.data` wrapper?**
[code]

[2022-04-12 15:08] jlalmes commented on #1778
Thanks @sachinraja! Understood 👍

[2022-04-12 18:44] Brian-McBride commented on #1724
The main reason I would like to have an OpenAPI spec generator is just to have an easier integration with all the various cloud-based API Gateways. Nearly all of them have the step of defining the API Proxy with an OpenAPI schema.

[2022-04-12 18:47] jlalmes commented on #1724
@Brian-McBride I plan to publish my `trpc-to-openapi` work promptly after tRPC `v10` is released.

[2022-04-13 08:47] KATT commented on #1778
It's a good idea and I was thinking about that for a while but I probably will want to decorate responses with extra metadata in the future.

One of the ideas I've been toying with is an edge-cached tRPC service that could work a bit like [GraphCDN](https://graphcdn.io/) - for that to work I would need to provide caching hints for each individual procedure.

[2022-04-13 11:17] KATT opened #1779 "Add support react-query data selectors"
I just realized we don't support react-query's [Data Selectors](https://react-query.tanstack.com/guides/migrating-to-react-query-3#query-data-selectors) yet

[2022-04-14 08:14] #1778 closed

[2022-04-14 10:44] KATT opened #1785 "Add test for `jsonrpc` being included in response"
We need a test that actually asserts this otherwise I will break it eventually, guaranteed

Here's a websocket raw client test we can use as a base

https://github.com/trpc/trpc/blob/97039a761b8704b980fe1a62eaadb5af84942754/packages/server/test/websockets.test.ts#L473-L510

_Originally posted by @KATT in https://github.com/trpc/trpc/pull/1780#discussion_r850320892_

[2022-04-14 12:46] jlalmes commented on #1785
Closed by https://github.com/trpc/trpc/pull/1786

[2022-04-14 12:46] #1785 closed

[2022-04-14 19:22] Dimirolz opened #1789 "Next example is not working in Next 12.1.5"
Hi, when I try to use the [NextJS documentation example](https://trpc.io/docs/nextjs), I get an error.
`TypeError: Cannot read properties of null (reading 'client')`
It's happend in NextJS 12.1.5 version.

When lower version to 12.1.4 everything starts working correctly.

[2022-04-14 19:33] sachinraja commented on #1789
See vercel/next.js#36115, this is an issue with next.

[2022-04-14 19:39] Dimirolz commented on #1789
Thanks for fast feedback!
You can close this issue.

[2022-04-14 19:54] sachinraja commented on #1789
I think we should keep this open until it's fixed in Next so people can see we are aware of it

[2022-04-15 09:54] IgnisDa opened #1791 "Batching too many queries together results in 404 error"
If I have this query, then I get a 404 (NOT FOUND) error.
![image](https://user-images.githubusercontent.com/60938164/163556873-fda52b23-0123-4cde-a807-0f220b777147.png)

However if I split the same query like so, then it works as expected.
![image](https://user-images.githubusercontent.com/60938164/163556927-10d6acad-f39f-471b-9c3f-2d4a2e582ec2.png)

I believe this is a bug in `@trpc/server`.

[2022-04-15 12:28] KATT opened #1793 "Algolia search on website have stopped working"
Unsure why. I did an upgrade of docu recently

[2022-04-16 08:20] KATT commented on #1789
I also locked the version in the examples (#1781), but yeah, could keep it open.

[2022-04-16 08:53] #1650 closed

[2022-04-19 11:03] #1793 closed

[2022-04-19 11:46] KATT opened #1800 "Add tailwind to docs site"
**Goals:**

- Be able to use tailwind on the frontpage
- Being able to import smart components in the mdx and use tailwind in those
- Not breaking the whole standard layout and still have the current page look good without much tweaking

I've pinged @sajclarke who made [this post](https://dev.to/sajclarke_62/using-tailwindcss-v3-in-docusaurus-in-5-steps-5c26) to see if he wants to help :)

[2022-04-19 13:51] jlalmes opened #1801 "Idea: Add `maxBatchURILength` config option to `httpBatchLink`"
https://trpc.io/docs/links#setting-a-maximum-batch-size

## Idea:
The maximum number of requests that can be batched at one time is currently limited by the `maxBatchSize` config option. There are cases where queries contain large input payloads and therefore, when batched, exceed the maximum URI length of the deployment environment before being split up by the `maxBatchSize` limit (cc. https://gi

[2022-04-19 14:27] katungi commented on #1800
Hey @KATT, i'd be willing to pick this one up if @sajclarke doesn't pick it up :)

[2022-04-19 19:13] KATT commented on #1801
Yep. Would be better, this was initially what I wanted to do but it required a lot of refactoring so I took the shortcut.

Happy to do a breaking change on this for the next major - both features do not need to exist.

See the original issue at #506

[2022-04-19 20:06] KATT opened #1804 "Make example with ultra"
An example using [Ultra](https://ultrajs.dev/docs) would be awesome. Looks like a nice future for doing React 18 - @mashaal has done some incredible work.

I don't have time to tinker with this myself with all the other v10 features, but if someone feels inclined, feel free to do so **using the [`next`](https://github.com/trpc/trpc/tree/next)** branch.

@sachinraja has previously done a build of t

[2022-04-19 22:04] sajclarke commented on #1800
I took a swing at it @katungi but feel free to review

[2022-04-20 12:31] KATT opened #1807 "Move transformers back to `runtime` to make it backward compatible"
I made a mistake in https://github.com/trpc/trpc/pull/1366

After considering this. I want it to be backward compatible and I actually preferred having the transformer on the `runtime`-object.

This issue is to revert that part of https://github.com/trpc/trpc/pull/1366 that moved the `transformer`

[2022-04-20 14:17] KATT commented on #1801
I changed it to "Maybe" as it's a nice-to-have but feel free to attack it, @jlalmes!

[2022-04-20 15:04] KATT opened #1809 "Swap HTTP Status for mixed responses statuses?"
Given 2 procedures, this is what tRPC currently returns:

- 2x `NOT_FOUND` errors  ==> `404`
- 2x succeeds => `200`
- 1x succeeds + 1x `NOT_FOUND` error => `207`

I picked `207 Multi-Status` as it seemed the most appropriate code, but since it's a `2XX` it also doesn't show up as a "failed" request in for instance chrome network tab. Unsure what HTTP-caching layers do with it (hopefully not cache

[2022-04-20 15:12] Rinzlit commented on #1809
Seems like you've nailed it with 207, at least from what I've seen from. https://www.rfc-editor.org/rfc/rfc4918.html
They seemed to be thinking almost the same thing.

[2022-04-20 15:31] Rinzlit commented on #1809
Also looked into Cloudflare and found their default caching is

HTTP status code | Default TTL
-- | --
200, 206, 301 | 120m
302, 303 | 20m
404, 410 | 3m
403 | 0s
500, 502, 503, 504 | 0s

Source: https://developers.cloudflare.com/cache/how-to/configure-cache-status-code/

There should not be any issues with Cloudflare at least when using HTTP status code `207`

[2022-04-21 10:16] KATT opened #1811 "Improve docs for SSR on tRPC"
From @TheoBr - https://clips.twitch.tv/SleepyVibrantGrasshopperDxCat-ZJjzoC-yQHmSmyDE

- [ ] Add this on the `/examples/next-prisma-starter`: https://github.com/trpc/examples-next-prisma-starter-websockets/blob/main/src/pages/_app.tsx#L75
- [ ] Add docs in https://trpc.io/docs/ssr
- [ ] https://github.com/trpc/examples-next-prisma-starter/blob/db7e2c1469170a660a12a45d7c40829ed4bc9509/src/pages/_ap

[2022-04-22 09:40] jlalmes commented on #1801
Note to self: #1812

[2022-04-22 13:32] dodas opened #1816 "Resolver return value type is not fully checked against the `output` schema"
Hello and thanks for the great work on trpc!

I am trying to use the new `output` option for query and expecting to get a TS error when the `resolve` function doesn't return matching type.

Example:
[code]

I expect TS to say `resolve()`'s return type is missing `propA`, but it's not happening, it compiles just fine.
Returning for example `true` in `resolve()` does cause a TS error, but returning

[2022-04-22 14:33] jlalmes commented on #1816
Hi @dodas, can you please confirm that you have set `strict: true` in your `tsconfig.json`?

[2022-04-25 15:44] thelinuxlich commented on #544
graphql-yoga 2 added subscriptions exclusively through SSE, since HTTP/2 you don't have to care about max concurrent connections as it was in the past

[2022-04-25 16:45] KATT commented on #544
I'll reopen this and see if someone wants to work on it for the next major :)

[2022-04-26 08:34] hugues-m commented on #1354
Maybe this will be useful to somebody :
I also wanted to enable suspense globally without using the second arguments in every use

[code]

[2022-04-26 10:25] matthijscollabai opened #1833 "Context swapped in by middleware is lost after chaining through another middleware"
### Scenario:
- Add a middleware on a router that has context set to A
  - Call `next` with a new context B
- Stack another middleware on top
  - Call `next` without passing on a specific context
- Add a query and use the context

### Expected result:
The query's context is context B

### Actual result:
The query's context is context A (but in Typescript, the context type now suggests it is contex

[2022-04-26 17:20] KATT commented on #1833
If this is the case, it's a bug, will investigate

Cc @mmkal @jlalmes

[2022-04-27 13:44] piotrski commented on #1811
Maybe it would be better to move https://github.com/trpc/examples-next-prisma-starter-websockets/blob/main/src/pages/_app.tsx#L76 to the 'withTRPC' implementation and merge those headers with the user-supplied headers? This would simplify configuration and probably solve 90% of use cases.

[2022-04-27 13:45] piotrski commented on #1811
Maybe it would be better to move https://github.com/trpc/examples-next-prisma-starter-websockets/blob/main/src/pages/_app.tsx#L76 inside the `withTRPC` implementation and merge those headers with the user provided headers? This would simplify configuration and probably solve 90% of use cases.

[2022-04-27 17:15] seansu4you87 opened #1835 "How to use the loggerLink in a vanilla trpc client"
Hi there, are there any examples or instructions for how to use the `loggerLink` (and other links) in a vanilla trpc client?  I found the example in https://github.com/trpc/trpc/blob/main/examples/next-prisma-starter/src/pages/_app.tsx#L59 but that references trpc next helpers

Thanks

[2022-04-27 20:31] KATT commented on #1833
@all-contributors add @matthijscollabai for bug report

[2022-04-28 07:21] #1833 closed

[2022-04-28 13:43] hmbrg opened #1846 "Error "TRPCClientError: request failed" when building a Next.js app"
When trying to build my Next.js project, I'm getting the following error:

[code]

My `withTRPC` config looks like this:
[code]

This is the Next.js page that throws the error:
[code]

Thanks for looking into this!

[2022-04-29 11:56] KATT opened #1849 "❤️"

[2022-04-30 13:21] #1596 closed

[2022-04-30 17:21] p6l-richard commented on #1789
Updating to NextJS' 12.1.6 canary resolved the issue for me.

I see that the version has been updated also in the example.

[2022-05-01 14:23] sachinraja opened #1853 "update request handling in resolveHttpResponse to follow Fetch API"
follow up for #1852

We should change the input to `resolveHTTPResponse` to accept Fetch API objects by default. All other handlers should then be updated to map to the Fetch API.

Right now the Fetch adapter has to adapt objects to what tRPC accepts:
https://github.com/trpc/trpc/blob/456aad652c9e98e77044012f47177a620176e009/packages/server/src/adapters/fetch/fetchRequestHandler.ts#L23-L28

<sub>[

[2022-05-01 16:08] nramkissoon commented on #1811
Can there be a case where one would not want to merge the client's headers during SSR?

[2022-05-01 17:59] KATT commented on #1811
Rare that you wouldn't want it, but you might want to add stuff dynamically in the headers and as a framework I don't want trpc to be responsible for keys colliding etc

[2022-05-03 10:33] ArnaudBarre commented on #1588
For people running into this (skipLibCheck strangely doesn't work), change lib option in tsconfig to ES2021 (instead of ESNext/ES2022)

[2022-05-04 09:23] jld-adriano opened #1856 "Close any pending subscriptions when changing client in context"
For our application, we have a use case where the URL for the websocket api can change, and so our solution has been to treat the trpc client as state, and change it whenever the url changes. However, whenever we change it, there are pending connections that stay in the background.

Is this use case supported?
If not, is there some easy workaround we could do by calling internals?

Thanks

[2022-05-05 09:45] huxuezhi opened #1859 "This "Usage with Express.js" sample project was unsuccessful"
Example on the documentation [Example app](https://githubbox.com/trpc/trpc/tree/main/examples/express-server)

[2022-05-05 12:47] #1859 closed

[2022-05-10 04:48] vietanhlehuu opened #1862 "Get type of a query"
Hi, thanks for creating trpc, it's really great. I wonder there is a way to get the type of a query?
I'm using trpc with next.js. Here is an example:

[code]

I want to pass in an initial data, so it needs the type of the query inside. So, how can I get the type of this query `trpc.useQuery(["comment", { id: comment.userId }]` to use it in Props. Thanks in advanced.

[2022-05-10 11:18] #1789 closed

[2022-05-10 11:50] KATT opened #1869 "Fix flaky jest test "test invalidateQueries() with different args""
Doesn't always fail, but it does sometimes.

- Test in question: https://github.com/trpc/trpc/blob/a25fb0b6adb9526394fc4abf189ff58007da18b3/packages/server/test/react.test.tsx#L1343-L1437
- See failed output here: https://github.com/trpc/trpc/runs/6369195287?check_suite_focus=true

[2022-05-11 18:48] notAro14 opened #1876 "Mock API call during testing"
Hello, is it possible to mock API call with [Mock Service Worker](https://mswjs.io/) during integration testing in `jest` and `testing-library` ?

[2022-05-11 18:50] KATT commented on #1876
Don't mock api calls that you have full control of, control what's in the db instead.

See this for inspo https://github.com/trpc/examples-next-prisma-starter/blob/main/src/server/routers/post.test.ts

[2022-05-11 19:23] notAro14 commented on #1876
I did not try yet but just to be sure, you mean that I have to write directly to the DB during testing ? It's a bit unusual to me...

[2022-05-12 17:35] #1801 closed

[2022-05-13 09:36] #1807 closed

[2022-05-16 02:27] sachinraja commented on #1597
Closing this as we've now been able to deploy on CF Workers and Deno

[2022-05-16 02:27] #1597 closed

[2022-05-16 16:50] n1ghtmare opened #1895 "Error when running on `node v18.1.0` and using SSR"
I tried checking if someone has already reported this, but I couldn't find anything, so here I am:

When I have `ssr: true`, I'm getting the following error on `node v18.1.0` (I switched to an older version and everything works just fine):

[code]

I believe this has to do with some changes in the `fetch` api (in node).

Let me know, if I can provide more data, or if there is anything I could do t

[2022-05-16 17:07] KATT commented on #1895
I haven't bothered much with SSR and React 18 -- with React 18 we'll do massive changes to how SSR works because of RSC.

Are you using Next.js? Can you provide a full repo with this?

[2022-05-16 17:10] n1ghtmare commented on #1895
@KATT Yes, I'm using Next.js, I'll try to prepare a repo with this issue as soon as I get some free time.

[2022-05-16 17:39] n1ghtmare commented on #1895
@KATT Yeah, I downloaded it and ran it, and you're right, it does indeed work. Hmmm. Will try to create a project from scratch and see if I get the same issue.

[2022-05-16 18:01] KATT commented on #1599
I will send $500 once it's merged if someone solves this issue: https://github.com/microsoft/TypeScript/issues/49033

[2022-05-16 19:41] KATT commented on #1895
Feel free to reopen if it's still an issue, closing for now

[2022-05-16 19:41] #1895 closed

[2022-05-17 08:48] luixo opened #1900 "Different types of `middlewareMarker`"
Hello,

We have two separate folder for backend and frontend in our repo (no workspace setup) as they are compiled in their respective directories.

In an attempt to introduce `trpc` I stumbled upon an issue that we have two copies of `@trpc/server` package - both in server's and in client's `node_modules`.
The problem is that when I import `AppRouter` type from the server to client - I get a type

[2022-05-18 12:15] lukevella commented on #1290
Hey there! Just finished converting [rallly.co](https://rallly.co) to tRPC 👍

**Logo:**

<img src="https://rallly.co/logo-color.svg" alt="Rallly" width="200" />

**Description:**
Self-hostable doodle poll alternative. Find the best date for a meeting with your colleagues or friends without the back and forth emails.

**Repo:**
https://github.com/lukevella/rallly

[2022-05-18 17:14] KATT commented on #1900
Hmmmm. That's unfortunate. I'm lost for ideas for a workaround other than making sure that you only have one `@trpc/*` in `node_modules`.

I'd like this not to be a requirement though, but failing to think of a good solution. I'm surprised it complains, to be honest.

Maybe it could be a branded type with a `_tag: string` rather than a `_middlewareMarker: Symbol`.

@mmkal - a penny for your though

[2022-05-18 19:47] grebaldi opened #1904 "Type Errors"
Hi there,

first of all: Thanks a lot for creating trpc :) I just recently stumpled upon it and I'm quite enthusiastic about it's design.

Now to the problem:

I'm trying to use trpc in a pnpm-driven monorepo. When I try to compile the package that's using trpc (both `@trpc/server` and `@trpc/client`), `tsc` fails with:

[code]

The first one
[code]

can be fixed by installing `@types/qs`. However

[2022-05-18 20:06] bratsos commented on #1789
Is this still an issue for anyone else? I tried upgrading `next` to `12.1.6`, `12.1.7-canary` and `12.1.4` and `@trpc/*` to `9.23.4` but I'm still getting this error. I also tried `rm -rf node_modules && rm -rf .next && yarn install` after each change on `package.json`

[2022-05-18 20:16] grebaldi commented on #1904
For anybody passing by here:

Using `skipLibCheck` in the respective `tsconfig.json` can be a viable workaround for this issue:
[code]

It comes with its own drawbacks though: https://www.typescriptlang.org/tsconfig#skipLibCheck (Therefore it's not a replacement for a proper solution of the underlying problem)

[2022-05-19 10:24] KATT commented on #1904
Can you try installing `@types/node`?

[2022-05-19 10:32] KATT commented on #1904
Otherwise, please create a reproduction repo and we'll have a look

[2022-05-20 12:12] sachinraja commented on #1904
Are you using pnpm@7?

[2022-05-20 18:32] nilskj opened #1911 "Next example fails Hydration, throws uncaught error"
Hey, fantastic project!
Did not find this bug reported. I get these errors when navigating or refreshing the browser at a /post/id route, running the NextJS example:
When navigating from the home page:
- Setup a new trpc project with the nextjs template.
- Click `view more` to navigate to a page route.
At this point no error appears... but then if either navigating to the post/id route (or hitting

[2022-05-20 19:10] nilskj commented on #1911
I think I found the error. Since no locale is set on the Date.toLocaleString options it may differ between formatting on client and server. I submitted PR #1912 with a fix!

[2022-05-21 00:37] mmkal commented on #1900
Yes, I didn’t realise this would happen in non-monorepo setups but I suppose it makes sense. A symbol is probably overly strict in that case. I imagine there’ll be a way to make it work but I agree, a string would be fine as a replacement.