[2022-05-21 13:22] grebaldi commented on #1904
@sachinraja

Good point. I thought I did, but apparently I don't. I'll update and see if that changes anything.

[2022-05-21 13:45] sachinraja commented on #1904
I didn't properly read the error, it's caused by your use of `exactOptionalPropertyTypes: true` in which `method?: string` and `method?: string | undefined` are no longer the same thing. For the qs error, we should remove our dependence on `@types/qs`.

[2022-05-21 13:49] sachinraja commented on #1904
As a side note, what server side handler are you using? I think most people don't get the `@types/qs` error because they have `@types/express` installed.

[2022-05-21 14:06] grebaldi commented on #1904
@sachinraja

Then it's plausible I'm getting the error, because I'm using `fastify` :)

@KATT

Here's a minimal reproduction: https://github.com/grebaldi/trpc-1904-repro

[2022-05-21 20:53] sachinraja commented on #1374
forgot to close this, added in the `next` branch - #1852

[2022-05-21 20:53] #1374 closed

[2022-05-21 21:02] sachinraja commented on #1804
It has a lot of issues that need upstream fixes, but https://github.com/sachinraja/trpc-ultra

[2022-05-21 21:02] #1804 closed

[2022-05-22 01:07] sachinraja commented on #1900
I also think the branded type would be better. I think it would help fix some type errors in Deno.

[2022-05-22 10:45] KaiSpencer commented on #1779
Hi @KATT,
Appears to be working for me, is there some functionality i've overlooked that is missing?

[2022-05-22 12:42] bartoszkrawczyk2 opened #1916 "Types suddenly breaks"
Hi!

I have an issue with next project and types. After installing some packages (completely unrelated to trpc) every query now returns "any". I've tried reverting all the changes, removing node_modules and installing it again, but all trpc queries returns any and `next build` throws `Parameter '{some variable from trpc.useQuery}' implicitly has an 'any' type`.

Do you have any ideas what could ca

[2022-05-22 12:52] bartoszkrawczyk2 commented on #1916
It was an issue with Prisma, not with tRPC. Prisma broke and was returning any from all my tRPC routes.

[2022-05-22 12:52] #1916 closed

[2022-05-22 14:45] #1904 closed

[2022-05-22 15:25] #1869 closed

[2022-05-22 15:29] KATT commented on #1911
Fixed by #1912! Let us know if you get more like this1

[2022-05-22 15:29] #1911 closed

[2022-05-22 15:31] #1900 closed

[2022-05-23 04:30] mwarger commented on #1724
This would be fantastic, as I think it could also be used with this: https://github.com/api-platform/admin

[2022-05-23 07:49] jlalmes commented on #1724
You can try out the `alpha` release of `trpc-openapi` that is compatible with the current stable version of `@trpc/server@9`. Bear in mind that the API may change before official release.

[2022-05-23 10:18] grebaldi commented on #1904
Thanks a lot, @sachinraja & @KATT - fix works like a charm.

You guys are great! :+1:

[2022-05-23 15:06] jlalmes opened #1925 "URL-safe `input` compression."
💡 Idea

## URL-safe `input` compression.

When sending queries with huge inputs - it is likely you will hit URL character limits. Should we consider adding a URL-safe compression to the input query string?

Think of this as a more space-efficient JSON.stringify(encodeURIComponent(input)).

[code]

### Compression algos:

* lz-string: https://github.com/pieroxy/lz-string
* JSONCrush - https://githu

[2022-05-24 08:11] KATT commented on #1925
If we go down this route what we're really talking about is straying away from JSON as the defacto mode of transport. If we do this we should also add some sort of binary format when doing `POST`s that could take the compression further and let us have something else than `content-type: application/json`.

Furthermore, I think the server should be able to receive different types of request types a

[2022-05-24 11:05] jld-adriano opened #1927 "Error compiling trpc: TRPCError.d.ts(7,14): error TS2416"
Getting an error when compiling a project that uses trpc, here's the error, deps and tsconfig.json

### Error
[code]

### relevant deps
[code]

### tsconfig
[code]

[2022-05-24 11:38] jlalmes commented on #1927
Duplicate of https://github.com/trpc/trpc/issues/1588

[2022-05-24 11:38] #1927 closed

[2022-05-24 12:47] jlalmes commented on #1925
From our discussions on [Discord](https://discord.com/channels/867764511159091230/934201568402751558/978305984445435904) it seems like there a number different ideas bouncing around here.

1. URL-safe `input` compression.
    * Pros: Shorter URLs for `queries`.
2. Transformers to replace `JSON.stringify/parse` & `encode/decodeURIComponent`.
    * Pros: Enables full control of payload serialization

[2022-05-24 22:53] Brian-McBride commented on #1724
@jlalmes Would it work with the Fastify adaptor?

[2022-05-24 23:01] jlalmes commented on #1724
Absolutely! We would just need to add a `fastifyOpenApiRequestHandler` adapter here: https://github.com/jlalmes/trpc-openapi/tree/v0.1.0/src/adapters. I don't use Fastify so can't be too much help, but happy to assist where possible if you want to open a PR.

Here's a good starting point: https://github.com/trpc/trpc/tree/main/packages/server/src/adapters/fastify

[2022-05-25 05:19] omar-dulaimi commented on #1925
I'm excited where this discussion is going. I see that tRPC is going back to it's roots, to gRPC. Where requests go as binary, and the payloads are extremely small.

[2022-05-25 09:00] jlalmes opened #1937 "Support for additional `Content-Type`s"
If we go down this route what we're really talking about is straying away from JSON as the defacto mode of transport. If we do this we should also have support for some sort of binary format when doing `POST`s that could take the compression further and let us have something else than `content-type: application/json`.

Furthermore, I think the server should be able to receive different types of re

[2022-05-25 09:21] jlalmes opened #1938 "Transformers replace `JSON.stringify/parse`"
Following up from discussion https://github.com/trpc/trpc/discussions/1936.

## Transformers replace `JSON.stringify/parse`

I would like to implement compression of data sent between server & client, using a library such as [`lz-string`](https://github.com/pieroxy/lz-string).

### Issues

This would be a breaking change as `transformer: superjson` will no longer work.

### Implementation

Add an

[2022-05-25 09:22] jlalmes opened #1939 "Support for procedure method override"
_Originally posted by @KATT in https://github.com/trpc/trpc/discussions/1936#discussioncomment-2818345_

## Bonus, allow for method overriding

I made [this tweet](https://twitter.com/alexdotjs/status/1528854148011130880) yesterday and the main feedback that came back was to be able to sometimes have massive bodies when doing queries.

[code]

<sub>[T-70](https://linear.app/trpc/issue/T-70/support

[2022-05-25 10:56] jlalmes commented on #1401
Related https://github.com/trpc/trpc/discussions/658 & https://github.com/trpc/trpc/issues/1937

[2022-05-25 11:24] mmkal commented on #1938
For the name, maybe we could borrow from io-ts and call it a `Codec` (with `encode`/`decode` methods)?

[2022-05-26 14:35] michealroberts opened #1941 "Bug: Type does not satisfy the constraint 'Router<any, any, any, any, any, any, any>'."
Hi, since upgrading to the latest version of tRPC (v9.23.6 for both client and server) ... I'm seeing the following error:

[code]
As well as:

[code]

I'm not sure if this is VScode, or an issue with tRPC. But I would really welcome some help on this issue...

<img width="1349" alt="Screenshot 2022-05-26 at 15 33 28" src="https://user-images.githubusercontent.com/84131395/170509839-0b8f4db2-d4e2-

[2022-05-26 14:42] michael-observerly commented on #1941
Closing

reason: version mismatches between monorepo packages (@trpc/server v.9.23.4 / 9.23.6).

[2022-05-26 22:09] #1941 closed

[2022-05-26 22:24] luixo opened #1942 "Support timeout on SSR"
Hello,
I recently started to migrate a big project on Next.js to TRPC and stumbled upon a problem.

Some of my queries might be quite slow and I want to serve user a page with semi-loaded content to load it later on client-side. As for now, I didn't find anything easy-to-use to bail-out after some timeout and just dehydrate whatever cache I get at the moment.

I used `patch-package` to fit it in m

[2022-05-27 20:16] nilskj commented on #1779
I have investigated this a bit. It feels kind of similar to this issue: [Properly type useInfiniteQuery](https://github.com/tannerlinsley/react-query/pull/3625). As an example, getting the correct type when using `select` seems to work fine in react query:
[code]

But in our wrapped hook in trpc, I don't get the correct return type of the `select` function (if provided) in the same fashion.
<img w

[2022-05-27 20:32] bradennapier commented on #1779
select works as expected for `useQuery` - with `useInfiniteQuery` the problem comes in because your `select` receives unmodified data every time a new page comes in and can return whatever it wants - but that makes it impossible to infer the data properly without getting type hints.

Personally I almost always prefer using the obj syntax for `react-query` as it makes infer much more straight forwa

[2022-05-27 20:41] bradennapier commented on #1779
1. I would recommend `as const` for the query key so that it better infers the query key -- just makes it nice when troubleshooting to see instead of `(string | { id: string })[]` or similar you see `["post.byId, { id: string }]`.

2. The problem with wrapping is you probably are not properly tracking all the generics and passing them along to `react-query` when using `useQuery` so that they do no

[2022-05-27 21:05] bradennapier commented on #1779
Yep so your issue is clear here:

https://github.com/trpc/trpc/blob/e0df4a2d5b498dd953a65901e04915c6e3f7ecc5/packages/react/src/createReactQueryHooks.tsx#L267-L275

You are providing only 2 options to `UseQuery` which means it is going to set the value of `TData` to the result of the query function even if you pass a `select` .

[code]

Should be enough to resolve it - although without going deepe

[2022-05-28 16:30] jgoux opened #1945 "Error TS2742 when generating declaration types with trpc.router"
Hello all,

I'm trying to set up a demo monorepo full ESM + TypeScript and I want to use trpc for the API part. 👌
I currently have an issue when generating declaration types for the project:

[code]

Related code is here: https://github.com/jgoux/acme/blob/main/apps/api/src/router.ts#L6

To reproduce run these commands:
[code]

Note that I'm using `@trpc/server@10.0.0-alpha.22`, the stable version

[2022-05-29 19:31] jgoux commented on #1945
As pointed out in Typescript's issue here: https://github.com/microsoft/TypeScript/issues/42873#issuecomment-1140506416 I've found a "fix".

It's still unclear if the error originates from how TypeScript resolves types or if something is technically wrong in the usage of TypeScript in trpc.

[2022-06-01 22:57] luixo commented on #1942
It happens in my project that the same query might take .5s or 10s to load depending on parameters, and the page might have multiple queries rendered on it.
So I prefer to have some timeout in which all the queries might be already fetched or some of them might not.
I'll do my best to make a PR with all the batteries included :)

[2022-06-04 18:52] Lilja opened #1955 "CodeQL action v1 github action deprecation"
[From logs](https://github.com/trpc/trpc/runs/6740090067?check_suite_focus=true#step:3:11)

CodeQL Action v1 will be deprecated on December 7th, 2022

[2022-06-07 10:56] jrmyio opened #1963 "[Feature Request] Add a way to access the 'ctx' in the 'input' definition"
I want to transform a _slug_ or _id_ before passing it to the `resolve` function. Currently you cannot access the router `ctx` inside the `input` function which has the downside that you have to do transformations inside the `resolve` function (if the transformation requires the `ctx` object).

For example: You have a user profile page _(profile/{userId})_ that uses trpc to get the profile data of

[2022-06-07 11:08] jlalmes commented on #1963
Hi @jrmyio.

The `input` validation should only be used for parsing request input (e.g. check that `userId` is defined and is a `number`). Any data fetching or additional logic should be placed inside your `resolve` function, which has access to `ctx`.

[code]

Hope this makes sense!

[2022-06-07 11:08] #1963 closed

[2022-06-07 11:36] jrmyio commented on #1963
Imo, a user Id that doesn't exist in the database can be considered **bad input** just like a non-number **userId** is.

Yes, in my example I am using `z.transform()` but there are other use-cases like using `z.enum()`.  Let's say my trpc calls supports a `locale` parameter. The available locales are available on my `ctx`. For example:
`ctx.locales = ['en', 'de', 'fr'];`

In order to validate the

[2022-06-07 11:41] jlalmes commented on #1963
Hi @jrmyio.

It looks like the use-case you mentioned above is best suited to the `.middleware(...)` utility. You can read more about it here: https://trpc.io/docs/middlewares#raw-input.

Let me know what you think!

[2022-06-07 12:12] jrmyio commented on #1963
I suspect `middleware`  not to be on a per-route level. For a parameter called `locale` I can see how that would always be the same as this could be a reserved parameter for your application.

But let's say I want a messaging system. The message mutation would have a parameter called `receiver`, not `user`. There is no way you would catch all use-cases into a top level middleware nor would that be

[2022-06-08 07:36] KATT commented on #1963
I am tentatively positive to this suggestion, but we should not consider it until we have an alpha of the next major.

[2022-06-10 12:13] jlalmes commented on #755
For tRPC support of public-facing APIs, please use `trpc-openapi`: https://github.com/jlalmes/trpc-openapi

[2022-06-10 12:13] #755 closed

[2022-06-10 12:14] jlalmes commented on #1724
For tRPC to OpenAPI compliant endpoints & schema generator, please use `trpc-openapi`: https://github.com/jlalmes/trpc-openapi

[2022-06-10 12:14] #1724 closed

[2022-06-12 08:55] blntrsz commented on #1720
Hi, replaced all occurrence of 'next-prisma-starter-websockets' and 'next-prisma-todomvc' in https://github.com/trpc/trpc/pull/1967. Other improvement suggestions are in the description.

[2022-06-12 18:59] #1800 closed

[2022-06-13 11:53] AbhinavPalacharla opened #1976 "Error TS2416 when trying to build my project"
Hello all,

I am trying to deploy my app to https://railway.app

I am trying to deploy an express app using trpc, but I am running into an issue when trying to build:

[code]

I'm using @trpc/server": "^9.25.1

Not sure what to do with this Typescript error

[2022-06-13 12:13] KATT commented on #1976
Add this for now:
[code]

[2022-06-13 12:39] #1976 closed

[2022-06-13 16:46] baldwin-dev-co opened #1979 "react hooks not using data transformer"
I've setup my react project according to the docs, but when I use the hooks, it doesn't seem to use the data transformer.

Here is my trpc setup
[code]

And this is how I am using the hooks inside the
[code]
And i'm getting this error `Uncaught TypeError: BigInt value can't be serialized in JSON` which shouldn't happen if the transformer was being called.

[2022-06-13 16:52] jlalmes commented on #1979
Have you added `.transformer(superjson)` to your server-side tRPC router?

[2022-06-13 16:55] baldwin-dev-co commented on #1979
Yes I have, but this error is occurring on the client side before any requests are being sent so it's not a server issue

[2022-06-13 16:57] sachinraja commented on #1979
You need to add the transformer to your client too: https://trpc.io/docs/data-transformers#2-add-to-createtrpcclient-or-withtrpc-config

[2022-06-13 16:58] sachinraja commented on #1979
Do you have a reproduction?

[2022-06-13 17:16] baldwin-dev-co commented on #1979
just put this together [sandbox](https://codesandbox.io/embed/suspicious-gauss-jhcq7x?fontsize=14&hidenavigation=1&theme=dark)

[2022-06-13 17:46] jlalmes commented on #1979
Looks like this is an issue with `react-query` being unable to create a hash of a `BigInt` here: https://github.com/TanStack/query/blob/cca1bbfb9abf12bf3341c7cfb6e034a5ebab1379/src/core/utils.ts#L267-L278

`trpc` & `superjson` transformers are working correctly otherwise. @baldwin-dev-co, do you want to create an issue with this bug in [react-query](https://github.com/TanStack/query) GitHub repo o

[2022-06-13 17:54] sachinraja commented on #1979
Good debugging @jlalmes. It seems like you would have to provide your own hash function though: https://github.com/TanStack/query/discussions/2450

[2022-06-13 18:03] jlalmes commented on #1979
Excellent @sachinraja! So to be clear the solution is as follows (tested):

[code]

[2022-06-13 18:03] #1979 closed

[2022-06-13 18:20] baldwin-dev-co commented on #1979
Perfect, that got it working, thanks for your help

[2022-06-14 06:35] ecwyne commented on #1937
This would be great! I was just looking to use https://www.npmjs.com/package/notepack.io with tRPC today and came up against json being the only possible encoding

[2022-06-14 09:59] agawley opened #1981 "SSR without next.js"
I have an SSR React app where I'd like to move the API to tRPC. My app runs via serverless framework on AWS Lambda. When I try to add a tRPC route I get the  error below. I assume this is because the SSR code is trying to create the tRPCClient on the server, but there is no fetch available (Node 14.x)

How do I polyfill fetch for tRPC on the server?

[code]

[2022-06-14 14:52] LucasChizzoli opened #1986 "Multiple Renders With NextJs"
Hey all!

I'm using tRCP with NextJs. When using `trcp.useQuery()` in a component I'm getting multiple renders.

Here is my `package.json`

`{
  "name": "nextjs-trpc-poc",
  "version": "0.1.0",
  "private": true,
  "scripts": {
    "dev": "next dev",
    "build": "next build",
    "start": "next start",
    "lint": "next lint"
  },
  "dependencies": {
    "@trpc/client": "^9.25.2",
    "@trpc/next

[2022-06-14 14:57] jlalmes commented on #1986
Haven't tried to run your reproduction, but this sounds like you are describing the result of `reactStrictMode: true` in `react@18`.

Take a look at this:
https://stackoverflow.com/questions/48846289/why-is-my-react-component-is-rendering-twice

[2022-06-14 15:05] sachinraja commented on #1986
tRPC/react-query does refetch on window mount so that's probably why you're seeing that. I'll spin up an example and link that here.

[2022-06-14 15:05] LucasChizzoli commented on #1986
I tried but it continues to happen to me. Also according to tRPC documentation `strict` should be `true` for tRPC to work. If I set it to `false` I don't get the types check.

[2022-06-14 15:06] jlalmes commented on #1986
I meant `reactStrictMode` in your `next.config.js` 😁

[2022-06-14 17:15] dodas opened #1989 "Using multiple TRPC clients in the same app"
I am trying to have multiple `TRPCRouter`s on backend and separate `TRPCClient`s to access them.
Looking at [the way react hooks / contexts are set up](https://github.com/trpc/trpc/blob/main/packages/react/src/createReactQueryHooks.tsx), seems like there is no easy way to have 2 separate instances, since they reuse the same `TRPCContext` singleton.
I am expecting to be able to use these two router

[2022-06-14 17:37] #1989 closed, assigned to nobody

[2022-06-14 19:59] KATT opened #1991 "❤️"

[2022-06-14 19:59] KATT commented on #1991
@all-contributors add @ivanbuncic for financial

[2022-06-14 19:59] #1991 closed

[2022-06-14 20:25] HananoshikaYomaru opened #1993 "Error: Imported server-only code in the browser"
I am using this component. Somehow it said me using server side code in browser but I don't think I do. Where could be the problem because it is really difficult to debug. It would be nice if someone guide me through the debug process.

[code]

[code]

[2022-06-15 00:16] KATT commented on #1955
Feel fre to submit a PR to remove it

[2022-06-16 09:09] KATT commented on #1991
@all-contributors add @jokull for financials

[2022-06-17 06:06] #1955 closed

[2022-06-17 19:20] zomars opened #2008 "TypeError: can't access property "items", batchCopy is null"
I was fiddling with request batching and  [setting a maximum batch](https://trpc.io/docs/links#setting-a-maximum-batch-size) size started to throw this error:

![imagen](https://user-images.githubusercontent.com/3504472/174388841-8d375f38-87a2-4cc1-8f2b-e0e35abecaf6.png)

This is our tRPC config BTW:

![imagen](https://user-images.githubusercontent.com/3504472/174389074-de7875cb-328d-4130-8672-86c

[2022-06-17 19:26] KATT commented on #2008
Can you do provide a draft PR with a step to reproduce? Since y'all are oss is should be easy

[2022-06-17 19:38] futpib opened #2009 "`wsLink` has a `WebSocket` options but it has no effect."
These are the only two lines where `WebSocketImpl` variable is used:
https://github.com/trpc/trpc/blob/967ff191c127c299724ae3e6d261ffb685f07ae5/packages/client/src/links/wsLink.ts#L29-L33

[2022-06-17 19:59] #2009 closed

[2022-06-17 20:00] zomars commented on #2008
Sure @KATT tagged you in [this PR](https://github.com/calcom/cal.com/pull/3087). I've commented out the lines that [enables batch size here](https://github.com/calcom/cal.com/pull/3087/files#r900468816). Just uncomment it and try to go to a user booking page like `pro/30-min`

[2022-06-17 20:03] KATT commented on #2009
@all-contributors add @futpib for bug

[2022-06-17 20:29] KATT commented on #2008
Unable to reproduce, see #2013 and feel free to play with it.

To start the repo

[code]

to start test:

[code]

[2022-06-17 20:38] KATT commented on #1945
Will close this for now, feel free to reopen once there's a _more_ stable version :)

[2022-06-17 20:39] #1945 closed

[2022-06-17 21:01] zomars commented on #2008
I think the culprit is the quantity of the data returned more than the number of calls

[2022-06-17 21:05] KATT opened #2018 "Procedure specific custom request headers"
### Discussed in https://github.com/trpc/trpc/discussions/2017

<div type='discussions-op-text'>

<sup>Originally posted by **skovhus** June 17, 2022</sup>
From the documentation and code example it seems like Client side HTTP headers can only be configured in the tRPC client and not call site when doing a query or mutation.

But there are use cases where you want to pass in specific headers for a

[2022-06-17 21:14] jgoux commented on #1945
Hey Alex, in fact, it was fixed by https://github.com/trpc/trpc/pull/1960 👍

Have a great weekend!

[2022-06-17 21:21] KATT commented on #2018
@skovhus

It's totally possible to dynamically opt-out of batching for the ones you have: https://trpc.io/docs/links#using-a-splitlink-to-control-request-flow

I see something like this

It could be something like:

### Client usage

[code]

### Link

[code]

[2022-06-17 21:25] KATT commented on #2018
@skovhus have a look at the above (just updated)... not super happy with the API, it's a quite implicit and frail relationship

[2022-06-18 16:54] KATT commented on #2008
We don't have time to debug this further & it's a feature that's getting removed soon, maybe if you can get Cal to sponsor tRPC we can prioritize it higher 😜

[2022-06-18 17:10] mrcampbell commented on #1254
I'd love to contribute!  I'm afk, but will check tonight.

But is there a way to do websockets with rooms/wildcard routes?

Like have a chatroom example where there are trpc routes like

`chat.room.*.comments`
Where this resolver would return the data based on specific rooms, like `chat.room.room42.comments`, where only those who can see `room42` can pub/sub to that room, and concurrently, there c

[2022-06-18 19:43] KATT commented on #1254
@mrcampbell

🙏

Please post these in the discussions or in discord as it's off-topic here, but I'll answer anyway :)

You can do:

- `chat.room.byId({ id: 1 })` for the room, and
- `chat.comments.byRoomId({  id: 1 })` for the room comments

[2022-06-18 19:51] mrcampbell commented on #1254
Hahaha shortly after I posted, I realized that it probably wasn't the right
place or time to ask!

But that's legit!!  I'll see about adding a feature or two!

On Sat, Jun 18, 2022, 1:43 PM Alex Johansson ***@***.***>
wrote:

[2022-06-19 14:38] skovhus commented on #2018
Thanks for the proposal. So if I understand this correctly splitLink is running for each procedure? Is a procedure the same as an operation? Why is headers given a list of operations? Does an operation map to procedure? For this to work then the headers operation needs to be running after the splitLink code.

Is the only thing missing for this to work some support for retrieving information from t

[2022-06-19 15:31] KATT commented on #2018
Correct, an "operation" is a procedure **call** from the client.

Because the request can be several calls at once in the case of batching

Yeah, the headers-callback runs at the very end, it's reused for both batchLink and httpLink (in the current design (maybe this should be decoupled?))

Yes, that's what I think

[2022-06-19 18:54] skovhus commented on #2018
What I would add to this is support for the header function to be async + make it possible to type the `context`. A good case for this is when using elevated authentication for some endpoints:

[code]

[2022-06-19 20:25] KATT commented on #2018
Thinking about this a bit more, it might be better to instead move `headers()`-fn to the `httpBatchLink`/`httpLink`/etc, so they can have a bit less confusing signature.. additionally, tRPC isn't tied to the transport format so it might make more sense to decouple this completely from `TRPCClient`.

So rather than doing what you propose above, I might be more inclined to do this:

[code]

The outs

[2022-06-19 21:18] KATT commented on #2018
cc @zomars @abhayvatsa @leog

The question to answer is _"How do we handle when a specific procedure should be called with custom headers?"_

Please read through the thoughts above 🙏

[2022-06-19 23:45] sachinraja commented on #2018
This is a great idea! I'm all for decoupling where it makes sense.

Maybe this shouldn't be possible at all? I thought the proposal was to remove it from the client. If you mean to avoid a breaking change, I think it's fine to break here. If you don't want to break, then I would prefer throwing an error, don't see a point in having a warning when introducing a new feature.

I assume it's possible

[2022-06-20 09:42] skovhus commented on #2018
I assume the common use case if to add a header to all request, and procedure specific custom request headers is the edge case. I don't really like the ergonomics of removing `headers` from client if it means everyone needs to define the httpBatchLink and httpLink in order to send a header.

My suggestion would be to merge the two, but take precedence to the headers defined in the link. The client

[2022-06-20 11:06] KATT commented on #2018
I think the best solution is to keep it on the respective ending links and not be smart about merging. Will be easy to deprecate.

Ignore this :)

[2022-06-20 15:49] zomars commented on #2018
Just my two cents... Why don't we just can pass headers to individual endpoint. I think that's the expected location to be and then core can separate those endpoints and leave them out of batching (We should document this behavior tho). So we can just do:

[code]

[2022-06-20 19:36] skovhus commented on #2018
That was also my initial though, to abstract this away... Works well for static headers, but it doesn’t work that when getting header values are async (example use case: elevated authentication). But maybe it could be an async function that you pass.

[2022-06-20 19:56] zomars commented on #2018
I don't this that should be tRPC's responsibility @skovhus Similar on how you can pass options to `fetch` however you like. Also with this we're going more into `react-query` territory than tRPC's.

[2022-06-20 21:24] KATT commented on #2018
There's no limitation AFAIK in the tRPC "link" system (esp in v10) that wouldn't make it possible to make a feature-complete react-query alternative

This is implicit behavior, I don't want that, just because there's a "header" I don't want to automatically map to X or Y, also both links might not be added to the project... or maybe neither might be added if you do only wsLink.

I really don't see

[2022-06-22 12:11] lkj4 opened #2028 "Refactoring paths"
Not an issue but a discussion: Refactoring endpoint paths is in REST and GraphQL is a pain because paths are just strings and tsserver can't refactor them. With trpc paths are again strings and I was wondering if there's an option to make automatic refactors possible not having to go through all your codebase and hope not to miss replace an old API call.

This is more a language tooling topic but

[2022-06-22 13:20] martin-fv opened #2029 "Example: Using JWT access token and refresh token."
Hi, I would really appreciate seeing an example of using TRPC with jwt having a token that expires in 15min. If a the request gets a 401 it should call a server path to get refresh token.

[code]

Any help appreciated!

[2022-06-22 15:39] giacomorebonato opened #2030 "Question: issue importing adapters while using esm output"
I am trying to build a Node apps with ESM support.
Hence I have set in my `tsconfig.json`

[code]

And in my `package.json`

[code]

The import of `import { fastifyTRPCPlugin } from '@trpc/server/adapters/fastify'` because of the following error:
`Cannot find module '@trpc/server/adapters/fastify' or its corresponding type declarations.`

How would you solve this issue?

[2022-06-23 01:20] dodas commented on #2028
This will be fixed in the next major version!
Procedures will be organized using object keys, rather than string "paths".
See [v10 docs (wip)](https://github.com/trpc/trpc/blob/next/.tmp/v10-docs.md)

[2022-06-23 01:49] #2028 closed

[2022-06-23 01:50] #2029 closed, assigned to nobody

[2022-06-23 13:46] panthy2 opened #2035 "Global Client Error Handling"
Noob question.

How would one go for globally handling client side errors?

lets say i want the user to be redirected client side to a specific url on "UNAUTHORIZED" errors globally without specifying it on every mutation or query?

maybe its react query and has nothing to do with trpc?

[2022-06-23 20:04] lkj4 commented on #2028
Cool, I skimmed the spec and I would base my work on V10, when do think we'll it me merges with main?

[2022-06-25 15:04] lkj4 opened #2041 "[next] Spec for automatic router merge/organization via folder"
@KATT not sure where I should put this issue, the Github Project for `next` feels a bit dead, feel free to move this issue.

My preferred way for router would be throwing all my routers into one folder and each file and that folder just default exports `t.router({...` without the need of a manual `t.mergeRouter(...`.

The earlier we have a spec we can already organize our routers according to this

[2022-06-27 15:48] KATT commented on #1991
@all-contributors add @lmatheus for financial

[2022-06-28 02:10] KATT commented on #2008
No reproduction is supplied and the feature is going out soon.

Feel free to pick up #2013 and make a failing test and we'll fix it.

[2022-06-28 19:04] pizzooid opened #2051 "docs improvement"
https://trpc.io/docs/nextjs uses `const url = process.env.VERCEL_URL` when it should use `const url = process.env.NEXT_PUBLIC_VERCEL_URL`

[2022-06-28 23:04] ajhenry commented on #2051
`VERCEL_URL` is valid and provided at build time so that can be used on the server. But on the client you'll need to use `NEXT_PUBLIC_VERCEL_URL`

Reference: https://vercel.com/docs/concepts/projects/environment-variables#system-environment-variables

I can make a docs update

[2022-06-28 23:14] sachinraja commented on #2051
Sure! It doesn't need to be public though. We just need to check if it's on the client:
[code]

[2022-06-30 16:04] KATT opened #2055 "wow ❤️"

[2022-06-30 16:07] KATT commented on #2055
@all-contributors add @webdiego for financials

[2022-06-30 16:08] KATT commented on #2055
@all-contributors add @dmaykov for financials

[2022-06-30 16:08] KATT commented on #2055
@all-contributors add @riccardogiorato for financials

[2022-06-30 16:09] KATT commented on #2055
@all-contributors add @zomars for financials

[2022-06-30 16:10] KATT commented on #2055
@all-contributors add @lmatheus for financial

[2022-06-30 16:10] KATT commented on #2055
@all-contributors add @carlbarrdahl for financials

[2022-06-30 16:13] KATT commented on #2055
@all-contributors add @calcom for financials

[2022-06-30 18:42] mariandaniel24 opened #2065 "Enforce properties in procedures"
Hello,

We've recently started to migrate a large project over to tRPC and we have decided on enforcing the `meta` property as a way to define per-procedure access control (roles and misc. settings).
This control is being handled in by a middleware, however, the "issue" is that `meta` is still an optional property and it would be nice if this could be caught at compile time, rather than having the

[2022-07-01 10:41] arturbunko opened #2068 "Input is not the same schema as expected"
Hello,
I was trying, to migrate my next API to trpc.
I generate trpc cache using createSSGHelpers (because for us need static generation) and in static props request end successfully. But on client I getting the error **TRPCError: No input expected.** I created log in onError in createNextApiHandler, and input is  `{ json: null, meta: { values: [ 'undefined' ] } }  `.

[2022-07-01 11:05] jlalmes commented on #2068
Please make sure you have added `superjson` to both your FE (`withTRPC.config`) AND your BE (`trpc.router`).

https://trpc.io/docs/data-transformers#using-superjson

[2022-07-01 11:05] #2068 closed

[2022-07-01 14:50] lgraubner opened #2070 "Redact error message for client for status 500 errors"
I noticed the client side error message for unhandled server side errors contains the original error message. I don't think that is a good idea, at least for my case as those can be quite sensitive information. Is there any way to redact/overwrite it?

The [error handling docs](https://trpc.io/docs/error-handling#handling-errors) mention it's possible to alter errors, but I couldn't figure out how

[2022-07-01 14:55] sachinraja commented on #2070
It's only shown in development mode. Feel free to send a PR to clarify this in the docs

[2022-07-01 15:41] lgraubner commented on #2070
Thanks for the prompt response. I thought I saw the message in production, that's why I'm asking. But I might be mistaken, will have a look for it and reopen if it's still the case.

[2022-07-01 16:08] lgraubner commented on #2070
I just tested this manually and my initial observation seems to be true:

[code]

Client shows this:
<img width="438" alt="Bildschirmfoto 2022-07-01 um 18 04 33" src="https://user-images.githubusercontent.com/2519959/176930901-6a13d6c8-442a-4e3d-b0ef-3f68c4d9bf6b.png">

It's definitely running with `NODE_ENV=production`.

[2022-07-01 16:49] KATT commented on #2070
You can do custom error formatting if you want to change the behavior. I think propagating the error message is a sane default?

[2022-07-02 00:42] TenshiMunasinghe opened #2072 "Router doesn't infer types properly"
Here's my router code.

[code]

and here's it's type:
[code]

As you can see, it doesn't infer the type of request input which is
[code]
and instead, it's just `undefined`.

What am I doing wrong here?

[2022-07-02 01:00] blackdynamo commented on #2072
Are you using Typescript? Have you ensured that it's in strict mode?

No strict
![image](https://user-images.githubusercontent.com/245688/176980854-a3173bb0-0d36-4793-a903-442b398ccf3d.png)

Strict mode
![image](https://user-images.githubusercontent.com/245688/176980868-2baa8185-718a-4027-8f89-e2c30ee4aa01.png)

[2022-07-02 01:51] jsjoeio opened #2073 "inconsistent use of typescript as dependency vs devDependency in examples"
Hey there!

I noticed that some `/examples` use `typescript` as a `dependency` and others as a `devDependency`.

Shouldn't it _always_ be a `devDependency` since it's only used during development?

[2022-07-02 02:35] sachinraja commented on #2072
If you are using strict mode and still seeing the issue, we need a reproduction.

[2022-07-02 02:44] jsjoeio commented on #1600
It looks like this can be closed via https://github.com/trpc/trpc/pull/1777 (thought technically in the `next`) branch.

[2022-07-02 02:49] #1600 closed

[2022-07-02 06:08] PabloRosales opened #2076 "useQuery input is undefined"
Hey, I have this issue where all my `useQuery` inputs on React are marked as undefined. I'm using zod for the inputs/outputs

[code]

![image](https://user-images.githubusercontent.com/2329117/176988683-2552ec19-5eaf-4d92-90b5-bbc50ca9f41f.png)

Also my mutation variables are void:

![image](https://user-images.githubusercontent.com/2329117/176988748-3245f808-5a74-4994-a9f2-f584fa611f58.png)

I co

[2022-07-02 06:18] PabloRosales commented on #2076
Just realized this might be better suited for StackOverflow... delete if I should move there.

[2022-07-02 15:59] waptik commented on #1290
[NotionBird](https://twitter.com/NotionBird) - A twitter bot to save tweets and thread to Notion
[Asorei](https://asorei.vercel.app) - A simple church management system

[2022-07-03 03:05] SamSokolin opened #2081 "Support query or mutation level middleware"
Express allows me to define middleware per route:
https://expressjs.com/en/guide/using-middleware.html#middleware.router
while tRPC effectively only allows you to attach middleware to the router.

I'd love to be able to do something like this:
[code]

Currently I'd need to put the middleware evaluation logic in the `resolve` function.

[2022-07-03 04:16] sachinraja commented on #2081
We will have procedure level middlewares in the upcoming v10!

[2022-07-03 04:16] #2081 closed

[2022-07-05 02:47] 3x071c opened #2084 "Node 18 utility for filter out blocklisted request headers"
**Update:** culprit is this: https://github.com/trpc/trpc/pull/2085#issuecomment-1175630821

---

After integrating the [WebSocket example](https://github.com/trpc/trpc/tree/main/examples/next-prisma-starter-websockets) into my own project I had noticed that server-side/SSR batched `fetch` calls fail. This behavior can also be observed with the official example itself (I had to remove some conflic

[2022-07-05 07:06] KATT commented on #2084
As a workaround, you can ponyfill `node-fetch` into `createTRPCClient({ fetch: /* ponyfill here */ })`

[2022-07-05 07:22] KATT commented on #2084
I am not sure this is an actual issue, I tried to reproduce in #2085 but it works fine. **Please add a reproduction 🙏**, I've invited you as a collaborator so you can push straight onto that branch.

You might be using subscriptions & WebSocket on the server. See here for proper setup, it's an easy one to miss.

- https://github.com/trpc/trpc/blob/4ebd040f7d396080bcd63b59a302cead7aa6cdb7/examples/

[2022-07-05 07:43] KATT opened #2086 "add contribs"

[2022-07-05 07:43] KATT commented on #2086
@all-contributors add @carlbarrdahl for financial

[2022-07-05 07:44] #2086 closed

[2022-07-05 08:42] #1702 closed

[2022-07-05 14:29] #2073 closed

[2022-07-05 14:51] anthonyshew opened #2094 "Unexpected request method OPTIONS"
Hey, tRPC folks.

Loved your work here enough to take tRPC to production.

We're having a pretty major issue with the following, though.

[code]

We followed most convention in the nextjs-prisma starter. [Our repo can be found here](https://github.com/kittrgg/kittr). The only thing that I can think of that we did that isn't in the docs is we had to change the `[trpc].ts` right for a `[[...trpc]].t

[2022-07-05 17:07] KATT commented on #2094
Hey @anthonyshew,

You don't seem to have set up CORS in https://github.com/kittrgg/kittr/blob/master/apps/web/src/pages/api/trpc/%5B%5B...trpc%5D%5D.api.ts, could be that?

Maybe tRPC should be sending a 200 on `OPTIONS`-requests? I'm honestly not sure what the right approach is here.

[2022-07-05 17:08] #2094 closed, assigned to nobody

[2022-07-05 17:52] 3x071c commented on #2084
@KATT Thanks for looking into this! I have checked my setup once more and can confirm that I have properly integrated the example 😄 Since I'm able to reproduce this with the `next-prisma-starter-websockets` example as well, I doubt I've done something wrong here (though I'd be happy to be wrong). The overall CI/testing pipeline of this repo seems pretty lackluster, I have just pushed some updates

[2022-07-05 20:38] SamSokolin opened #2098 "Support invalidating multiple router queries in one go"
Let's say I have an API that lists dogs and an API that gets an individual dog. If I delete a dog, I'd like to be able to just do something like:
[code]

Currently I have to do:
[code]

Using vanilla Express and react-query, I'm able to do something like this:
[code]

But with since tRPC structures the query keys for you, I'm not able to.

[2022-07-05 20:49] SamSokolin opened #2099 "Support typed metadata on errors"
I have a use case in my app where I return an error on delete because a user needs to delete some related resources first. In that case, I'm returning an error with some data like so:
[code]

In the tRPC world I can achieve the same thing by setting the cause to `associatedResources` which is of type `string[]`. It would be awesome if tRPC could somehow infer the type of that "error metadata" on c

[2022-07-05 20:50] SamSokolin commented on #2099
Also been cutting what feels like a few nit-picky issues lately so just wanted to say that tRPC is awesome!!! Just unloading ideas for the project as I think of them 😄

[2022-07-05 21:23] SamSokolin commented on #2099
Actually looks like formatting errors only seems to be working for the top level router. If I add a `formatError` clause to one of the inputs to a merged router, it doesn't get picked up.

[2022-07-06 04:22] #2098 closed, assigned to nobody

[2022-07-06 04:28] KATT commented on #2099
I started adding error inference in the next major but decided to drop it because of complexity, might be picked up in the future.

The annoying thing with inferring errors is that there'll always be a set of errors that can happen outside of your control - runtime errors in the backend & network errors.

Won't be for a while.

[2022-07-06 04:28] #2099 closed

[2022-07-06 04:34] KATT commented on #2084
@3x071c thanks for digging in this, it seems indeed be something to do with forwarding the headers.

Do you know somewhere with a good list of headers that are "reserved"? Unsure if we should do this automatically or if we should provide a utility function that strips out extra headers.

[2022-07-06 04:39] KATT commented on #2084
@jlalmes @sachinraja a penny for your thoughts on what we should do here?

The problem is that when we do the SSR-prepass and forward headers from the client to the server we can send some headers that node.js' native v18 `fetch` doesn't like.

[2022-07-06 04:46] SamSokolin commented on #2099
@KATT formatError actually seems adequate for my use case! Would it be super complex to extend the existing formatError functionality to account for merged routers? I’d need to look at how merged routers are composed to see for myself

[2022-07-06 05:32] KATT commented on #2099
You should only have one formatError in the top app router, otherwise tRPC will crash your server and complain that have duplicate formatters

[2022-07-06 15:17] marwinhormiz opened #2103 "Intellisense not reading correct types"
![f41100c49740b59f3df2234dc02dd01c](https://user-images.githubusercontent.com/56167333/177582889-a5350c13-49ee-4f98-bdbb-08231d67f4b0.png)

Today I created a new folder for my seperate routes for the API called "routes" and updated the import path in the index file where the main appRouter is merging these seperate routes. In my user.ts I have a simple mutation route that takes an input of an obje

[2022-07-06 15:23] ixahmedxi commented on #2103
have you enabled `"strict": true` in your tsconfig?

[2022-07-06 15:26] marwinhormiz commented on #2103
I did not have it on strict mode, just enabled it and it works, that's my bad. Thank you for your help!

[2022-07-06 15:26] #2103 closed

[2022-07-06 22:36] KATT opened #2124 "[RFC] Server-side calls & metadata"
When calling tRPC procedures for instance integration tests or in pure backend calls that aren't over the wire.

### Given this backend

[code]

**We want to allow calling it like this:**

[code]

<details><summary>Old example ahead of @sachinraja's suggestion</summary>
[code]
</details>

**And we want to be able to access metadata like this**:

[code]

### Stretch goal

Related to this: we should

[2022-07-06 22:57] KATT opened #2107 "Proper npm readme of all packages"
These all look very boring:

- https://www.npmjs.com/package/@trpc/server
- https://www.npmjs.com/package/@trpc/client
- https://www.npmjs.com/package/@trpc/react
- https://www.npmjs.com/package/@trpc/next

Maybe we can find a way to copy `/README.md` as part of the build process or write short bespoke readmes for each package.

[2022-07-07 04:40] KATT opened #2108 "Simplify rollup config and submodules"
Currently, when we define a new export in the packages we add it in several places:

**Example** for `@trpc/server/observables`:

- https://github.com/trpc/trpc/blob/8c5499cb42697db3c0b580e92aa176cfef5b2475/packages/server/rollup.config.js#L14
- https://github.com/trpc/trpc/blob/8c5499cb42697db3c0b580e92aa176cfef5b2475/packages/server/package.json#L82-L86
- https://github.com/trpc/trpc/blob/8c5499

[2022-07-07 06:19] KATT opened #2110 "Move `@trpc/server/observable` + `@trpc/server/rpc` into `@trpc/server/shared/[..]`"
Background: https://github.com/trpc/trpc/pull/2109#discussion_r915468814

[2022-07-07 06:49] KATT opened #2111 "Fix abstractions for proxies and align across React + raw"
Currently, there's an inconsistency between `@trpc/react` and `@trpc/client`

I think they should be a wrapper around the client and be i.e:

[code]

[2022-07-07 06:54] KATT opened #2112 "Write a migration guide for V10"
https://alpha.trpc.io/docs/migrate-from-v9-to-v10

Can be split into different parts

The main chunks of this can be found [here](https://github.com/trpc/trpc/blob/next/.tmp/v10-docs.md#interopability-mode-for-old-routers--migration-path):

95% use-case:

- [x] Transforming old API for backward-compatabiltiy
- [ ] Add your first router in the new way
- [ ] Briefly explain new Router API
- [ ] Brie

[2022-07-07 06:56] KATT opened #2113 "Create proxy methods for `react-query`'s `useContext`"
We might want to attack https://github.com/trpc/trpc/issues/2124 ahead of this

[code]

[2022-07-07 07:02] KATT opened #2114 "Create `Proxy`-API for subscriptions"
Currently, the subscription API is unchanged and is using template literals. It should be  something like:

[code]

[2022-07-07 07:03] KATT opened #2115 "Rewrite current docs to be V10 compliant"
In regards to the [`next`-branch](https://github.com/trpc/trpc/tree/next).

### The draft docs for v10:

https://github.com/trpc/trpc/blob/next/.tmp/v10-docs.md

### How to the website to run locally

[code]

All docs are in https://github.com/trpc/trpc/tree/main/www

### More detailed description

In general, it's about blitzing through this (on `next`): https://github.com/trpc/trpc/tree/next/www

[2022-07-07 07:16] sachinraja commented on #2115
If anyone wants to help out with this, please join the Discord so we can discuss rewrites/changes first.

[2022-07-07 07:19] KATT opened #2117 "Add minimal Fresh example?"
https://fresh.deno.dev/

[2022-07-07 07:20] KATT commented on #2117
@sachinraja WDYT? It would also help validate that we don't break ESM support etc

[2022-07-07 07:22] sachinraja commented on #2117
I tried it before but Deno/esm.sh sucks with many peerDependencies. This issue is made worse because alpha versions can't use semver. I'll have another go and see how it is though.

[2022-07-07 07:59] KATT opened #2118 "Migrate `zart` to v10"
It would be nice if we could modernize https://github.com/trpc/zart to v10

- Migrate to V10
- Turborepo?
- Maybe we should use https://github.com/nandorojo/solito?

[2022-07-07 14:34] KATT opened #2121 "Using multiple TRPC clients in the same app"
### Discussed in https://github.com/trpc/trpc/discussions/1990

<div type='discussions-op-text'>

<sup>Originally posted by **dodas** June 14, 2022</sup>
I am trying to have multiple `TRPCRouter`s on backend and separate `TRPCClient`s to access them.
Looking at [the way react hooks / contexts are set up](https://github.com/trpc/trpc/blob/main/packages/react/src/createReactQueryHooks.tsx), seems li

[2022-07-07 14:50] ixahmedxi commented on #2107
I think having a short README that expresses what each of this package does is better than copying the project readme. I will tackle this now.

[2022-07-07 22:06] sachinraja commented on #2111
Should this be closed?

[2022-07-08 02:02] SamSokolin opened #2126 "Allow onError to swallow mutateAsync errors"
When calling mutateAsync, it would be great if we could fully defer error handling to the `onError` function. Effectively do something like this:

[code]

The solution above effectively accomplishes my goal but the `catch(null)` feels a little ugly. Fwiw, I'm aware that tRPC is adopting react-query's precedent here. However, given that onError receives a properly typed TRPCClientError `error` argu

[2022-07-08 02:50] SamSokolin commented on #2126
Realized I can also do something like this myself by writing a thin `trpc.useMutation` wrapper. Looks like this:

[code]

[2022-07-08 13:34] sachinraja commented on #2126
Your wrapper is not typed properly and making it the correct type is difficult and subject to change. I agree it does make sense for us try catch the error automatically if `onError` is provided since all errors are known.

[2022-07-08 14:15] sachinraja commented on #2126
Your wrapper is not typed properly (needs generics) and making it the correct type is difficult and subject to change. I think you should use `mutate` here?
See https://tkdodo.eu/blog/mastering-mutations-in-react-query

[2022-07-08 14:23] jlalmes commented on #2114
Related: https://github.com/trpc/trpc/pull/1999

[2022-07-08 17:34] SamSokolin commented on #2126
Sorry should have included what `trpc` is here:

[code]

I believe it should be typed correctly because I'm using the type of my app router to construct the wrapper.

[2022-07-08 18:18] sachinraja commented on #2126
It won't. You need generics

[2022-07-08 18:49] zomars opened #2134 "RFC: Adding monorepo example"
I'm thinking into adding a monorepo example with this in mind:

- 2 Next.js apps with shared:
  - Prisma
  - tRPC
  - Nextauth.js
- Maybe an additional app for open-api
- Maybe E2E and unit tests
- Maybe Turborepo

Any ideas that I should include? Is this something the community is interested in?

[2022-07-08 19:42] jrandallw commented on #2134
Upvote; running into a lot of DX hiccups trying to integrate this.

[2022-07-08 21:55] ayoubphy opened #2136 "Split queries and mutations into separate files"
Hello,

I am new to tRPC and planning to use it in my next production project. Is there a way to split the chained mutations and queries that belong to a router into their own separate files ?

[2022-07-09 00:10] anthonyshew opened #2137 "Dynamically type the data result of a hook according to inputs"
Hey, folks!

We ran into a hiccup with trying to dynamically type the data that comes back from our endpoint.

Imagine an identity endpoint that can return either a string or a number:
[code]
Now, when we go to use this on the frontend:
[code]

[code]

That's my simple, silly example to demonstrate the idea of what we're after.
In the real world, what we are running into is this:
[code]

And here

[2022-07-09 04:39] sachinraja commented on #2136
Not in an easy way at the moment. This will definitely be possibly in the upcoming v10 though.

[2022-07-09 04:39] #2136 closed

[2022-07-09 04:59] sachinraja commented on #2137
I'm unsure if this is possible within the bounds of TS, but I'll look into this.

[2022-07-09 16:01] drewradcliff commented on #2134
zART is a monorepo example: https://github.com/trpc/zart
Related issue to modernize it: https://github.com/trpc/trpc/issues/2118

[2022-07-09 16:48] sachinraja commented on #2126
Closing this because I believe just using `mutate` is what you want.

[2022-07-09 16:48] #2126 closed

[2022-07-09 20:09] vasik123454 opened #2140 "Don't get cookies in trpc context"
So i have trpc set up with next.js and im trying to ssr where i fetch user before page load using trpc.useQuery hook, but i don't get the cookie with JWT token in trpc context

i have this code in [username].tsx page:
[code]
and this code in trpc context, where i can't console.log the cookies:
[code]

[2022-07-09 20:26] ixahmedxi commented on #2134
https://github.com/ixahmedxi/noodle is an example of an nx monorepo with trpc v10, nextjs, next-auth and prisma. It's very much still in the beginning as that I just set it up but as a proof of concept it works.

Here's my explanation of how I configured everything.

All trpc API stuff (routers, procedures...etc) is created in the `libs/server` library, the library exports the context, merged app

[2022-07-09 21:36] anthonyshew commented on #2137
I did indeed figure this was a TypeScript limitation with all the mastery that I saw going on under the hood of tRPC. 😄

No problem, thanks for looking at it!

[2022-07-10 05:22] zorrolisto commented on #2134
Maybe you are talking about this https://github.com/t3-oss/create-t3-app,

[2022-07-10 06:06] zomars commented on #2134
@zorrolisto  this is not a monorepo setup. I'm asking for a similar stack + monorepo

[2022-07-10 08:03] shahidcodes opened #2143 "What's best way to export trpc generated types to a standalone react native app (different developers/team)?"
Can we export types and publish it to a package and share with other team member or developer without converting the project in a mono repo or putting both back end and frontend in the same repo?

[2022-07-10 09:14] KATT commented on #2143
Yeah, you can export types of the backend as an npm lib but I'd recommend having a monorepo.

[2022-07-10 09:26] shahidcodes commented on #2143
Could you direct me to any docs which help export the types only?

[code]

This needs `appRouter`. I don't know how to extract appRouter type to a file.

[2022-07-10 10:25] KATT commented on #2140
Ah, yes, we need to improve docs on ssr #1811.

[2022-07-10 11:06] KATT commented on #2134
@zomars, this is awesome, but if you do, use the v10 alpha so it doesn't become obsolete straightaway ☺

[2022-07-10 14:27] ajcwebdev commented on #2115
Slightly different command sequence I ran to get spun up in case anyone else needs it:

[code]

[2022-07-10 15:49] mmkal commented on #2137
I think this would require higher kinded types to work, so maybe one day: https://github.com/microsoft/TypeScript/issues/1213

There are some workarounds involving module augmentation but I'm not sure they'd be practical in this case.

[2022-07-10 15:49] sachinraja commented on #2137
I'm thinking any sort of generic solution might be impossible because of https://github.com/microsoft/TypeScript/issues/1213 ("Higher Kinded Types"). tRPC already takes in a generic for the function.

[2022-07-10 21:27] KATT commented on #1963
With the [new major](https://github.com/trpc/trpc/blob/next/.tmp/v10-docs.md) we could potentially add a new method called `.inputCallback` or similar that could take whatever `input` takes but as a callback instead. 🤔

[2022-07-10 21:35] anthonyshew commented on #2137
Great minds thinking alike.

@mmkal I'd agree that that doesn't seem like something we would want to get into for this.

@sachinraja I did notice that generic...But we had no idea what to do with it or if it was going to fit what we wanted to do. The inspiration for this idea came from `react-query` where you can do:
[code]

Maybe that is what that generic does and we just didn't spend enough time

[2022-07-10 23:48] #2107 closed

[2022-07-11 03:38] sachinraja commented on #2137
So you want to be able to override the type of a `useQuery`? Passing a generic to do that is not possible in v9 currently but it is on the alpha version.

[2022-07-11 04:58] abhishek-butola opened #2148 "Fastify Lifecycle hook"
How to access onSend or any lifecycle hook of fastify?

[2022-07-11 05:37] KATT commented on #2115
FYI @nexxeln @ajcwebdev - I think @sachinraja & @ixahmedxi are going to blitz through as much as possible of this today :)

[2022-07-11 07:55] KATT commented on #2111
yes!

[2022-07-11 07:55] #2111 closed

[2022-07-11 08:09] jrmyio commented on #1963
Is the input expecting a function in its default behavior? If not,  wouldn't it be possible to overload `input` by allowing a function as the first parameter?

[2022-07-11 08:11] KATT commented on #1963
@sachinraja - a penny for your thoughts; do you think there's a way to support both?

We could change the default behavior of the parser callback from `inputParser( input: unknown ) { }` to `input( opts: { rawInput: unknown; ctx: Context })` maybe?

[2022-07-11 12:22] KATT opened #2152 "Rewrite all `./examples/.interop` to v10"
Feel free to submit PRs with migrating all of the examples here to the new version: https://github.com/trpc/trpc/tree/next/examples/.interop

1. copy folder to `/examples`
2. update `package.json` and remove `-interop` in the name
3. go through code and change it to `initTRPC()`-style stuff and remove old routers

All examples should run with `yarn dev` after `yarn` have ben run once in the root

[2022-07-12 07:09] Lilja opened #2158 "Client: query building should not add a slash blindly after the URL"
Something I've dealt with with building the aws-lambda handler is that I've added a `<url>:<port>/`. There is a leading slash here, tRPC will just append `/<query|mutation>` to the URL, making it look like `<url>:<port>//<query|mutation>`.

I would think that the query builder should look at the last character of the url-string and not add a slash to it if there already is a leading one.

Today:
`

[2022-07-12 10:03] zanzlender opened #2160 "createSSGHelpers function throws error with example from docs"
I have been following the NextJS example at [tRPC - SSG Helpers](https://trpc.io/docs/ssg-helpers). It says we should be able to use getServerSideProps like so:

[code]

Everything works, but leaving the **ctx** object empty throws an error:
`Type '{}' is missing the following properties from type '{ req: NextApiRequest | undefined; res: NextApiResponse<any> | undefined; session: Session | null |

[2022-07-13 10:40] KATT opened #2179 "Can we leverage Docusaurus versioning?"
Can we leverage [Docusaurus versioning](https://docusaurus.io/docs/versioning) for V10?

I **don't** want to do versioning for each minor/major, but it would be nice to have a `9.x` and `10.x` checked in.

Otherwise, it's also perfectly fine if we have to independently deployed apps as well.

[2022-07-13 10:49] KATT opened #2180 "Add a `/merch`-part on the website? :)"
https://twitter.com/alexdotjs/status/1538472230505652225

- Anything that would be embeddable with an iframe or something easy would be nice.
- Stuff like t-shirts and stickers should have the same provider
- Ship globally, but ideally that they are _produced_ locally

[2022-07-13 11:38] KATT commented on #2160
Yeah, that would contradict my recommendations. I wouldn't pass `req`/`res` around in the ctx propagation.

Here's a better context file: https://github.com/trpc/examples-next-prisma-starter/blob/main/src/server/context.ts

Feel free to open an issue on their repo and @ me.

[2022-07-13 11:38] #2160 closed

[2022-07-13 21:50] CaptainObi commented on #2118
I'm willing to help out here. I've set up things like turborepo, rn, and trpc in the past.

[2022-07-13 21:52] Nsttt commented on #2152
Adding a basic zart example. I see there's none at the moment.

[2022-07-13 22:16] KATT commented on #2152
@Nsttt see #2118, @zomars is working on it :)

[2022-07-13 22:19] Nsttt commented on #2152
Ah, got it 😊. I'll move into other stuff then.

[2022-07-13 22:19] Nsttt commented on #2152
Ah, got it 😊. I'll move into other stuff then.

[2022-07-13 22:20] KATT commented on #2152
Or [reach out to zomars](http://trpc.io/discord) to see if you can help, he's on our discord!

[2022-07-14 07:08] TheoBr opened #2187 "tRPC v10 fails "noUncheckedIndexAccess", breaks build if you have it on"
This is in @trpc/client's `dataLoader.ts`

<img width="583" alt="image" src="https://user-images.githubusercontent.com/6751787/178922786-987fea9d-27f6-4fb9-b499-d6d0b1a4c7db.png">

[2022-07-14 10:33] KATT opened #2192 "❤️"

[2022-07-14 10:33] #2192 closed, assigned to nobody

[2022-07-14 12:04] CaptainObi commented on #2118
Does anyone have any preferences in terms of Turborepo or Solito?

[2022-07-14 12:35] juliusmarminge commented on #2118
🙋Turbo

[2022-07-14 13:26] samal-rasmussen commented on #2134
I would really like to see a frameworkless and as close to vanilla html/css/ts frontend included. It's the best at showing what is actually necessary as opposed to what is framework fluff.

[2022-07-14 17:18] nandorojo commented on #2118
The [Solito starter](https://github.com/nandorojo/solito/tree/master/example-monorepos/blank) uses Turborepo too – feel free to reference that!

[2022-07-14 19:54] CaptainObi commented on #2118
Okay, I think I'll use Solito unless there are any major objections?

[2022-07-14 20:04] Nsttt commented on #2180
Good idea ! You can probably use [Hydrogen](https://hydrogen.shopify.dev/) from the Shopify team.

Heard you can make cool stuff on it with ease.

[2022-07-14 20:12] KATT commented on #2180
Too much work, I just want a script tag or something that I can add to docusaurus

[2022-07-14 22:24] KATT opened #2203 "Make a banner on top of the website"
I'd like a top banner on the top of the Docusaurus page where we can have like _"hey you're watching V10, read the documentation guide"_

[reactjs.org](https://reactjs.org/) has a top banner about Ukraine and I'd like something similar, their source code is at https://github.com/reactjs/reactjs.org

[2022-07-14 22:28] KATT commented on #2118
Sounds good to me, whatever works! I haven't played with it but @nandorojo usually makes cool shit

[2022-07-14 22:36] nandorojo commented on #2118
if you're adding navigation, then you should add solito. it'll look the same as Next router/link with the same functionality, in addition to working on iOS/Android

[2022-07-15 10:05] KATT opened #2208 "tRPC loader for Remix?"
https://twitter.com/alexdotjs/status/1547883203863539712

**Updated** b/c of https://twitter.com/_thomasholland/status/1547975062728216576

[code]

<details><summary>Old idea</summary>

[code]

<details>

[2022-07-15 15:13] elspecal commented on #1916
had the same issue. in my case the ts lang server started to report false error messages. i fixed that by removing and re-installing `node_modules`. that is when i faced the above `implicit any` issue. had to regenerate the prisma client by running `prisma generate`

[2022-07-16 04:43] cayter opened #2211 "How about Flutter support?"
Is it possible to generate the client code for Flutter dart? Or is there a way for us to emit the API JSON schema so that the community can work on various clients other than just Typescript to call tRPC APIs? Yes, I'm aware of the drawback of no more Typescript's automatic type inferring.

[2022-07-16 05:08] FerasAloudah commented on #2211
You can use https://github.com/jlalmes/trpc-openapi to generate an OpenAPI document to make it easy for different clients to work with tRPC.

[2022-07-16 05:15] cayter commented on #2211
Ahhh okay, thanks!

[2022-07-16 05:15] #2211 closed

[2022-07-16 10:55] josvanos opened #2215 "Documentation Proxy Api and @trcp/client"
The new v10 trpc server looks clean, such as the following code snippet:

[code]
The object based approach works a lot better than defining query endpoints as string. However, the client side feels left behind and out of sync with the syntax with the server side. Personally, I would like to propose a new api / syntax  for the client.

[code]
I propose just like the server an object based approach

[2022-07-16 12:18] KATT commented on #2215
Not on my laptop right now, but this looks very similar to the proxy api that we currently have.

I do agree we should simplify it to have 1 initialization instead of 2.

Apart from that, our current trpc client allows a lot of flexibility with the links architecture, but I do see that we could reduce the bundle size a bit by making a slimmer client (however that doesn't seem to be your concern he

[2022-07-16 12:47] ninox14 opened #2216 "404 error when installing experimental v10.0.0-alpha.38 packages"
I get an error when trying to install experimental alpha packages

![](https://i.vgy.me/ta6PR1.png)
![image](https://user-images.githubusercontent.com/31549851/179355489-945f801d-4919-49e2-a4df-cf98acfcc7cf.png)

[2022-07-16 13:03] josvanos commented on #2215
I wasn't aware there was a proxy api already. As I understand, using `client.query("getPosts")` or ` client.getPosts()` is personal preference, so I wouldn't call it a concern. Maybe the documentation is lacking about this topic/ the proxy api under @trpc/client?  I think the current documentation also falls short under @trcp/client in showing the flexibility of the link structure offers (maybe a

[2022-07-16 13:06] ninox14 commented on #2216
Solved by removing `@experimental` from package names in `package.json`

[2022-07-16 13:06] #2216 closed

[2022-07-16 13:25] KATT commented on #2215
Will respond properly at some point but until then loon at https://alpha.trpc.io/ and https://github.com/trpc/trpc/blob/next/.tmp/v10-docs.md

[2022-07-16 13:53] josvanos commented on #2215
I will close the issue, as you guys have figured already out how to design a corresponding v10 client api. Despite English isn't my native language, if you need help around the @trpc/client documentation feel free to contact me or reopen this issue. Thank you for the information and success in the chaos the major update brings.

[2022-07-16 13:53] #2215 closed

[2022-07-16 13:56] KATT commented on #2215
Join the discord @josvanos!

[2022-07-16 13:59] KATT commented on #2215
This was a great RFC, would love to hear more of your ideas, fee free to @ me ☺

[2022-07-16 15:49] aradalvand opened #2217 "v10 client API design"
(This is a follow-up to [this Discord thread](https://discord.com/channels/867764511159091230/894984069291581511/997850601100677150))

I was checking out the v10 docs (https://alpha.trpc.io) and noticed a bunch of things I was massively turned off by and I'm pretty confident I'm not alone in this, I figured maybe I should provide this feedback to you guys before v10 gets released so that hopefully

[2022-07-16 16:07] cayter commented on #2018
I am wondering why can't we separate the single and batch calls?

So this is how `axios` does the concurrent API calls which introduces N round trips:
[code]

Possible for us to do this explicitly? IMHO, letting the users decide when to do batch calls would cover more use cases better.
[code]

[2022-07-16 16:11] cayter commented on #2018
I am wondering why can't we separate the single and batch calls?

So this is how `axios` does the concurrent API calls which introduces N round trips:
[code]

Possible for us to do this explicitly? IMHO, letting the users decide when to do batch calls would cover more use cases better, i.e. less magic = less burden for both maintainers/users.
[code]

[2022-07-16 17:54] mmkal commented on #2217
I kind of agree with a lot of this - but not the "massively tuned off" part(!) - to me these are just minor ergonomics improvement opportunities.

Re the two `create...Client` calls. First of all @aradalvand take a look at the smurfing discussion #2131 re the usage of "trpc" in function names. Putting that aside, how about a single create client function like:

[code]

Projest that want to always

[2022-07-16 18:04] sachinraja commented on #2217
@mmkal see https://github.com/trpc/trpc/discussions/2164#discussioncomment-3136589
@aradalvand also see above discussion where we talked about `createTRPCClient` and `createTRPCClientProxy`

[2022-07-16 18:26] aradalvand commented on #2217
@mmkal lol, you're right, I guess I just generally care a little too much about aesthetics, sorry about that! :P

Interesting thread, I wasn't aware of it. I'm usually in the "no smurf" camp when it comes to these types of arguments, although I understand the subjective nature of the matter. In this particular case however, I think the fact that tRPC is an acronym and acronyms don't really look gr

[2022-07-16 18:29] aradalvand commented on #2217
@sachinraja Thanks for that.
I think this area needs a lot of refinement, I really think having two options like that is confusing and redundant. Hopefully the best decision is made eventually.

[2022-07-16 19:23] KATT commented on #2217
@aradalvand please bare in mind that you're looking at an alpha release that hadn't even properly made public yet.

I don't want us to have "double setup" either and has brought this up in several places before, just haven't spent time fine-tuning these little details because there are bigger fish try fry.

[2022-07-16 19:34] aradalvand commented on #2217
@KATT Sure, I understand.
What about the `proxy.getSomething.query()` thing? Is that on the radar too?

[2022-07-16 20:20] KATT commented on #2217
That's exactly what we have...  do you mean the below?

If this was the case, how would the client know to call `getUser` with a `GET` (query) and `createUser`) as a `POST (mutation)?

[2022-07-16 21:39] aradalvand commented on #2217
Wouldn't a syntax like `proxy.queries.getUser({ ... })` or `proxy.query.getUser({ ... })` make more sense though? The word `query` coming **after** `getUser` seems somewhat awkward.

[2022-07-17 00:04] thelinuxlich commented on #2217
Shouldn't the client be able to get the HTTP verb internally since it knows where the procedure belongs in the server?

[2022-07-17 00:20] sachinraja commented on #2217
That would require sending some schema info over first. I'm not sure this discussion is useful anymore. Seems like a ton of bike shedding, especially when we have more important things to work on like @KATT said.

[2022-07-17 00:35] thisduck opened #2218 "Type safety is not active on client side"
I've created a repo where the backend and frontend are two different npm projects with their own package.json files. This is an express backend and a vue frontend (though I think this should not be relevant).

https://github.com/thisduck/trpc-example

On the `main` branch, the type checking on the client side doesn't work. Both calls to the query and mutation are passed the wrong params and no typ

[2022-07-17 00:39] sachinraja commented on #2218
`@trpc/server` is a peerDependency of `@trpc/client`. Feel free to send a PR to update the docs. ALso if you have a monorepo you should use ["workspaces"](https://docs.npmjs.com/cli/v8/using-npm/workspaces).

[2022-07-17 01:02] ixahmedxi commented on #2217
Personally I feel like this issue creates more issues and sparks up discussions which at the current stage of tRPC development are either known by the team and in future plans or there is a reason behind it.

Not only that but just to mention that such big API changes are not quick and easy, tRPC is built on a hug pile of typescript magic wizardry that would require us rewrites to get this as sugg

[2022-07-17 01:09] thisduck commented on #2218
Thanks @sachinraja, I added PR #2219.

I will be using workspaces eventually, just wanted to follow the docs to get a quick working example first. And ended up running into this.

[2022-07-17 01:09] #2218 closed

[2022-07-17 01:26] sachinraja commented on #2158
Why? Seems odd for us to special case this, especially when we don't recommend this naming scheme.

With [the new API](https://alpha.trpc.io/) it'll be especially odd to have a slash in your procedure name.

[2022-07-17 02:07] iway1 opened #2220 "QOL Improvement - Include tRPC Error schema in package?"
I need to do some global error handling to log a user out in the front end of my React Native app. I just want to check for an unauthorized response and log users out. In my endless pursuit of DRY code, I've decided to do this in the default options of the query client (which is only possible because you all made the awesome decision to build this library on top of `react-query`). To check whether

[2022-07-17 08:26] AndrewCathcart opened #2223 "clarifying trpc comparisons and what it does"
Shall we spruce up the docs both here & on the official docs site?

There was a lovely dumpster fire of a thread over on /r/programming where people just did not understand what this was for.

I won't link the thread directly here unless prompted (not sure of the rules etc) but here's a few areas of confusion / places people had questions about;
- Did not know it was for fullstack TS.
- Did not kn

[2022-07-17 09:55] KATT commented on #2223
This would be good indeed :)

@sachinraja has made a really good starting point of new docs structure & @jlalmes + @ixahmedxi have started on designs for the new landing page :)

[2022-07-17 10:38] #2124 closed

[2022-07-17 10:41] KATT opened #2225 "[RFC] Server-side calls, second iteration"
Now that we actually need the abstraction of the `createCaller()`, I think we'd be better off making by either:

- making this a part of the existing `appRouter.createCaller()` but make the old fns deprecated
- adding `ctx` to `createCaller()` like `createCaller({ router, ctx })`

this is my bad, i forgot that `path` and `type` so I thought we could just do `appRouter.post.byId({ ctx, input})`

##

[2022-07-17 14:45] bartlomieju commented on #2117
Hi, Bartek from the Deno team here. I'd love to help out in any way possible to get TRPC running in Deno. Are there any immediate blockers that we could tackle? We are still working on improving `deno_std/node/` which is a Node compatibility layer that esm.sh uses. Or maybe there are some changes need to esm.sh itself that could unblock this integration?

[2022-07-17 15:10] sachinraja commented on #2117
Hey @bartlomieju, tRPC v10 is decoupled from Node already runs in Deno! I have an example with Ultra [here](https://github.com/sachinraja/trpc-ultra). What could be better is esm.sh's handling of `peerDependencies` which [can break types](https://github.com/ije/esm.sh/issues/333) and forces me to use a[ crazy import map](https://github.com/sachinraja/trpc-ultra/blob/main/importMap.json#L13). tRPC

[2022-07-17 15:55] sachinraja commented on #2223
I would take anything on Reddit with a grain of salt. People there generally don't like reading anything at all. I do agree we can improve the docs to be more accessible to more people though.

[2022-07-17 19:16] #2203 closed

[2022-07-17 19:22] KATT commented on #1963
So usage could maybe be something like

[code]

It would be a breaking change for the callback functions, but not for the others.

[2022-07-17 20:01] sachinraja commented on #1963
I'm guessing most users would not like that new API but it would reduce some magic for us. I don't think there's a great solution here but we could introduce a new method like `inputWithCtx` or something like that.

[2022-07-17 20:01] #2225 closed

[2022-07-17 20:09] #2115 closed

[2022-07-17 21:18] mmkal commented on #1963
Could this be a rare case where a second arg would be helpful?

[code]

Alternatively, if the input parser is called "late" (i.e. inside any middleware callback, potentially there could just be a recipe involving `async_hooks` and people could just do

[code]

[2022-07-18 09:24] KATT opened #2243 "Make v9 support `react-query` `4`?"
- `react-query@4` is getting released and currently, tRPC doesn't support it. People will be flooding our help channel on Discord soon with issues related to this.
- I don't want us to have pressure to release v10, so I think we should make a minor `9.x`-version that has `peerDependency` of react-query `^4.0.0-....`.
- Unsure if we can support **both** anymore, so we should just say that _"after v

[2022-07-18 09:50] dyaa commented on #2243
I'd propose waiting for the release version of `react-query@4` since it's currently in beta.
I'm in favor of releasing `react-query@4` after it's being released within the upcoming `v10` without pressure where we can address issues of context and other enhancements, wdyt?

[2022-07-18 10:58] martin-fv commented on #2243
Is there any info about when react-query releases v4 and how soon will tRPC v10 be realeased?

[2022-07-18 11:43] mmkal commented on #2243
Does v10 have to be called "v10"? Could we just support react-query v4 in a small breaking change (not working with v3 anymore is very much a breaking change), call that trpc v10 and call the big-architecture-change-project "v11" (or just "vnext" if we don't want to keep assigning and reassigning integers to it before it's ready)?

[2022-07-18 12:08] KATT commented on #2243
To be clear - I'm suggesting a breaking change on v9 for this.

[2022-07-18 13:12] jlalmes commented on #2243
Should we just support `react-query@4` in `v10`, and leave `react-query@3` behind in `v9`?

v10 is stable(_-ish_) so if someone is super keen to use `react-query@4` just ask them to upgrade `tRPC` too.

[2022-07-18 13:13] jlalmes commented on #2243
I don't like the idea of breaking changes in non-major versions. I also can't see any fundamental need to support `react-query@4` in `v9`.

[2022-07-18 14:03] dyaa commented on #2243
Adding to @jlalmes and related to

It looks like there're more breaking changes when it comes to `TRPCRequestOptions`'s context, where we might have to change our property [`context`](https://github.com/trpc/trpc/blob/08f3ac714bd19f7f7cac7935b3f2dbe5386b4a90/packages/client/src/internals/TRPCClient.ts#L80)

[2022-07-18 16:57] carlosbaraza opened #2246 "Enable SSR per page (NextJS)"
Instead of having a global setup to enable SSR with `withTRPC` wrapping `_app`, we need to use it in a per page basis because our app is really big, and some parts need to be static and we don't host in Vercel but in a K8s environment.

I spent the few hours trying to understand why `withTRPC` would not work wrapping a page. It seems like somehow the query is not being sent after the first prepass

[2022-07-18 18:59] mmkal commented on #596
Worth watching:

- Next.js "Layouts" RFC: https://nextjs.org/blog/layouts-rfc#data-fetching
- This comment specifically: https://github.com/vercel/next.js/discussions/37136#discussioncomment-2807508

[2022-07-18 20:22] TheDevCactus opened #2247 "Consistency in documents"
Just a suggestion, (ill gladly make a PR for it though if we want :) ).

In the [Quick Start](https://trpc.io/docs/quickstart#defining-a-router) section of the docs, there is the below example.

[code]

I think for consistency we should either utilize arrow functions or the method like syntax utilized for the async function. Feels harder to read when they are mixed up

[code]

[code]

[2022-07-18 21:16] juliusmarminge opened #2248 "react-query v4 being installed despite peerdependency"
Got an issue over at create-t3-app that I traced back to react-query v4 and it being incompatible with trpc v9.

__Steps to reproduce__

Reproduction repo: https://github.com/juliusmarminge/trpc-rqv4

Bootstrap a basic trpc app:

[code]

The following dependencies will be installed:

<details>
<summary>package.json</summary>

[code]

</details>

Then run the application and the following error wil

[2022-07-18 22:23] sachinraja commented on #2248
We specify `react-query@^3.37.0`. If a different version is being installed, that's up to the package manager and there's nothing we can really do.

[2022-07-18 22:55] KATT commented on #2247
We are rewriting the docs for next major - if it's a problem on https://alpha.trpc.io feel free to make contributions to the `next` branch ☺

[2022-07-18 22:57] KATT commented on #2246
Could be added, but nextjs is deprecating getInitialProps, harder so with the new router they're planning. Happy to take PRs that enables this on the `next` branch though.

[2022-07-18 23:01] KATT commented on #2248
Seems like a good idea, esp if they're going to tag (or have already tagged) it as `latest`

[2022-07-18 23:02] KATT commented on #2248
Feel free to open a new issue if you think this is a problem

[2022-07-18 23:02] #2248 closed

[2022-07-18 23:03] KATT commented on #2246
If you're planning on adding the feature, please make an RFC in discussions and/or message in the contributors channel on discord.

[2022-07-18 23:11] KATT commented on #2246
Thanks for your idea. I agree this is good but not something I personally will spend time on, will actually leave it open for a bit if someone wants to take it on.

[2022-07-19 00:35] tsongas commented on #2134
@samal-rasmussen this tutorial uses React but IMO is about as simple as simple gets https://blog.logrocket.com/build-full-stack-typescript-app-trpc-react/.

[2022-07-19 01:04] nowlena commented on #2134
I put together a stripped down example using NX / tRPC v10 / Prisma

https://github.com/nowlena/nx-trpc-test

[2022-07-19 01:48] emilianonetoplatformbuilders opened #2253 "NX + TRPC + Client"
Hi guys! Soon to be fan here. 🙌

I'd like to check with you guys if you already have a working example of two apps (client and server) coexisting and successfully sharing the AppRouter type.

In my case, I have a RN app importing the RootRouter (AppRouter alias) from an Express app. Both living in the apps folder. But as you can see in the images bellow, the server defines and exports the type as

[2022-07-19 01:51] thorizer opened #2254 "are these libraries replaceable by trpc"
can trpc replace libraries like :
 - hook form ?
 - yup ?
 - joi ?

[2022-07-19 02:13] sachinraja commented on #2254
No, tRPC can integrate with all of those.
Hook form: https://kitchen-sink.trpc.io/react-hook-form
Yup: https://trpc.io/docs/router#with-yup

[2022-07-19 02:13] #2254 closed

[2022-07-19 08:07] CaptainObi commented on #2118
Anyone got name ideas?

[2022-07-19 08:21] KATT commented on #2118
zart

[2022-07-19 08:22] CaptainObi commented on #2118
Should it not be differentiated from the Turbo/Expo version somehow?

[2022-07-19 09:14] carstenlebek commented on #2180
The Shopify buy button is probably the easiest way to do this, if you want to go with Shopify (what I would recommend, because most print on demand suppliers have integrations).

[Shopify buy button](https://apps.shopify.com/buy-button?locale=de&surface_detail=buy+button&surface_inter_position=1&surface_intra_position=1&surface_type=search)

[2022-07-19 11:42] samal-rasmussen commented on #2134
React hooks are completely impenetrable by someone new to development who doesn't know React. There are a lot of concepts you have to learn first in order to understand hooks. That makes React examples terrible are introductory examples.

[2022-07-19 14:28] ogroppo opened #2258 "queryClientConfig onError function only has the error object, but the query/mutation methods are not available"
i.e. if given an error I want to refetch the data (think about an expired JWT token), the context I am in is the `onError` callback

[2022-07-19 14:31] martin-fv commented on #2243
FYI, react-query just renamed their package to https://www.npmjs.com/package/@tanstack/react-query with an initial version 4.0.5

[2022-07-19 15:44] michealroberts opened #2260 "The inferred type of 'client' cannot be named without a reference to '../prisma/node_modules/@prisma/client/runtime'"
I'm currently using Prisma with tRPC.io in a turborepo monorepo and I am seeing the following error on build:

[code]

<img width="1047" alt="Screenshot 2022-07-19 at 16 44 01" src="https://user-images.githubusercontent.com/84131395/179792636-ee6bcb19-5afb-4c23-a093-b36ae990cd6a.png">

I'm using version 9.26.2 on both @trpc/server and @trpc/client ...

I have generated the prisma types ... but no

[2022-07-19 17:59] BLamy commented on #1720
Can [devcontainer.json](https://docs.github.com/en/codespaces/setting-up-your-project-for-codespaces/introduction-to-dev-containers#devcontainerjson) be used to launch all the examples in codespaces?

https://github.blog/2022-04-20-codespaces-multi-repository-monorepo-scenarios/

[2022-07-19 18:13] KATT commented on #1720
Never tried, would be cool! Would you wna make a proof of concept?

[2022-07-20 09:33] lkj4 commented on #2217
Just migrated from alpha.29 to 38, changed my code and got everything running but guys...

@ixahmedxi kindly ask you to reopen this thread, there's is too much important and unsolved stuff in this thread and the API was just re-created within v10, so stating "than rethink our whole API design" is a bit misleading since you just rethought the whole API design since the last few alpha versions

@sac

[2022-07-20 11:18] KATT commented on #2217
We're not changing this for the time being. If we removed `GET`/`POST` distinction we might as well just remove the distinction between query and mutations.

Query + mutation distinction and having queries as GET enables HTTP caching, which is a massive benefit over GraphQL _(it's doable in GraphQL too but with a lot of work)_.

We could have the query _before_ as well, but we also want somewhat c

[2022-07-21 00:13] jvzaniolo opened #2274 "TS error with createSSGHelpers and custom context"
This is probably a duplicate of #2160 but I can't reopen that one.
Here's my issue:

I have this custom context where I get the user and pass it down to the queries/mutations.

[code]

And now I wanna render the Product Detail Page SSG.
How should I make this work?

[code]

[2022-07-21 00:23] jvzaniolo commented on #2274
Found the answer.
I pass nothing actually, `opts` can be undefined.

[2022-07-21 00:23] #2274 closed

[2022-07-21 19:21] joao-pedrozo opened #2278 "type error on useInfiniteQuery"
I am using tRPC with Next.js and my useQuery works pretty well, but when I try to use `useInfiniteQuery` I get `Type 'string' is not assignable to type 'never'` error

![image](https://user-images.githubusercontent.com/40037644/180297733-c677c5c6-f050-4037-9855-6e20a8bf9422.png)

Code of the page I am getting the error:

[code]

My `src/utils/trpc.ts` code

[code]

`src/server/router/index.ts`

[c

[2022-07-21 21:18] KATT opened #2283 "How do you perform client request cancelation in v10?"
### Discussed in https://github.com/trpc/trpc/discussions/2282

<div type='discussions-op-text'>

<sup>Originally posted by **IgnusG** July 21, 2022</sup>
I noticed that v10 abandoned the cancelable promise design returning instead a plain promise. How can you cancel a request that is already in progress?</div>

We should do something with an `AbortController` signal in the extra parameters we can

[2022-07-21 21:22] IgnusG opened #2284 "Add server proxy wrapper helper to @trpc/server v10"
I'm experimenting with a new stack and using v10 of trpc for it (the new proxy calls are awesome btw.). During SSR, I want to call my router procedures directly from the server (so without the client) - the adapters seem to still use the previous `.createCaller` API (maybe there's a newer one available?). I've noticed the types do actually include the correct (procedure) paths but those values are

[2022-07-21 21:34] IgnusG commented on #2283
An `AbortController` signal would definitely be the best way to streamline adoption.

I actually had a wrapper in v9 that accepted an AbortController signal and called the `cancel` method on the cancelable promise to bring trpc v9 inline with other fetch/query libraries.

[2022-07-21 21:48] KATT commented on #2284
See #2233, does that look like what you want?

[2022-07-21 21:48] KATT commented on #2284
Maybe I didn't release a new alpha with that 🤔

[2022-07-22 07:27] SebastianSiedler opened #2290 "useQuery without first parameter - different ReactQuery Keys in v10"
When using `useQuery` via the new proxy api without a first parameter, but ReactQuery options as a second parameter, the ReactQuery Key is different compared to the "old" api.

[code]

[2022-07-22 08:03] IgnusG commented on #2284
Oh yeah, this is perfect! I think the version I have (`10.0.0-alpha.38`) doesn't have that yet (neither during runtime, nor the typings)

[2022-07-22 09:08] carlosbaraza commented on #2246
@KATT Hello Alex, just spent some time implementing my own version of `withTRPC` that supports SSR per page. Given that there are multiple upcoming changes in both NextJS and TRPC v10, I didn't implement it with a PR into the main library.

However, please look at this [CodeSandbox](https://codesandbox.io/s/thirsty-sid-62ubc6?file=/src/pages/ssr.tsx) or the repo [carlosbaraza/trpc-ssr-config-per-p

[2022-07-22 13:44] KATT commented on #2113
@sachinraja you working on this? 👀

[2022-07-22 13:46] KATT commented on #2246
That's super impressive! I'll def get back to you on this :)

[2022-07-22 13:55] sachinraja commented on #2113
Yes, I'm doing it today

[2022-07-22 18:05] mmkal commented on #2246
That's really cool, it's easier to understand what's going on that way. And it's very normal to have `BlahProvider`s in `_app.tsx`. Our current next.js app has six of them so far. It might unlock some other possibilities like more easily passing data to the TRPCProvider from other react hooks, etc.

Given `getInitialProps` is "legacy" and may not be available at all in [Layouts](https://nextjs.org

[2022-07-22 18:05] henrikvtcodes opened #2292 "Potential for future type error in TRPCError & TRPCClientError"
While working on a project with tRPC (based on the `fastify-server` example), I came across a type error while attempting to build the project.
[code]

I managed to figure out what causes the bug: There is a breaking change in `typescript@4.6.2`, [this one](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-4-6.html#object-rests-drop-unspreadable-members-from-generic-objects) I

[2022-07-23 07:15] KATT commented on #2290
I think we should treat `undefined` and missing the same way. That's the approach I'll take.

[2022-07-23 08:55] KATT opened #2296 "woop"

[2022-07-23 08:55] KATT commented on #2296
@all-contributors add @chrisbradleydev for financial

[2022-07-23 08:56] KATT commented on #2296
@all-contributors add @Sven1106 for financial

[2022-07-23 08:56] KATT commented on #2296
@all-contributors add @iway1 for financial

[2022-07-23 08:57] KATT commented on #2296
@all-contributors add @prisma for financial

[2022-07-23 09:46] JonParton commented on #2284
I can't seem to figure out how to get this `caller` to work either (runtime or types) so hopefully just not included in the release!

[2022-07-23 10:26] #2296 closed

[2022-07-23 10:49] #2179 closed

[2022-07-23 10:53] KATT commented on #2284
@IgnusG I just released `10.0.0-alpha.39`, please let us know what you think! Feel free to close the issue or to provide further feedback :)

[2022-07-23 10:55] #2284 closed

[2022-07-23 12:20] carlosbaraza commented on #2246
@mmkal that `serverSidePropsPrepass` is an interesting approach. I found it quite frustrating that the recommended way in Apollo now is to prefetch the queries in the `getServerSideProps` function. We like fetching data at the component level, because it keeps units of logic independent from each other, and it makes it really hard to know what would be the queries in a particular page. To SSR, thi

[2022-07-23 13:06] 3x071c commented on #2246
Was about to open a similar issue, `getInitialProps` in `_app` goes against Next.js best practices and defaults, this should really explicitly be decided on a page-by-page basis using the standard `getServerSideProps` / `getStaticPaths` / `getStaticProps` fns. Looking into the preliminary [_withTRPC](https://github.com/carlosbaraza/trpc-ssr-config-per-page/blob/1ad6f62e65c478d104b89701cbcedc038b2e

[2022-07-24 14:59] cayter commented on #1963
Bumped into the same use case where I find returning localised validation error from each procedure is much more cleaner. Otherwise, I would have to come up with lots of switch cases in error handling to localise the `ZodError` which is what I'm currently doing.

[2022-07-24 16:11] #2290 closed

[2022-07-24 17:39] KATT opened #2311 "[v10] Make interop non-proxy string literals & and new proxy calls mutually exclusive"
## Problem

Currently, it's possible to use the old client APIs to call the new ways of defining routers and procedures and the other way around. This creates quite a heavy load on TypeScript performance as we flatten all procedures on the router, whether it's used or not.

Seeing that we are stepping away from string literals, this is an undesirable bottleneck & makes tRPC slower.

## Proposed so

[2022-07-24 17:58] romanzy-1612 commented on #2311
I think this is a good change, migration workflow will be nice.
Initial setup is simple: slap `interop` on legacy router and merge with empty modern router. Check that everything works.

And then its rinse and repeat:
- on server upgrade a route to v10.
- follow squiggles to change client where needed.

The good is that client side migration follows server side, one step at a time.
When migration

[2022-07-24 18:07] KATT commented on #2311
You gotta do it 1 full router at a time unfortunately.

[2022-07-24 18:26] emme1444 opened #2312 "Cannot set `Set-Cookie` response header"
I'm working with implementing authentication using `trpc`. I use the `fetch` adapter. I need to set the `Set-Cookie` response header. However in trying so I discovered that `fetch`'s `Response` objects do not allow setting this header, as per the spec [here](https://fetch.spec.whatwg.org/#forbidden-response-header-name).

After some debugging, I was able to come to the conclusion that the problem

[2022-07-24 20:44] KATT commented on #2312
Thanks for the write-up!

Without digging too much to give definite agreement here, I think it definitely should be possible to `set-cookie` just as well as any other header.

If you want, feel try to hack around with a PR to address this, [I've added you as a contributor](https://github.com/trpc/trpc/invitations) to the project :)

[2022-07-24 20:45] KATT commented on #2134
@nowlena please add to https://trpc.io/docs/awesome-trpc 🙏

[2022-07-24 21:02] KATT commented on #1963
It actually is [part of the middleware chain](https://github.com/trpc/trpc/blob/77d2dd3bf05ffe1cded8e286386266ed7e5acabb/packages/server/src/core/internals/procedureBuilder.ts#L213-L219), so this *could* work but seems very hard with the inference of the type being correct.

Thanks for providing the use-case & does seem very valid.

---

Unsure what an API would look like to support this. We'll tr

[2022-07-24 23:00] KATT opened #2314 "Delete babel runtime helpers in `@trpc/client`?"
Creating an issue for this just so we can track it on the roadmap.

### Discussed in https://github.com/trpc/trpc/discussions/2232

<div type='discussions-op-text'>

<sup>Originally posted by **KATT** July 17, 2022</sup>

We could potentially remove babel runtime helpers in `@trpc/client`. The reason they are there is to add a transformation for `async`/`await` and other modern JS features.

Howev

[2022-07-24 23:09] JonParton opened #2315 "[V10] make type inlays for queries and mutations more descriptive"
When entering the `input` object and then `options` object into a `useQuery` or `useMutation` the type inlays are not particularly helpful.

![image](https://user-images.githubusercontent.com/15039843/180669475-380104b5-bd38-45b1-acca-340e9e74d176.png)

It would be better if these were
- `input` instead of `args_0`
- `options` or something similar, instead of `args_1`

This in particular would hel

[2022-07-24 23:19] emme1444 commented on #2312
Hi @KATT

I could not have hoped for a better reply!

I will make a pr as soon as I get the chance.

[2022-07-25 09:00] codingcaffeine opened #2319 "express example npm run dev issue"
https://github.com/omar-dulaimi/create-trpc-app/issues/1#issue-1308559704

[2022-07-25 12:25] bartlomieju commented on #2117
@sachinraja thanks for the information. Let me know if the problem with esm.sh persists after posting a tag, in such case we will look into it.

[2022-07-25 14:01] #2315 closed

[2022-07-25 14:34] sachinraja commented on #2319
I'm unable to reproduce, can you push your project up and share it here?

[2022-07-25 17:43] emme1444 commented on #2312
I'm in the process of hacking a fix together for this.

The only problem I can see with this is the fact that we will not be able to send multiple `Set-Cookie` headers, which means only one cookie. You see `Set-Cookie` is a special header which, in the response headers, can appear multiple times. If the value was an array, calling `.append` only concats the values with a `, `. Which is not enough

[2022-07-26 07:22] codingcaffeine commented on #2319
sure
https://github.com/codingcaffeine/trpc-test

[2022-07-26 11:37] KATT commented on #2312
Let's change the record to support array values to make sure this is supported? I think I just decided to have it being a string for simplicity; sort of _"we'll fix it when we need to"_ and now it seems like we need to :)

[2022-07-26 11:38] KATT commented on #2312
If you setup github sponsors I'll also send you some $ when you're done :)

[2022-07-26 13:44] emme1444 commented on #2312
I can't tell if we're on the same page, but I'll make a pr so you can take a look.

[2022-07-26 13:56] MrAmericanMike opened #2328 "Not showing error when object value length isn't correct"
Given the created route

[code]

If I call it from the client side with

[code]

I do correctly get an error saying that it expects 2 to 3 arguments, but got only 1. So I add a 2nd argument which as suggested it's looking for an object containing a name string.

So I go ahead and do:

[code]

Everything perfect, even if I change name to something like "text" I get an error letting me know that:

[

[2022-07-26 17:08] KATT commented on #2328
If zod would support that, we could piggyback on that in tRPC, but currently that type information doesn't exist as far as I know.

[2022-07-26 17:08] #2328 closed

[2022-07-27 01:37] itsMapleLeaf opened #2330 "`trpc.useQuery()` is not linted by `eslint-plugin-react-hooks`"
See the playground here: https://codesandbox.io/s/eslint-react-hooks-does-not-lint-on-lowercase-named-namespaces-ojbcw8?file=/src/App.js

The linter rule only recognizes un-namespaced hooks, like `useQuery()`, or if the namespace is capitalized, like `Trpc.useQuery()`

I don't think this requires a change in API, but it might be worth changing the convention in the docs with this in mind.

[2022-07-27 16:49] ogroppo opened #2333 "How to run TRCP in PRODUCTION mode i.e. hiding stack trace on errors etc?"
Should be added maybe to this doc page https://trpc.io/docs/error-handling?

[2022-07-28 04:46] FerasAloudah commented on #2333
It looks like the stack trace is not included if the NODE_ENV is set to 'production':
https://github.com/trpc/trpc/blob/4c91e920529daa4f7c1a88cbc7b0db8a5ed405ce/packages/server/src/router.ts#L803

You can also format the error and remove the stack trace yourself:
https://trpc.io/docs/error-formatting

[2022-07-28 09:47] yoshua70 opened #2334 "tRPC API Gateway returns undefined"
I'm trying to build a microservices architecture. I have multiple tRPC inside of a monorepo, and an API Gateway connecting the different servers :
[code]

Here, the authRouter code :
[code]

I can call the auth api by doing making request to `/trpc/apiAuth.auth.login` for example. The gateway returns the errors, but when data must be returned (on successful request for example), it throw the follo

[2022-07-28 10:14] yoshua70 commented on #2334
I found the issue.
I was using some env variables in the auth microservices. But since I called the function from the api gateway, the env variables must also be set on the gateway.

[2022-07-28 10:14] #2334 closed

[2022-07-28 10:24] orlando-fv commented on #2333
OK thank you, that answers the question!
Worth mentioning it in the error handling page of the docs perhaps

[2022-07-28 14:13] KATT commented on #2333
Feel free to submit a PR in an appropriate place ☺

[2022-07-29 01:39] djmbdv opened #2336 "Return type of trpc.router<Context> ?"
What is the type that should it has this function?

`function createRouter(): <TYPE> {
  return trpc.router<Context>();
}
`

[2022-07-29 04:50] sachinraja commented on #2336
The type will be inferred so the manual annotation should not be necessary

[2022-07-29 05:34] #2113 closed

[2022-07-29 10:48] angelfraga opened #2338 "Feature Request/Question: Electron IPC Messages support"
Hi, first of all thanks for that great work!

Some context:

In last days I've being working at work in order to align a client UI with the electron IPCMessage handlers typing.

While I think I've got a good progress using a shared library, in some point I've faced with that library and I asked myself if it would be possible to use [trpc](https://github.com/trpc/trpc) for strongly typing IPC commu

[2022-07-29 13:11] jsonnull commented on #2338
Hey, I created the package [electron-next](https://github.com/jsonnull/electron-trpc) recently to do exactly this! If you're interested in trying it, feel free to get in touch with me and I can help out as needed.

I'm personally not sure that the integration belongs in official tRPC packages, but I have been in contact with some of the maintainers recently about ensuring the right public tRPC API

[2022-07-30 13:06] ViktorQvarfordt commented on #1714
The default behavior of retrying on error is strange to me. Most errors don't resolve automatically. The only error I can think of that should be retried is if the network connection was interrupted.

The current mechanism is problematic for a user since they have to wait for all retries to fail until the app can show the error. This is clearly not desired for errors like 400 Bad request, 401 Unau

[2022-07-30 13:10] ViktorQvarfordt commented on #1714
Is it possible to completely disable the retry mechanism until something more flexible is put in place?

[2022-07-30 14:27] KATT commented on #1714
See the message above, you can customize the behavior fully

[2022-07-30 14:36] ArnaudBarre commented on #1714
Yes it's easy do disable react-query behaviour. For now I ended up using:
[code]

[2022-07-31 02:09] DivMode commented on #1945
Hi, I am getting close to the same issue when using turborepo with pnpm:

Type error: The inferred type of 'trpc' cannot be named without a reference to '.pnpm/react-query@3.39.2_biqbaboplfbrettd7655fr4n2y/node_modules/react-query'. This is likely not portable. A type annotation is necessary.

[2022-07-31 07:03] jgoux commented on #1945
@DivMode Could you try the `node-linker=hoisted` option for pnpm? I had issues using pnpm default linker strategy.

https://github.com/jgoux/acme/blob/2fb707a7d4bdd2068b6eb5159c42910f92226e22/.npmrc#L1

[2022-07-31 08:12] DivMode commented on #1945
@jgoux Added that file to root where pnpm-workspace is in but still get the same error.

[2022-07-31 14:20] BigDog1400 opened #2342 "Improve docs section for "Inferring Types""
Currently in the docs section for [Inferring Types](https://trpc.io/docs/infer-types), there is not code snippet for getting the proper types in the options object for mutations. I think it will be helpful to add because there may be a lot of people who wants to create a custom hook wrapping their mutations and want to add proper types for options parameter.

Here is a code snippet from a custom h

[2022-08-01 07:36] rakeshpai commented on #887
Hey. Just came across this upcoming update. I wasn't aware of this, and had started work on a similar project.

https://github.com/rakeshpai/birdsong It isn't production-ready yet. It is heavily inspired by tRPC, but these are the differences from tRPC 9:

* Using actual tokens instead of strings to name methods (tRPC 10 takes care of this.)
* Cmd+click to jump to definition between client and ser

[2022-08-01 13:35] sachinraja commented on #887
Hey @rakeshpai! Birdsong looks great! Here's a response to your points:

I don't see this changing for us. `superjson` handles all of this as you noted and allows you to have custom types with serializer/deserializer functions.

tRPC v10 can run anywhere and is agnostic to the environment. We cannot use the Fetch API `Request` and `Response` yet because they aren't available in Node so we just use

[2022-08-01 23:47] system32uwu opened #2348 "Next.js HOC overwrites custom App.getInitialProps"
**Describe the bug**
Passing whatever props to _app's MyApp through getInitialProps gets deleted

**To Reproduce**
Steps to reproduce the behavior:

1: create t3-app: `pnpm dlx create-t3-app@latest`
2: Create a custom getInitialProps function for MyApp (_app.tsx), toggle the commented out exports to see the difference (HOC deletes the variables passed, while without it they get passed fine):

[cod

[2022-08-02 00:47] LunaTK commented on #2117
Hi!
I was able to make a minimal example, wish it helps you 🤞

https://github.com/LunaTK/fresh-trpc-example

[2022-08-02 09:18] KATT opened #2352 "~React~ TanStack Query 4 support"

[2022-08-02 20:46] KATT opened #2356 "Add nice pull request + issue templates"

[2022-08-02 20:46] KATT commented on #2356
cc @juliusmarminge

[2022-08-03 01:34] iway1 commented on #2330
I just do this:
[code]

Then use those in components directly. It's just more dev friendly IMO to import useQuery or useMutation instead of doing `trpc.useQuery`

[2022-08-03 01:49] iway1 commented on #1290
hstk.com - A software consulting company (site not built with tRPC).

We just built a tRPC template we'll be using for all future React Native projects if possible. Really excited about tRPC because it's going to reduce the amount of front end work we have to do per project by an, honestly, ridiculous amount.

This means our clients will get a lot more value for their money and I get to skip havin

[2022-08-03 09:26] KATT commented on #2330
Interesting, I didn't know this! Do you know which lint rule it is? I'd like to open an issue

[2022-08-03 13:12] sachinraja opened #2362 "createCaller docs"
See v10 API in #2233

`createCaller` should be documented. We should also explain when to use it (testing).

[2022-08-03 15:11] sachinraja commented on #2117
Nice work on that, it looks great @LunaTK! Please make a PR to add this to https://trpc.io/docs/awesome-trpc (on the `next` branch) and I think we can close this.

[2022-08-03 18:45] itsMapleLeaf commented on #2330
The lint rule is `react-hooks/rules-of-hooks`, and it lives on the react repo https://github.com/facebook/react/tree/main/packages/eslint-plugin-react-hooks

[2022-08-04 02:15] perfectbase opened #2367 "Cors setting for lambda handler"
I'm using tRPC with serverless framework to deploy to ApiGateway+Lambda.

I want to find a way to add custom headers to the API response.

The closest answer a got was [this one](https://github.com/trpc/trpc/discussions/1985#discussioncomment-2947243):
[code]

But this is for the express handler.
I couldn't find a way to set the header for a lambda handler.
[code]

Is there some function I don't k

[2022-08-04 21:50] JonParton opened #2369 "[V10] Cookies not set for `createContext` function `opts` during SSR"
Hi There,

I have been investigating using SSR with tRPC using the V10 Alpha and also `next-auth`.

I am finding that during SSR calls to tRPC the `opts.req.cookies` value is empty, but is populated once calls are re-made on the client.

[code]

ssr is set to true in the `setupTRPC` function and the pages I am experimenting with do not have any `getStaticProps` or `getInitialProps` etc that may co

[2022-08-04 21:54] JonParton commented on #2369
p.s. I also think this is possibly related to the issue `Near` was having on [discord here](https://discord.com/channels/867764511159091230/894984069291581511/1003533937081077820)

[2022-08-05 07:26] JonParton commented on #2369
So this was solved thanks to some Help from Robert Cooper on Discord!

For cookies to be available during SSR you need to merge in Client Side Headers with the `x-ssr` header tRPC adds. This will then allow cookies to be forwarded.

Specifically this block of code does it!

[code]

There is already an open issue to improve the docs on this here #1811

[2022-08-05 07:26] #2369 closed

[2022-08-05 14:06] erikbg7 commented on #2348
Not sure it is related, but 2 considerations:

1. NextJS recommends `getStaticProps` and `getServerSideProps` over `getInitialProps` [[1]](https://nextjs.org/docs/api-reference/data-fetching/get-initial-props)
2. `getStaticProps` cannot be used in `_app`, `_document` and `_error` files [[2]](https://nextjs.org/docs/basic-features/data-fetching/get-static-props#where-can-i-use-getstaticprops)

In a

[2022-08-05 16:33] erikbg7 commented on #2348
I can confirm that attaching `getinitialProps` to `MyApp` does not pass the props.

However, the following code seems to be working fine:

[code]

The only difference is that we attach the initial props to the wrapper.

The result is the title correctly passed and used as props:

![image](https://user-images.githubusercontent.com/37018474/183121282-d51c544f-9cca-41c6-b676-7f2c47182811.png)

[2022-08-05 17:34] KATT commented on #2348
This is not a bug.

- See here: https://next-prisma-starter-cg9fz4lds-trpc.vercel.app/
- See working code code in #2382

I think you're both missing to pass stuff within a prop called `pageProps: {}`

![Screenshot 2022-08-05 at 19 33 08](https://user-images.githubusercontent.com/459267/183130565-da60080c-e781-4a90-9f09-41c621c6b8a4.png)

[2022-08-05 17:34] #2348 closed

[2022-08-05 17:55] system32uwu commented on #2348
Thank you both for taking a look at it, I ended up submitting my work with the patch I made to the next adapter and it's working fine, will take what was discussed here as a reference for future projects with TRPC. Have a nice weekend

[2022-08-05 21:50] gioboa opened #2384 "[feat] tRPC Qwik library"
Hi 👋 I would love to create tRPC Qwik library ❤️
I will working on it 💪

[2022-08-05 21:51] gioboa commented on #2356
I can take this 👍

[2022-08-06 04:51] gioboa commented on #2362
I can work on this

[2022-08-06 15:25] gabriel-frattini commented on #2283
@IgnusG @KATT would you give an example of how the `abortController` would be used as a paramter inside a request?

[2022-08-06 18:29] sachinraja commented on #2384
Hey, this should definitely be possible using `@trpc/client` right now. Not sure if Qwik offers primitives for a closer integration, but that would great, feel free to ask any questions you have here or on the Discord.

[2022-08-06 21:44] iway1 commented on #1354
Should we be encouraging the use of `suspense` with tRPC? Seems like a horribly costly footgun.

The way react query works with suspense, any time there are multiple queries in the same component it creates a waterfall. The first query will block the next query, which blocks the next query, ETC.

So it can seriously delay the requesting of required data for basically no reason at all any time we h

[2022-08-06 22:22] leafyshark commented on #1354
I assume the `{ suspense: true; }` flag is still a WIP. With the way things are going with React, we should definitely consider the use of suspense as @iway1 mentioned above.

[2022-08-07 04:07] sachinraja opened #2387 "RFC: Content Types"
This is a proposal for a new content type API that will augment or replace the current [`transformer` API](https://trpc.io/docs/data-transformers).

Draft implementation in #2351
discussion in #1937
### Why? Is it necessary to support more than just JSON?
I'll argue in favor of this. Supporting more content types allows us to shrink the size of the query URLs with smaller inputs and the size of th

[2022-08-07 15:11] michealroberts opened #2389 "400 Bad Request within express.js app running tRPC routes ... "No input expected""
I have the following route defined:

[code]

Which works and returns a 200 when the express server is running locally.

However, I see the following which to me is a slight issue:

<img width="635" alt="Screenshot 2022-08-07 at 16 06 40" src="https://user-images.githubusercontent.com/84131395/183297618-f6626fbc-33f8-4320-8af9-1a738a3cfc79.png">

The client seems to be passing a strange batch and i

[2022-08-07 15:19] michealroberts commented on #2389
I'm happy to give access to the repo for a minimal reproduction of the issue, however, the issue is only occurring within the production environment ...

[2022-08-07 18:47] mcmillion commented on #2348
I've noticed that using `App.getInitialProps` removes the `trpcState` key from `pageProps`. Is that okay or does this cause problems?

[2022-08-08 12:00] KATT commented on #2387
Questions/comments in random order as I think about this:

- Could you move this conversation to #1937 so we only have 1 thread on content types?
- I do think we should continue to support transformers in the short/mid-term
- I don't think "superjsonContentType" is a good one -- if we send a different content-type header on that we'll lose stuff like auto-formatting in the Network tab
- I think a

[2022-08-08 12:43] gynekolog commented on #2352
There is already issue https://github.com/trpc/trpc/issues/2243

[2022-08-08 13:04] KATT commented on #2330
Blocked: https://github.com/facebook/react/issues/25065

[2022-08-08 13:21] dyaa commented on #2352
It seems like we'll need to make a breaking naming change to the `OperationContext` property name from `context` to something else _ex. `requestContext`_ to avoid naming colliding with `@tanstack/react-query`.

More context can be found here https://github.com/trpc/trpc/pull/2240#discussion_r940177822

[2022-08-08 13:23] KATT commented on #2243
We've decided not to support react-query 4 for v9 because of the breaking changes it involves.

[2022-08-08 13:23] #2243 closed

[2022-08-08 14:20] KATT opened #2395 "TanStack query `context` versus tRPC's `context`"
From @dyaa in https://github.com/trpc/trpc/issues/2352#issuecomment-1208122411

_From @KATT in https://github.com/trpc/trpc/pull/2240#discussion_r940286482_

[2022-08-08 14:26] KATT commented on #2352
See further discussion on #2395

[2022-08-08 14:26] #2352 closed

[2022-08-08 14:51] jlalmes commented on #2395
Without thinking too much about it - this would be my choice. It seems like the most simple, clean a concise API solution.

[2022-08-08 14:54] dyaa commented on #2395
I like @jlalmes's suggestion, Should I go ahead?

[2022-08-08 14:55] KATT commented on #2395
Let's give it some time to marinate and for other people to chime in. I know @TheoBr would like it

[2022-08-08 15:19] sachinraja commented on #2387
will continue discussion in #1937

[2022-08-08 15:31] sachinraja commented on #1937
I did an RFC in #2387. Addressing the comments in https://github.com/trpc/trpc/issues/2387#issue-1330907320

I'm a little confused here, we wouldn't send a different content type header for something that is still JSON. Each content type could configure the value for that header.

I agree, that's a good point.

For inputs, it's easy to split stuff with links
Let's say a query profile.photo returns

[2022-08-08 16:58] #2114 closed

[2022-08-08 23:30] IsaacLeeWebDev opened #2405 "docs: How to gracefully shut down @trpc/server"
### Area of Improvement

I'd like to see more in-depth documentation on the best practices related to graceful shutdown, such as the implementation of process signal handlers.

### Link to related docs

_No response_

### Additional information

Node has a guide on how to gracefully shut down an express server here:

https://nodejs.dev/learn/how-to-exit-from-a-nodejs-program

I think a similar, tR

[2022-08-08 23:33] KATT commented on #2405
Unless you have subscriptions, tRPC shouldn't work any differently to how i.e. an Express-server works, could you elaborate more on what you're looking for?

[2022-08-08 23:37] KATT opened #2406 "docs: twitter wall script"
### Area of Improvement

I would like this file to have some more info on where to get the keys to pull down a new twitter wall :)

https://github.com/trpc/trpc/blob/fee394f351fb723eafdc73b3525270db3cfa7ef3/www/src/components/TwitterWall/script.ts#L11-L17

### Link to related docs

https://github.com/trpc/trpc/blob/fee394f351fb723eafdc73b3525270db3cfa7ef3/www/src/components/TwitterWall/script.ts

[2022-08-09 07:05] juliusmarminge commented on #2406
Yea authenticating this was a shitshow...

Here is the appropriate docs for how to generate your oauth stuff, maybe there is a better way? https://developer.twitter.com/en/docs/authentication/oauth-1-0a

[2022-08-09 07:07] juliusmarminge commented on #2406
Generally, how I did it was I got my consumer key and tokens from the twitter developer portal, then made a request using Postman to sign the certificate then use those credentials in the script...

[2022-08-09 13:29] gioboa commented on #2362
I'm investigating the functionalities of `createCaller`, where should I insert the explanation? do I create another section inside https://github.com/trpc/trpc/tree/main/www/docs/server ?

[2022-08-09 14:04] sachinraja commented on #2362
Yes, that would be great

[2022-08-09 17:43] #2406 closed

[2022-08-09 18:11] #2387 closed

[2022-08-09 18:29] IsaacLeeWebDev commented on #2405
Hi @KATT ! Thanks so much for the quick reply!

If subscriptions are the only thing you need to consider for graceful shutdowns, I think [the guide on subscriptions](https://trpc.io/docs/subscriptions#creating-a-websocket-server) covers everything I want within the `process.on('SIGTERM', ...` snippet!

Admittedly, it wasn't obvious to me that this is the only tRPC-specific concern there was around

[2022-08-09 18:29] #2405 closed

[2022-08-09 18:33] KATT commented on #2405
This is the only thing I do:
https://github.com/trpc/examples-next-prisma-starter-websockets/blob/5b89006abb71163f19c4d8c6a2d4fe53eb5356b6/src/server/prodServer.ts#L31-L35

[2022-08-09 19:30] gioboa commented on #2362
Which is the right branch to study and prepare the explanation?

[2022-08-09 19:36] sachinraja commented on #2362
You can check out the tests here: https://github.com/trpc/trpc/blob/next/packages/server/test/caller.test.ts

[2022-08-09 23:04] KATT opened #2413 "Multiple input parsers"
Ability to do this:

[code]

[2022-08-09 23:44] reuben-pct opened #2414 "bug: tRPC in a next.js app swallows errors such that @sentry/nextjs cannot log server errors"
### Provide environment information

[code]

### Describe the bug

I've just been wrestling an integration detail between `tRPC`, `next.js` and `sentry`'s error monitoring sdk for next.js (`@sentry/nextjs`). I finally got to the bottom of it and wanted to post it to save some poor souls the hours.

I don't know that this should be fixed. Maybe it could be added to some documentation as a recommend

[2022-08-09 23:55] KATT commented on #2414
On the server you can:

- [Use `onError`](https://trpc.io/docs/error-handling#handling-errors), or
- [Use  a custom middleware ](https://trpc.io/docs/middlewares#logging)

On the client, you can [create your own link](https://trpc.io/docs/links#creating-a-custom-link) to log request failures.

Unsure what else you'd expect from tRPC here? I think it works very similarly how it would work in for in

[2022-08-10 00:16] reuben-pct commented on #2414
Yep i've opted for `onError` on the server and that solution works fine. I agree i'm not sure there is anything to action in terms of code change here.

I'm logging this more as an effort to save someone else the pain when integrating these tools, as tRPC is awesome and sentry is a very common error tracking tool, so as tRPC grows I can only imagine more people will encounter this.

I can't see ho

[2022-08-10 07:17] mmkal commented on #2395
I like that idea too 👍

[2022-08-10 14:42] #2356 closed

[2022-08-10 17:36] juliusmarminge opened #2418 "@trpc/next: multiple server instances"
### Describe the feature you'd like to request

With growing interest of the Edge runtime, I wonder if having multiple “real” endpoints so that one can choose to run some on the edge, and some not.

### Describe the solution you'd like to see

[code]

### Desribe alternate solutions

Idk if this is interesting or even useful, maybe it is even possible today using custom links? Just an idea that po

[2022-08-10 21:14] KATT commented on #2418
I'm pretty sure this is possible with links already, see #1226 for a SOA example where the client is using links to stich together different apis.

Unsure if we support the edge runtime though 🤔 not tested it

[2022-08-10 21:16] KATT commented on #2395
I'm happy to move everything to a `trpc` prop for `next`.

Ideally, we'd add support for this & deprecate the existing behavior on `main`.

[2022-08-10 22:42] KATT opened #2420 "Node 18 strip forbidden header(s?) automatically?"
See https://github.com/trpc/trpc/pull/2085

In order for SSR to work, we need to at a minimum strip the `connection` header when forwarding the headers from the browser.

- Are there other headers we need to strip than `connection`?
- Should we do this automatically? Should then then be configurable?

Example how to fix SSR in Node 18 SSR: https://github.com/KATT/unidici-fetch-reserved-header-crap

[2022-08-11 00:00] KATT commented on #94
Closing for now, it's rarely a problem.

[2022-08-11 00:03] KATT commented on #1354
What @iway1 is describing could be circumvented by:

- Splitting the queries into different components
- Adding support for `useQueries()`

[2022-08-11 00:03] #1393 closed

[2022-08-11 00:04] #1495 closed

[2022-08-11 00:05] KATT commented on #1401
Will be part of #1937 so closing this in favor of that one

[2022-08-11 00:05] #1401 closed

[2022-08-11 00:05] #1714 closed

[2022-08-11 00:06] #1661 closed

[2022-08-11 02:55] sachinraja commented on #2418
We probably do since I got it working as a middleware (see https://github.com/sachinraja/trpc-nextjs-middleware) and we support CF workers.

[2022-08-11 02:58] sachinraja commented on #2051
This seems to have been addressed in the docs

[2022-08-11 02:58] #2051 closed

[2022-08-11 13:08] iway1 commented on #1354
@KATT I don't think this is a viable solution in practice because (1) that's going to be more work for the developer and (2) would make it impossible to create certain types of user interfaces.

I guess (2) is more important. The issue is that we'd be forced to create multiple `<Suspense/>`  components each with their own fallback and wouldn't be able to create a single fallback with multiple quer

[2022-08-11 17:33] juliusmarminge commented on #2418
Cool. Then I guess my thought wasn't as unique as I thought ;)

[2022-08-11 17:33] #2418 closed

[2022-08-11 20:59] juliusmarminge commented on #2314
Done in #2385 via #2422.

[2022-08-11 21:58] sachinraja commented on #2311
done in #2408

[2022-08-11 21:58] #2311 closed

[2022-08-11 22:06] #2108 closed

[2022-08-11 22:44] sachinraja commented on #2342
It'd be difficult for us to add inference helpers for *everything* in our docs, so I'm unsure if we should add this. We could add a basic example of how to build an inference helper and pass generics to external types.

[2022-08-11 22:44] #2314 closed

[2022-08-12 08:48] #2319 closed

[2022-08-12 10:21] juliusmarminge opened #2440 "bug: server side calls not serializing non-json types"
### Provide environment information

[code]

### Describe the bug

When calling queries on the server using `router.createCaller`, then returning it to the client through `getStaticProps`, the data fails to serialize if it contains e.g. `Date` and throws the following error:
[code]

### To reproduce

[code]

### Additional information

Related PR: https://github.com/trpc/trpc/pull/2233

Reason I w

[2022-08-12 10:32] cawa-93 opened #2441 "bug: `yarn ts-node` fail"
### Provide environment information

[code]

### Describe the bug

Initial `yarn install` failed in my environment. I use Git bash in Windows 10
[code]

### To reproduce

I do not know. I just cloned the project and tried to install the dependencies

### Additional information

_No response_

### 👨‍👧‍👦 Contributing

- [ ] 🙋‍♂️ Yes, I'd be down to file a PR fixing this bug!

[2022-08-12 13:36] austins opened #2442 "bug:"
### Provide environment information

[code]

### Describe the bug

This is on experimental version `10.0.0-alpha.45`. TRPCClientError's data property is of `any` type, but it should be typed to `DefaultErrorData`, which will type the values `code`,  `httpStatus`, `stack`, and `path`.

### To reproduce

`throw new TRPCError({ code: "NOT_FOUND", message: "Article not found." });`

[code]

### Additi

[2022-08-13 13:58] #2117 closed

[2022-08-13 14:02] sachinraja commented on #2441
This is fixed on `next` (where most development is happening)

[2022-08-13 14:02] #2441 closed

[2022-08-13 16:09] KATT commented on #2283
Just as a note here, this probably should be a breaking change where we get rid of `.cancel()` and our own odd cancellable promise abstractions.

Can't as I'm on my phone, but one would pass in an abort controller signal as a param.

[2022-08-13 17:13] juliusmarminge commented on #2283
Interesting... so you want the user to pass in the signal themselves?

[code]

For react, similar to how `@tanstack/react-query` does it:

[code]

[2022-08-13 17:47] spenceradolph commented on #1811
Just to comment, I think I was running into errors related to https://github.com/trpc/trpc/issues/596#issuecomment-980638289
and solved by turning SSR off.

Only to say if there are improvements to the docs regarding SSR, I would suggest a clear
- SSR can be integrated for things like x,y,z
  - (example with getInitialProps?)
- SSR cannot (or should not) be used in these ways (not built for x,y,z)

[2022-08-13 17:52] IgnusG commented on #2283
Passing the abort controller directly to the query is how native fetch does it too. Think it's better to follow that pattern over react query.

You could also always wrap it in something custom to avoid this if you prefer that pattern.

[2022-08-13 18:45] sachinraja commented on #2440
Looks like you should really be using the SSG helpers here. Looks like you really want the [SSG Helpers](https://alpha.trpc.io/docs/ssg-helpers).

[2022-08-13 18:49] juliusmarminge commented on #2440
I looked into that, but that doesnt work in v10 since we "banned string keys for proxy procedures".

Didnt really look into that so might be wrong on that one though.

[2022-08-13 18:49] sachinraja commented on #2440
Ah yeah let me create an issue for that.

[2022-08-13 18:52] juliusmarminge commented on #2440
Thanks. Was gonna do it but ran out of time so didnt get to it and now I am not on my computer for the weekend 👍

[2022-08-13 18:57] sachinraja opened #2450 "proxy API for SSG Helpers"
### Describe the feature you'd like to request

Add function for using the proxy API for SSG helpers.

### Describe the solution you'd like to see

[code]

### Desribe alternate solutions

none

### Additional information

Related issue
- #2440

### 👨‍👧‍👦 Contributing

- [X] 🙋‍♂️ Yes, I'd be down to file a PR implementing this feature!

[2022-08-13 18:58] sachinraja commented on #2440
Mind if I close this issue in favor of #2450?

[2022-08-13 19:02] #2440 closed

[2022-08-14 10:07] sinclairzx81 opened #2453 "Incorrect Input Type for ProcedureParserCustomValidatorEsque"
### Provide environment information

TypeScript 4.7.4

### Describe the bug

Hello, I'm currently trying to integrate TypeBox into tRPC, but am having some difficulties getting `input` type inferring correctly for `ProcedureParserCustomValidatorEsque` (note that `output` type is inferred correctly). When using the `inferProcedureInput` utility type, I can see that the input type is inferred correc

[2022-08-14 12:17] KATT commented on #2450
Merging that PR and copying my comment from my review in here:

[2022-08-14 12:22] KATT commented on #2453
Hmm, I'm unsure how to solve this & since I'm not using these validators myself I'll unlikely address it soon.

Likely, what needs to be done is to add a new type of parser which should be relatively straightforward.

- First, [look here](https://github.com/trpc/trpc/blob/ae2af0903ec622ecd3b0788a5faffe8af34e3b91/packages/server/src/internals/procedure.ts#L15-L43) for the parsers and add a new one

[2022-08-14 12:31] #2362 closed

[2022-08-14 13:56] sinclairzx81 commented on #2453
@KATT Hi, thanks for quick reply!

Yes, I've checked the code at the link provided, and I'm not sure it would be possible to add a TypeBox specific signature there.

The reason for this is due to TypeBox types not having an equivalent `z.parse()` or `yup.validateSync()` function. Because there is no equivalent function, it makes `getParseFn()` essentially impossible to implement. So I do think the

[2022-08-14 14:59] sachinraja commented on #2453
Seems like a TS issue/unreliable inference because this works:
[code]
[TypeScript Playground Link](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAbzgFQJ5gKYGELmAGwygBo4A1AQ3wFcMBRKKaOAXzgDMmQ4ByAAQDOwAHYBjfBWBQA9DHQYARhAAe00bjAEiPAFChIsRCnmlkAZVEALDCAqsOXXoJHjJMuZiXLd+6PABUcBQCcDBQYKIOuE5hEdICRABu2jo60tJwALTZObl5+QWFRcWFaRkAEhRQwhgCAmVZJU3NLU2p7NRiMMAQwnB0ypiiMAA8yAB8ABSJVLQAXCgAlIgsqemNr

[2022-08-14 15:14] sinclairzx81 commented on #2453
@sachinraja Yeah, TS has some interesting rules around this. In theory though should be possible to infer for the `input` parameter, however the inference logic needs to account for the generic argument `T` in `Boxed<T extends TSchema>(...)` , and it's contribution to the returned closure.

I think inference via [Instantiation Expressions](https://github.com/babel/babel/issues/14322) is probably t

[2022-08-14 16:10] #2395 closed

[2022-08-14 18:56] sinclairzx81 commented on #2453
@sachinraja

Hey, just as a follow up for Type Providers (and if they're an area of potential interest for the tRPC project), I've just spent a little bit of time putting together a quick draft to enable them over the existing the tRPC interface (as I currently understand it). These changes may help improve type inference performance, remove the hard code inference checks inside [procedure.ts](htt

[2022-08-14 19:52] sachinraja commented on #2453
That looks awesome @sinclairzx81! I didn't know you could do higher kinded types like that, might be useful if we want to revisit #2137.

The only question I have about this is how to handle having different input parsers across the router. I assume we'd have to have some way of overriding the validation function on the procedure level.

Also development is currently happening on the `next` branch

[2022-08-14 20:37] sinclairzx81 commented on #2453
@sachinraja Well, the way Fastify approaches inference remapping is via a `withProvider<T>()` mapping function. This function essentially just remaps the current provider (which is an ethereal type) into a new form. In the Fastify case, because they default to JSON schema end to end there's no requirement to override Ajv under the hood; but for tRPC, both inference and validation could be set on t

[2022-08-15 15:55] gioboa commented on #162
I can work on it. what is the desired behaviour?

[2022-08-16 10:33] KATT opened #2468 "Ability to add mocking of a tRPC server"
There are many use cases for mocking beyond "writing to a database.

Two that immediately come to mind for our use case:

1. Using a mock API for stories (Storybook, Ladle). For this use case, even if we could use a real endpoint, it wouldn't be a good idea, as one generally wants to control the data and not have some gibberish mock data created by test users.
2. Endpoints that go beyond database

[2022-08-17 00:00] KATT commented on #2414
Will close as its not a bug in tRPC, feel free to make contributions to the docs where you'd see it fit! 🙏

[2022-08-17 00:00] #2414 closed

[2022-08-17 01:33] awkaiser-tr commented on #2450
Thanks @sachinraja & @KATT! Happy to see SSG helpers land for the proxy API. 🍻

It looks like #2451 would have gone out with `10.0.0-alpha.47` but:
[code]
... is not working: `Module '"@trpc/react/ssg"' has no exported member 'createProxySSGHelpers'`

Looking in `@trpc/react/dist/ssg.{mjs|js}` only `createSSGHelpers` is exported in published `alpha.47` package

----

![Screen Shot 2022-08-16 at 6

[2022-08-17 16:27] jamiecha88 commented on #162
Hi, I'm a first timer and would love to contribute. Could you provide more guidance for the next steps?

[2022-08-18 04:41] sachinraja commented on #162
@gioboa @jamiecha88 we have a #contributing channel on the discord so if you want to help with something, please leave a message there.

[2022-08-18 09:20] KATT opened #2480 "RFC: Easier calling of tRPC queries with Postman etc"
## Summary

This is a two-part thing:

1. Prefix "tRPC query params" with a `_`
2. Enable users to easier query the endpoints with Postman, etc.

## Describe the solution you'd like to see

### Part 1 - Prefix queries

**Prefix queries**

- We should likely prefix `batch`, `input`, etc with a `_` (or maybe `_trpc_`)
- We should also make the use of a transformer being stated in the query params, l

[2022-08-18 12:20] jlalmes commented on #2480
This is completely out of `tRPC` scope. I am wholly against the `@trpc/server` & `@trpc/client` supporting and maintaining this functionality.

The correct solution would be `Postman` (or similar API testing platform) implementing a new integration/plugin for `tRPC`, just like they already have with `gRPC`(https://blog.postman.com/postman-now-supports-grpc/).

Alternative solution for exploratory

[2022-08-18 13:29] sachinraja commented on #2480
I agree with @jlalmes. This is not something that should be solved in core. `trpc-openapi` already handles this very well although you do have to specify the output schema. We could just adapt the solution there to only generate a REST API and only require output schemas / meta when generating openapi documents.

[2022-08-18 13:48] KATT commented on #2480
I'm happy with these answers. Thank you so much for the input, I will close this!

Also, method overloading will make this easier too.

What's your feels about the part of adding `transformer` as a query param?

[2022-08-18 14:50] mgreenw commented on #2246
I don't think Next.js is going to / can deprecate per-page `getInitialProps`. Even if they don't include that exact method in the upcoming layouts proposal, they MUST include a way to prefetch data and then do SSR on the server only.

Maybe something like this:
https://github.com/vercel/next.js/discussions/29117

Other frameworks like Sveltekit are making ways to do this, and it's absolutely neces

[2022-08-18 15:05] KATT commented on #2246
If someone wants to make `withTRPC` ssr (or similar) work on a per-page basis, I'd happily merge it.

I'd want it to have and example project running through e2e testing using Playwright with javascript disabled to show that the data fetching works on the server.

[2022-08-18 19:04] juliusmarminge opened #2482 "docs: include an inference helper in documentation"
### Area of Improvement

Currently in V10, we infer the types like this:
[code]

the double import here is kinda annoying imo, would be nice to provide a wrapper in the documentation that would allow for something like this:
[code]

### Link to related docs

https://alpha.trpc.io/docs/infer-types

### Additional information

Not a TS-Wizard so I don't know how to make such generic type, since rout

[2022-08-18 21:08] mmkal commented on #2482
In V9, we do something like this:

server/trpc.ts:
[code]

client/utils/trpc.ts:

[code]

client/SomeComponent.tsx:
[code]

It's nice because you just import `trpc` and typescript is smart enough to know when you want a value and when you want a type. You don't need to add/remove imports as you refactor helper functions or re-use API types.

[2022-08-19 01:38] sachinraja commented on #2482
This is definitely possible by mapping over the router type:
[code]
One benefit of this pattern is that we could export inference helpers from core instead of having users copy them.

[2022-08-19 11:57] NiklasPor opened #2483 "bug: PrismaPromise breaks type inference chain without `async`/`await`"
### Provide environment information

[code]

### Describe the bug

Hey, thanks for the great library – I love working with it 🚀

Currently, when working with Prisma and as you probably already know, it's returning a `PrismaPromise` instead of a regular `Promise`. This throws off the type inference, if you're **not** using await / async.

I tried to debug this a bit, could be connected to the typin

[2022-08-19 13:51] #2483 closed

[2022-08-19 14:02] relm923 commented on #2008
@KATT I'm pretty sure this edge occurs when the last batch loaded exceeds the `maxBatchSize` as 2 `dispatch` calls will be executed.

1. https://github.com/trpc/trpc/blob/main/packages/client/src/internals/dataLoader.ts#L80
2. https://github.com/trpc/trpc/blob/main/packages/client/src/internals/dataLoader.ts#L86

The first `dispatch` destroys pending timers and then immediately afterwards a new ti

[2022-08-19 14:14] relm923 commented on #2008
Now with repo test - https://github.com/trpc/trpc/pull/2484

[2022-08-19 17:58] #2008 closed

[2022-08-19 21:14] colelawrence opened #2493 "bug: v10 @trpc/client has undefined `global` in workers"
### Provide environment information

[code]

### Describe the bug

When attempting to deploy my app I was getting the following error:
[code]

### To reproduce

Try to deploy something using something akin to my gist for [wrapping Durable Objects in TRPC](https://gist.github.com/colelawrence/ba912db3cd1539ee820c3fe5e67654df)

### Additional information

I was able to fix in the short term by addin

[2022-08-19 21:55] PointSingularity commented on #2099
@KATT Is there anything planned for having formatErrors per route?

[2022-08-20 05:39] felix-wooliesx commented on #2480
My solution to this problem was to use a Pre-req script in postman to convert a standard JSON body into the encoded and stringified `input` query string param using the following snippet:

[code]

This allows me to easily edit the data that's sent as part of a query as it's simply just editing JSON in the Body page in postman.

Perhaps a docs page outlining something like the above is all that's n

[2022-08-20 09:34] #2480 closed

[2022-08-20 09:45] KATT commented on #2480
Hey @felix-wooliesx, this looks awesome, do you wanna add something to the docs?

[2022-08-22 12:34] KATT opened #2499 "Less noisy shiki twoslash"
Maybe we should disable hover completely?

---

cc @KATT Generally this looks very cool and helpful, however, is there any configuration option for this? IMO kind of annoying that every single keyword exposes a "big menu".
![CleanShot 2022-08-18 at 21 23 09](https://user-images.githubusercontent.com/51714798/185477462-9f55aa3d-25fc-4edc-9bd2-b3717a18e79e.gif)

These stuff seems kinda useless for o

[2022-08-23 11:31] felix-wooliesx commented on #2480
Yeah sure I can look into that at some point soon 🙂

[2022-08-24 03:15] colelawrence opened #2521 "bug: v10 resolving to return of `createTRPCProxyClient` throws `client[procedureType] is not a function` (path = `"then"`)"
### Provide environment information

[code]

### Describe the bug

[code]

### To reproduce

See above

### Additional information

I understand there's some reason behind switching to `[operation].(mutate|query)` ordering, but I'm not exactly sure how to address this kind of issue where the user might have a `then` operation.

### 👨‍👧‍👦 Contributing

- [ ] 🙋‍♂️ Yes, I'd be down to file a PR fixin

[2022-08-24 14:30] #2499 closed

[2022-08-24 16:39] KATT commented on #2521
Okay, we need to:

- add reserved names for routers/procedures - `then`, `catch`, finally`
- make sure that accessing those in the proxy always returns undefined?

[2022-08-24 16:50] KATT commented on #2493
Unsure what the `global` is? We don't use any unless you import `adapters/ws`? Please upgrade to latest alpha

<img width="755" alt="Screenshot 2022-08-24 at 18 50 16" src="https://user-images.githubusercontent.com/459267/186476798-c9720f6d-4908-4826-9203-f2f9ac4febc8.png">

[2022-08-24 17:26] KATT opened #2528 "feat: reduce number of jobs"
### Describe the feature you'd like to request

We run 24? jobs as part of the CI on `next`. We can safely reduce that.

### Describe the solution you'd like to see

- Maybe only have 1 or 2 tests for `./interop`
- Only have 1 or 2 tests for node versions < 16
- Maybe run the full test suite only when a certain label is added?

### Desribe alternate solutions

- Find a way of auto retrying jobs on

[2022-08-24 17:39] KATT commented on #2493
Ahhhh `@trpc/client`

Is `global` a banned word to use in CF?

[2022-08-24 22:31] juliusmarminge commented on #2528
I'd consider looking into caching and maybe adding `turbo` as a task runner instead of `Lerna`. Many of these tasks would then be omitted when changes are made to parts that doesn't relate.

[2022-08-24 23:05] KATT commented on #2528
I think all the examples

I think all the examples would still need to run whenever there was a change to any of the packages, but yeah, not for stuff like changing copy on the website

[2022-08-25 02:52] Je12emy commented on #1789
I'm also facing this issue after moving my code from the root directory on a newly created next app into a `src` directory, before this move tRPC was working fine, but now I receive this same error, here's a repository to replicate my issue: https://github.com/Je12emy/twitter-nextjs/tree/trpc_port

[2022-08-25 02:57] Je12emy opened #2534 "tRPC stopped working after moving my code from my project root into a src directory"
I'm learning tRPC with Next (thanks Theo), I just had it setup and working with my project, but I disliked the default file structure provided by Next and I read it is possible to move my code in a dedicated `src` directory. After moving everything over and changing the import paths, I noticed tRPC stopped working with the following error: `TypeError: Cannot read properties of null (reading 'clien

[2022-08-25 23:24] KATT commented on #2528
shiki made it slow, it was snappy before

[2022-08-26 00:12] juliusmarminge commented on #2528
Aah I see :/

[2022-08-26 00:38] spiffytech opened #2540 "[v10] JSON parsing error when making zero-argument mutation"
### Provide environment information

[code]

### Describe the bug

When I call a mutation that takes zero parameters the TRPC request fails with a JSON parsing error. If I change it to a query it works fine.

This is the error:

[code]

### To reproduce

[code]

### Additional information

_No response_

### 👨‍👧‍👦 Contributing

- [ ] 🙋‍♂️ Yes, I'd be down to file a PR fixing this bug!

[2022-08-26 09:20] KATT commented on #2540
Unable to reproduce, see #2548.

Are you sure you have set up data transformers on both client and server?

[2022-08-26 09:33] KATT opened #2550 "feat: make some pages unaffected by versioning"
### Describe the feature you'd like to request

https://docusaurus.io/docs/docs-multi-instance#versioned-and-unversioned-doc

### Describe the solution you'd like to see

Move a bunch of pages that shouldn't be versioned like `sponsors`, `contributing`, etc to be unversioned

### Desribe alternate solutions

Do nothing

### Additional information

_No response_

### 👨‍👧‍👦 Contributing

- [ ] 🙋‍♂️

[2022-08-26 10:33] ollydixon opened #2551 "feat: simple doc generator"
### Describe the feature you'd like to request

Would be the perfect library if we had a documentation generator and some basic page explaining the functions, while using the express plugin for example we could have endpoints with their input/output models.

JSDocs (https://jsdoc.app/about-getting-started.html) is a good example of a simple doc generator. I have created TSDocs in the past (private

[2022-08-26 14:51] josvanos opened #2556 "docs: Suggestions"
### Area of Improvement

I have a couple suggestions for the docs /website.

## Home page subtitle
[code]
I don't know if it is the perfect subtitle, however I think that the subtitle must me more in line with the following quote in ` docs / introduction`.

## Explain what TRPC is
I think it is a missed opportunity the home page does not have a section about what TRPC really is in detail. The docs

[2022-08-26 17:03] dca123 opened #2558 "docs: Needs to mention peer dependency of react-query@^3.37.0"
### Area of Improvement

Hi,

When following the ` usage with nextjs` the only react-query that's required to be installed is `@tanstack/react-query`. However, when doing this, I don't have any of the typings provided by react query as shown below

![image](https://user-images.githubusercontent.com/3579142/186955829-2960a815-cff2-4235-88a3-e9020cb005aa.png)

I had to install the peer dependency of

[2022-08-26 21:29] #2493 closed

[2022-08-27 16:32] juliusmarminge commented on #2558
tRPC v9 is react-query@3.

tRPC v10 is @tanstack/query@4

Docs should be correct on this. Make sure you select the correct versioned docs 👍

https://trpc.io/docs/v9/nextjs
https://trpc.io/docs/v10/nextjs

[2022-08-27 19:06] #2450 closed

[2022-08-28 01:16] anthonyshew opened #2568 "[v10] bug: TypeScript not willing to serialize the type of my client"
### Provide environment information

  System:
    OS: macOS 12.5
    CPU: (10) arm64 Apple M1 Pro
    Memory: 152.64 MB / 32.00 GB
    Shell: 5.8.1 - /bin/zsh
  Binaries:
    Node: 16.16.0 - ~/.nvm/versions/node/v16.16.0/bin/node
    Yarn: 1.22.19 - ~/.nvm/versions/node/v16.16.0/bin/yarn
    npm: 8.11.0 - ~/.nvm/versions/node/v16.16.0/bin/npm
  Browsers:
    Chrome: 104.0.5112.101
    Safari: 15.

[2022-08-28 09:16] neronim1141 commented on #544
Im writing map app for one game, where data for map tiles is send by HTTP request, and i want to update the client map in real time,
i managed to do that with graphql-yoga and SSE because they are operating on one node process,
where your example needs to setup additional process for websockets, which works between trpc requests, but i cant manage it to work when  http tries to send data to trpc s

[2022-08-28 13:46] #2540 closed

[2022-08-28 13:47] KATT commented on #2540
Added a test for it in #2548. If you still experience issues with the latest alpha, feel free to re-open.

[2022-08-28 14:02] spiffytech commented on #2540
I can no longer reproduce after upgrading to `10.0.0-proxy-alpha.57`.

[2022-08-28 14:29] KATT commented on #2558
Ooops, I prob broke this in #2545

[2022-08-28 15:41] KATT commented on #2556
I like this! Feel free to do a PR with copy changes and @trpc/website-docs will have a look! ❤️

[2022-08-28 15:51] KATT opened #2575 "feat: remove `PATCH` relics"
### Describe the feature you'd like to request

https://discord.com/channels/867764511159091230/1012740470947983462/1013464002162073610

### Describe the solution you'd like to see

- Delete remains of `PATCH` in project
- In http links, make sure to return an error straight-away with information that you need to setup a `wsLink` in case it's called with a subscription

### Desribe alternate solut

[2022-08-28 16:56] dca123 commented on #2558
😆 , I thought I was gaslighting myself since I swore I saw this change on 9.0. Seem slike a good first issue, I'll give it a doc change !

[2022-08-28 17:00] #2413 closed

[2022-08-28 18:24] JSEverything opened #2576 "[v10] bug: Subscriptions' return type in onData shouldn't be wrapped in TRPCResultMessage"
### Provide environment information

[code]

### Describe the bug

[internals/TRPCClient.ts:281](https://github.com/trpc/trpc/blob/next/packages/client/src/internals/TRPCClient.ts#L281) handles the result message and calls `onData()` with just the data, but type defs in [createTRPCClientProxy.ts:42](https://github.com/trpc/trpc/blob/next/packages/client/src/createTRPCClientProxy.ts#L42) wrap it in

[2022-08-28 18:25] KATT commented on #2576
Cc @jlalmes

[2022-08-28 19:35] jlalmes commented on #2576
Confirmed this bug is with the `onData` typing, but only affects the raw client (`useSubscription` works as expected).

Fixed in https://github.com/trpc/trpc/pull/2578.

[2022-08-28 19:52] ollydixon opened #2580 "bug: cannot chain across files"
### Provide environment information

System:
    OS: macOS 12.5.1
    CPU: (10) arm64 Apple M1 Max
    Memory: 11.72 GB / 64.00 GB
    Shell: 5.8.1 - /bin/zsh
  Binaries:
    Node: 16.15.1 - ~/.nvm/versions/node/v16.15.1/bin/node
    npm: 8.11.0 - ~/.nvm/versions/node/v16.15.1/bin/npm
  Browsers:
    Chrome: 104.0.5112.101
    Firefox: 103.0.2
    Safari: 15.6.1

### Describe the bug

Cannot join

[2022-08-28 20:12] ollydixon commented on #2580
I'd also like to not that separating functions into files isn't working. Seems to be no way to separate each path into it's own file without creating 100s of routers.

[2022-08-28 20:13] ollydixon commented on #2580
<img width="159" alt="Screenshot 2022-08-28 at 22 13 36" src="https://user-images.githubusercontent.com/6940726/187092771-253df71d-6d13-4848-9132-41c80734cbd4.png">

For example, how would one do this?

[2022-08-28 20:22] #2576 closed

[2022-08-28 20:47] KATT commented on #2568
Thanks for having the repo, helps a lot to have a repo to play with! Would you be able to add me as a contributor? Then I can play around with different things as soon as I get the time

[2022-08-28 21:55] Grubba27 commented on #2575
Not sure if it was for taking but I've started implementing it. Hope to have some feedback if I'm on the right track on solving this issue :)

[2022-08-28 22:04] sachinraja commented on #2568
Thanks for creating this! It makes sense as our proxy types are huge to emit. But users shouldn't need to emit types for the client.

If you did need to emit types for the server:
In your current setup, emitting types for the router would work fine since there's no error there. You'd be free to share/consume that in your client packages. And presumably, you'd never need to emit types for your Next

[2022-08-28 23:18] #2575 closed

[2022-08-29 13:56] andrenagusch opened #2589 "bug:"
### Provide environment information

[code]

### Describe the bug

I need to write/read larger PNG Base64 strings to the database (3x 1MB). It works as long as the total file size of all three images is less than 700 KB. When the images are larger I get this error:
[code]

Just using prisma without trpc is working as well!
useMutation and useQuery without w+r images is also working.

### To reprod

[2022-08-29 17:43] mwarger commented on #2134
Just trying to help out - this is closed by https://github.com/trpc/trpc/pull/2313

[2022-08-29 17:43] #2134 closed

[2022-08-29 20:56] josvanos opened #2595 "remove initTRPC double function call"
### Describe the feature you'd like to request

I have always the feeling while editing /reading / writing the docs, (syntax) pain points arise. I was reading the migration guide and found this section
[code]
The comment already calls out this syntax is unfavourable (not obvious/ naturally) . I also dislike the syntax, because the function says nothing about what the input is for the first and sec

[2022-08-29 22:42] sachinraja commented on #2595
The first function call takes in the generics, the second one takes in the options. This is because TS won't let us partially infer the generics. So you'd have to pass in the types for the `errorFormatter` and `transformer` if you wanted to pass in any `Context` type.

I think it's easier to just accept the double function call. `trpcInner` would just be a useless variable and increase boilerplate

[2022-08-30 02:47] mmkal commented on #2595
Reopening this because I think there's further discussion to be had, and I don't want it to get lost on a closed thread (not implying it was closed improperly, I just have something I want to add).

@sachinraja @KATT what about naming two functions in some kind of logical way so there isn't this big gulf between users and implementers. Anyone new looking at `initTRPC()()` is going to get intimidat

[2022-08-30 12:54] carlosbaraza commented on #2482
Just wanted to say that this is an elegant solution. Love this, quite a nice API to use.

[2022-08-30 20:51] KATT commented on #2595
On one hand, I'm like _"meh, you do it once, who cares?"_, and on the other hand I think it's the first interaction you might have with tRPC and it is a bit counter-intuitive

How about the words `configure` & `create()` at the end?

[code]

Alternative, call it `generics()` or something?

[code]

We could even do it like it is now but with an extra helper, but it wrecks discoverability a bit:

[c

[2022-08-30 20:55] KATT commented on #2595
I quite like the idea to make it a proper builder

[code]

[2022-08-30 21:32] josvanos commented on #2595
One quick note I wanted to add to this discussion, I have the feeling this proposed builder pattern is way more resistant to future changes than current implementation `initTRPC()()`.  I forgot to address future changes in my first message.

About the builder pattern:  initTRPC is more a function name than an object name, rather just trpc or something like that.
I do not have a preference if it is

[2022-08-30 22:16] alexgraddev commented on #2595
The new `satisfies` should help I think: https://github.com/microsoft/TypeScript/issues/47920

[2022-08-30 22:20] KATT opened #2603 "feat: update v10 sqlite example"
### Describe the feature you'd like to request

fix v10 example, this is the one linked in the announcement bar

### Describe the solution you'd like to see

- [x] https://github.com/trpc/trpc/blob/next/examples/next-prisma-starter-sqlite/src/server/routers/post.test.ts
- [x] https://github.com/trpc/trpc/blob/next/examples/next-prisma-starter-sqlite/src/utils/trpc.ts
- [x] https://github.com/trpc/

[2022-08-30 22:27] sachinraja commented on #2595
@mmkal Alex and I talked about this, and we're in favor of the builder pattern style (copying from above):
[code]

I think this is better because it removes the object generic we had before, which was more confusing than the double call to me.

No expectations, but would you be willing to do a PR for this?

[2022-08-30 22:38] mmkal commented on #2595
Nice - yes I can open a pr. Have been looking for a chance to make a v10 change about this size.

[2022-08-31 05:32] punkpeye commented on #544
Very similar situation to @neronim1141 Had everything migrated and then realized SSE is not working.

[2022-08-31 07:10] iDuuck opened #2606 "feat: Definitive declaration of context types"
### Describe the feature you'd like to request

I am currently writing an API with trpc, and I am using `ctx` to pass down a user object once an auth header is being sent to the server. However, I am always falling back to using `ctx.user!.id` because the user attribute *can be* (but not must be) `null`/`undefined`.

Is there a way to strictly typing the context for specific routers?

### Describe

[2022-08-31 07:11] iDuuck commented on #1290
[fintory.com](https://fintory.com/) – On some (unfortunately private) client projects

[2022-08-31 07:57] KATT commented on #2606
I think this is already covered by "Context Swapping" https://trpc.io/docs/v9/middlewares#context-swapping

Also, you might want to check out the middlewares in the next major too, they are a bit more flexible - https://trpc.io/docs/v10/middlewares

[2022-08-31 08:56] KATT opened #2607 "[v10] feat: update `setupNext` to not include `proxy`"
### Describe the feature you'd like to request

Right now we do

[code]

and we call it we use

[code]

### Describe the solution you'd like to see

Change this to

[code]

and we call it we use

[code]

(no `.proxy`)

### Desribe alternate solutions

n/a

### Additional information

_No response_

### 👨‍👧‍👦 Contributing

- [X] 🙋‍♂️ Yes, I'd be down to file a PR implementing this feature!

[2022-08-31 12:08] mohsen1 opened #2608 "feat: Add option to append Server Timing header in @trpc/server"
### Describe the feature you'd like to request

[Server Timing](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Server-Timing) can be very useful for getting insights into server performance in production. Please consider adding this as an option where each operation appends a new header for the duration it took.

### Describe the solution you'd like to see

In `nodeHTTPRequestHandler.ts

[2022-08-31 14:04] sachinraja opened #2611 "individual array entries for query key path"
### Describe the feature you'd like to request

change query key shape so you can invalidate entire routers

### Describe the solution you'd like to see

[code]

This way you can invalidate entire routers too:
[code]

suggested by @TkDodo in the Discord:
https://discord.com/channels/867764511159091230/1014458860355981332/1014505247902797886

### Desribe alternate solutions

none

### Additional in

[2022-08-31 14:11] TkDodo opened #2612 "feat: AbortSignal"
### Describe the feature you'd like to request

right now, trpc defaults to sending the `AbortSignal` produced by react-query to the query function. This makes sure requests that become unused while they are still in-flight will be aborted.

This is nice, but not the default behaviour of react-query. We default to letting the promise finish so that it will be put into the cache, and it will stay t

[2022-08-31 16:14] iDuuck commented on #2606
Already looking forward to the new major version, but still waiting for the "stable"/GA release.

I will check out the guide you linked, and come back to this issue, when I have more questions. Closing this until then.

[2022-08-31 16:14] #2606 closed

[2022-08-31 17:35] gioboa commented on #2603
I can work on this 👍

[2022-09-01 00:17] sachinraja commented on #2608
This definitely seems like something that should be user-land to me. Could you share your user-land solution?

[2022-09-01 00:29] sachinraja commented on #2607
I tried to do this before but it was slightly annoying do to how the internal `createProxy` works so I just left it alone. One issue is that `createProxy` works on `apply` (when the proxy is called like a  function) so any actual property (not a function) that we want to expose has to be wrapped in `new Proxy`. I think instead of the `createProxy` working on `apply`, we should return a function fr

[2022-09-01 01:18] mohsen1 commented on #2608
Being able to inject server timing markers when request batching is enabled made me believe this should be here. Also going with next.js philosophy of sensible defaults this makes sense (to me).

[2022-09-01 10:54] KATT commented on #2608
This should [already] be possible in userland by making i.e. using an express middleware or a wrapper fn around the API handler, but could be nice to have some easier way of plugging this in. Unsure what API would be suitable as we likely want to include more headers too.

[2022-09-01 15:25] KATT commented on #2603
@gioboa when do you think you'll do it? :)

[2022-09-01 17:05] gioboa commented on #2603
I plan this activity next week because now I am on holiday 🌴 is it ok for you?

[2022-09-01 17:07] KATT commented on #2603
Cool, I might pick it up tomorrow then

[2022-09-01 20:41] #2550 closed

[2022-09-01 22:04] #2603 closed

[2022-09-01 22:04] #2607 closed

[2022-09-02 12:08] #2595 closed

[2022-09-02 17:02] TkDodo opened #2625 "feat: shallow SSR"
### Describe the feature you'd like to request

SSR for trpc queries, in its current form, needs at least two `ssrPrepass` runs to finish:

https://github.com/trpc/trpc/blob/040e0fa7fbd1941c9d3ba11faf5d2194faaf64cd/packages/next/src/withTRPC.tsx#L184-L203

This is necessary because sometimes, there might be dependent queries that we also want to server render. If a query triggers another query tha

[2022-09-03 09:38] c-ehrlich opened #2627 "bug: loggerLink shows failed query on page load"
### Provide environment information

[code]

### Describe the bug

When using loggerLink in a newly scaffolded create-t3-app, it logs a failed query on each page load, followed by a successful query. However only one network request is made.

This only happens in dev, not in prod, even if the loggerLink is active there.

Related issue from create-t3-app: https://github.com/t3-oss/create-t3-app/iss

[2022-09-03 12:19] dca123 commented on #2558
Was gonna add the docs for this, but the docs do mention `react-query@3` now thought I can't pin down which commit might have fixed this. Closing the issue 😃

[2022-09-03 12:19] #2558 closed

[2022-09-03 16:35] rylurk commented on #2627
Can confirm this same bug occurs in my dev environment too.

MacOS 11.4, M1.
trpc 9.27.2
next 12.2.5
react 18.2.0
react-query 3.39.2

[2022-09-03 21:16] juliusmarminge commented on #2558
I believe it was tagged in #2614

[2022-09-04 05:35] #2283 closed

[2022-09-04 05:43] sachinraja commented on #2627
I see this on v10 too with `10.0.0-proxy-alpha.64`. This is because passing the React Query abort signal was only added in #2475, which is after `10.0.0-alpha.48` (which c3a@next uses). We also had switched to `@tanstack/react-query`, where the `promise.cancel` method we were using [was no longer supported](https://tanstack.com/query/v4/docs/guides/migrating-to-react-query-4#the-cancel-method-on-p

[2022-09-04 14:03] KATT opened #2632 "docs & test for `abortOnUnmount`"
- Docs & tests for `abortOnUnmount`

Great, I'll merge this now and create a ticket for docs/tests

_Originally posted by @KATT in https://github.com/trpc/trpc/pull/2628#pullrequestreview-1095673504_

[2022-09-04 14:05] #2612 closed

[2022-09-04 15:15] sachinraja commented on #2627
@c-ehrlich this should be addressed in #2612 now. Please try out `10.0.0-proxy-alpha.65` and let us know if that fixes it!

[2022-09-04 16:46] KATT opened #2634 "feat: TypeScript perf of proxy utils helper"
### Describe the feature you'd like to request

We have the helper that allows us to do stuff like:

[code]

This does a lot of type instantiations.

### Describe the solution you'd like to see

A test that does a big app (a lot of different input validators, complex context) etc and asserts that this is still snappy.

### Desribe alternate solutions

- We could delete this API, but I really like

[2022-09-05 21:10] JonParton commented on #2611
Hi There!

I started having a bit of a look at this as I have been looking for a chance to contribute and I'm really keen to get V10 out there ASAP too so I can use it in one of our products 😂

I wanted a bit of advice in implementing this and also check I am OK to give it a shot.

First off I noticed that the code base relies heavily on the first element of the query key being the path and all ot

[2022-09-05 21:15] JonParton commented on #2611
Another one just for any comments - I noticed this around the Perfromance of the Helper Utils being a concern:

https://github.com/trpc/trpc/issues/2634#issue-1361198540

Are we OK adding to these in this change / feature request?

I think we are going to have to add to them to allow you to chain an `.invalidate()` at any point in the router path tree!

[2022-09-05 21:32] sachinraja commented on #2611
This is true for v9, but not true for the proxy setup in v10. Also there can only be one input arg anyway.

I'd love for you to take over this issue!

Don't worry about that. This shouldn't affect that (at least not noticeably).

I'm a little confused by your examples since this is likely going to be a v10-only thing. Here's the expected behavior:
This should only be implemented for the new proxy

[2022-09-05 21:44] luixo commented on #2611
I'm using getting / updating queries for partial keys in v9 as well.
It would be awesome to have something like
[code]
Or at least let it happen not by building keys manually.

[2022-09-05 21:52] JonParton commented on #2611
Thanks @sachinraja for getting back so quickly!

This should only be implemented for the new proxy API. We can't really ask users to update their interop queries (that would diminish the whole point of the interop mode).

Nope - totally agree. Was never planning on changing how the V9 Interop worked only how things through the proxy were working. Although my examples show building of keys this was

[2022-09-05 21:55] JonParton commented on #2611
Just a quick confirm on your code examples:

[code]

Assuming this should have been a query key of `['post', 'byId', {id: 1}]`?

[2022-09-05 21:59] JonParton commented on #2611
Just to confirm in your code examples:

[code]

Assuming this should have been a query keyb of

Interesting!

Feel like this may be a separate feature request however to include a `setQueries` util helper rather than directly related to the keys and invalidation!

Can certainly see the value although I reckon the type inference for the `prevData` etc could be a nightmare as many different types co

[2022-09-05 22:00] sachinraja commented on #2611
Definitely something to ask @TkDodo about, it's a good idea IMO.

Thank you! Here are some key files:
https://github.com/trpc/trpc/blob/a038f20c3a9a76fce15dffd5474a9292c3293bf6/packages/react/src/createTRPCReact.tsx#L154
https://github.com/trpc/trpc/blob/next/packages/react/src/shared/proxy/decorationProxy.ts#L17-L30

Yes

[2022-09-05 22:16] luixo commented on #2611
Probably you don't have to invent the wheel here.
I have a helper in my project to figure out any procedure by key (and type):
[code]

From here you can pick only procedures that satisfy starting from prefix (separated by comma) and get tuples of `[path, input, tuple]` for the update.

Now as I wrote that I think that might be a separate feature 😄

[2022-09-05 23:07] sachinraja commented on #2611
It's definitely possible @luixo. We do have to keep TS perf in mind though. Feel free to make a different feature request for it.

[2022-09-06 00:29] sachinraja commented on #2292
Sorry for the very late response, but this should have been fixed. I'll close this now, but if you're still seeing it, please re-open.

[2022-09-06 00:29] #2292 closed

[2022-09-07 04:41] #2627 closed

[2022-09-07 13:15] huzaifahj opened #2645 "bug: error TS2344: Type 'TInputContext' does not satisfy the constraint 'Record<string, any>'."
### Provide environment information

[code]

### Describe the bug

[code]

### To reproduce

[code]

[2022-09-07 13:37] huzaifahj commented on #2081
@sachinraja in v10 how do we attach middleware to the whole router? It no longer has the `.middleware()` property.

[2022-09-07 13:46] huzaifahj commented on #2645
This bug does not occur if `strict` is `false` in `tsconfig.json`

[2022-09-07 13:48] sachinraja commented on #2081
See the docs: https://trpc.io/docs/v10/middlewares

[2022-09-07 18:34] bautistaaa opened #2648 "docs: type annotations are any in aborting procedures"
### Area of Improvement

type annotation should reflect the actual type or be removed

### Link to related docs

https://trpc.io/docs/v10/aborting-procedures

### Additional information

_No response_

### 👨‍👧‍👦 Contributing

- [ ] 🙋‍♂️ Yes, I'd be down to file a PR implementing the suggested changes!

[2022-09-07 20:01] TkDodo commented on #2330
This seems pretty important for v10. Anything we can do to speed-up things on react's side?

[2022-09-07 20:04] KATT commented on #2330
If you have any strings to pull in the React team, pull 'em. ☺

[2022-09-07 20:22] SamSokolin commented on #2568
Also running into this issue but on the line where I'm constructing the reactQueryHooks:

[code]

[2022-09-07 21:02] SamSokolin commented on #2568
Ended up finding an answer to this in the tRPC Discord. Looks like this is a v9 problem (which my project is still currently on). Will try upgrading to v10 as suggested and see if the issue goes away! Given that @anthonyshew is already on v10, looks like he may be having a separate issue.

<img width="1403" alt="CleanShot 2022-09-07 at 16 59 12@2x" src="https://user-images.githubusercontent.com/10

[2022-09-07 22:12] #2632 closed

[2022-09-07 22:12] c-ehrlich commented on #2627
It's working for me :)

[2022-09-07 22:55] AlvaroAquijeDiaz commented on #2627
but using 10.0.0 and alphas may introduce unexpected changes in future releases, right?

[2022-09-08 06:13] huzaifahj commented on #2081
@sachinraja The docs only show adding middleware to a procedure, not the whole router?

[2022-09-08 07:54] KATT commented on #2081
We don't have it on the router anymore, instead you can do something like this:

[code]

[2022-09-08 07:55] KATT commented on #2645
Would you be able to share a full reproduction example?

[2022-09-08 09:34] KATT commented on #2625
Recursive prepassing will always be blocking until we have RSC, won't it?

At the end of the day, the thing you're suggesting is a diff of 3-4 LOC, so I'm happy to accept such a proposal :)

[2022-09-08 09:41] KATT opened #2650 "Break out `withTRPC` from `createTRPCNext`?"
Maybe we should move the `withTRPC` to it's own `import` so it can be tree-shaken when/if [RSC](https://nextjs.org/docs/advanced-features/react-18/server-components) or the [Next.js Layouts](https://nextjs.org/blog/layouts-rfc) arrives so it can be tree-shaken as it will will likely have to be non-compatible to that API or make a bunch of stuff redundant.

## Suggested change

#### Before

[code]

[2022-09-08 10:02] KATT commented on #2650
We could also separate SSR and non-SSR to further minimize the bundle 🤷

[2022-09-08 10:12] KATT commented on #2568
Note-to-self / @trpc/trpc-core. Potential actions

- Easy: Add note that you need `declaration: false` in the docs
- Hard: Revisit how we do the proxy API. Would have a bad impact on DX 😨

[2022-09-08 11:28] TkDodo commented on #2625
yep, and the more runs we do the more time it'll take.

Thanks. I will look some more into it once we have our PoC app deployed and we can do some real load testing to see if there are measurable gains.

[2022-09-08 12:19] nohum opened #2651 "feat: Allow close code of websocket link to be reported to listeners"
### Describe the feature you'd like to request

The websocket link that is used by our tRPC client is subject to be closed by the websocket server part under certain circumstances. The client needs to know the websocket close code to be able to react within the business logic. This can be e.g. one of the [official close codes](https://www.iana.org/assignments/websocket/websocket.xhtml#close-code-n

[2022-09-08 13:11] ollydixon opened #2653 "[idea] make distinction between queries & mutations optional"
### Describe the feature you'd like to request

Over the years of using GraphQL we always found that using query and mutation was pointless.
We just set all our quires to mutation.

We're using tRPC with the express plugin for a Flutter project, believe it or not is great tRPC even without the type completion is the best choice for any project; the tRPC playground gives great documentation.

One m

[2022-09-08 13:20] ixahmedxi opened #2654 "Website FAQ page"
### Area of Improvement

A lot of the questions that get asked on discord are very common and can probably be summarised in some sort of a FAQ page, we can gather around some of those questions here on this issue before starting to implement that page.

### Link to related docs

_No response_

### Additional information

_No response_

### 👨‍👧‍👦 Contributing

- [X] 🙋‍♂️ Yes, I'd be down to file a

[2022-09-08 13:20] ixahmedxi commented on #2654
Is v10 stable enough for production?

[2022-09-08 13:22] KATT commented on #2654
"I get `any` everywhere / IT DOESNT WORK"

[2022-09-08 13:44] sachinraja commented on #2653
You'd be better off using the [openapi integration](https://github.com/jlalmes/trpc-openapi). It's built for these situations and there's a lot of good tooling built around openapi too.

Queries are useful because they can easily be cached by CDNs. Caching for POST requests is more complicated. There are whole companies built around this for GraphQL (see [Stellate](https://stellate.co/)).

[2022-09-08 13:46] ollydixon commented on #2653
@sachinraja nah, OpenAPI has way too much boiler plate. Using the playrgound and just typing functions is much more fun/less verbose.

[2022-09-08 13:47] ollydixon opened #2655 "bug: no way to specify error meta"
### Provide environment information

System:
    OS: macOS 12.4
    CPU: (8) arm64 Apple M1 Pro
    Memory: 97.84 MB / 16.00 GB
    Shell: 5.8.1 - /bin/zsh
  Binaries:
    Node: 18.7.0 - /opt/homebrew/bin/node
    npm: 8.15.0 - /opt/homebrew/bin/npm
  Browsers:
    Chrome: 105.0.5195.102
    Firefox: 104.0.1
    Safari: 15.5

### Describe the bug

We want to be able to get custom error meta object

[2022-09-08 13:48] ollydixon commented on #2655
To fix this I had to add the following

[code]

[2022-09-08 13:53] juliusmarminge commented on #2654
Might be related to the above but "my input parsers doesn't give me the correct types" - make sure to use strict mode

[2022-09-08 14:00] ollydixon commented on #2653
@sachinraja my first few minutes of using the OpenAPI thing (Just to see) and I get pointless errors like ```TRPCError: [query.health] - Input parser expects a Zod validator``` when there's no need to input validate this endpoint 😂

[2022-09-08 14:03] ollydixon commented on #2653
<img width="309" alt="Screenshot 2022-09-08 at 16 02 03" src="https://user-images.githubusercontent.com/6940726/189142427-2289b5a7-01be-49b8-b4c4-701278f5aab0.png">

<img width="513" alt="Screenshot 2022-09-08 at 16 02 00" src="https://user-images.githubusercontent.com/6940726/189142456-94171da8-6fb3-487c-9c96-a5860485c7b2.png">

Looks like it don't work; think I'll stick to the easy mode method I

[2022-09-08 14:12] ollydixon commented on #2653
Also Swagga 🤮

[2022-09-08 16:02] jlalmes commented on #2653
Hi @ollydixon, a lot to unpack here!

### Feature request: Remove queries!?

Removing `queries` because **you** don't use them is a pretty wild feature request. As @sachinraja mentioned there are a vast number of use-cases where `queries` are super useful, not to mention just having a split in the mental model where you can differenciate between reads & writes. (There was a great twitter thread ab

[2022-09-08 17:01] KATT commented on #2655
See [the docs](https://trpc.io/docs/v9/error-formatting).

What you want is something like this:

[code]

As an example, if you have a custom tree of `ApplicationError`s, you'd do

[code]

[2022-09-08 17:03] KATT commented on #2655
It's a bit unintuitive, but the data you change should only be under the `data:`-property, this is because wanna conform to JSON-RPC, but we might reconsider this for v10 & simplify it.

[2022-09-08 17:04] KATT commented on #2655
This should also work

[code]

[2022-09-08 17:05] KATT commented on #2654
cc @trpc/website-docs

[2022-09-08 17:17] KATT opened #2658 "❤️"

[2022-09-08 17:26] KATT commented on #2653
Actually, I'm going to keep this open for a bit, I wna play around with something that might enable POST for everything for ppl who like that.

[2022-09-09 06:20] KATT commented on #2653
I had an idea the other week of potentially allowing some API that allows this for people who want it.

## Draft

### Server
[code]

### Raw client

[code]

### React

[code]

[2022-09-09 06:22] KATT commented on #2653
I don't know when/if I'll prioritize playing around with this myself as I do think the query/mutation distinction is useful & so does [most other people](https://twitter.com/alexdotjs/status/1528854148011130880).

[2022-09-09 06:40] ollydixon commented on #2653
I was drawn to this library cause of the simplicity. We use the playground as docs.

When you use both GET/POST with query/mutation with external projects, such as flutter apps need to define two fetch methods because the GET has no body but the POST does; it's two different formats.

Our fetch method as I mentioned above for Flutter just mentions the name of the function fetch('user.get-light', "

[2022-09-09 06:58] ollydixon commented on #2655
I think you should add some params to the "TRPCError" to simplify it; just an opinion though.

[2022-09-09 07:25] KATT commented on #2653
The other thing with `GET` is that it's easy to cache on.

[2022-09-09 07:52] ollydixon commented on #2653
@KATT understandable;
We've had platforms with billions of transactions; servers and requests are dirt cheap and even cheaper at scale; cache has only ever caused issues over the years; you don't need it!

Folks are obsessed with over caching everything 😂😂

[2022-09-09 07:53] ollydixon commented on #2653
@KATT for reference, API calls, database transactions and code is a really small resources, one image on your site is usually much larger! That's important to cache ya; not requests.

[2022-09-09 07:55] ollydixon commented on #2653
@jlalmes thanks for your input; I didn't mean to offend at all; I'm just a bit direct 😎

[2022-09-09 10:05] huzaifahj commented on #2081
Isn't the whole point of middleware that it's router-wide? Although the option to apply specific middleware to a procedure is good, this is very tedious when doing things like authentication and logging

[2022-09-09 10:11] KATT commented on #2081
Here's an authed procedure that you can reuse anywhere:

[code]

Name `authedProcedure` something very short and it's not any more tedious than defining a procedure w/o it :)

[2022-09-09 10:14] KATT commented on #2081
Previous middleware structure didn't allow for granular middlewares deep in a router, new architecture does.

[2022-09-09 10:15] KATT commented on #2081
Please raise a discussion in GH discussions or on Discord if you want to continue chatting about this. I'll miss comments on closed issues

[2022-09-09 10:15] KATT commented on #2655
Feel free to contribute

[2022-09-09 10:15] #2655 closed

[2022-09-09 10:17] #2651 closed

[2022-09-09 10:53] KATT commented on #2653
@ollydixon, this wasn't the first time. Be respectful. Next time I'll ban you from the community.

[2022-09-09 11:01] KATT commented on #2653
Moving to #2663

[2022-09-09 11:01] #2653 closed

[2022-09-09 11:06] ollydixon commented on #2655
@KATT thanks, I'll try make a pull request next week for you :-)

[2022-09-09 14:23] AlvaroAquijeDiaz commented on #2152
is `next-prisma-starter` updated to v.10 yet? And should the new version be used in production or wait for an official release?

[2022-09-09 16:20] KATT commented on #2152
@AlvaroAquijeDiaz
You can use https://github.com/trpc/trpc/tree/next/examples/next-prisma-starter, see note at the top of https://trpc.io/docs/v10/migrate-from-v9-to-v10

[2022-09-09 16:24] KATT opened #2669 "[v10] feat: fix CodeSandbox / stackblitz compatibility"
### Describe the feature you'd like to request

https://github.com/trpc/trpc/tree/next/examples/next-prisma-starter doesn't work in stackblitz or codesandbox. Stuff gets inferred as `any` in the frontend - I think it's because Prisma doesn't work or the types aren't setup

- https://codesandbox.io/s/github/trpc/examples-v10-next-prisma-starter-sqlite?file=/src/server/routers/post.ts
- https://stac

[2022-09-09 16:34] juliusmarminge commented on #2669
I think for the initial landing page we'd want something more minimal like the [next-minimal-starter](https://github.com/trpc/trpc/tree/next/examples/next-minimal-starter)?

[2022-09-09 16:37] KATT commented on #2669
Sounds good to me!

[2022-09-09 16:54] rhenriquez28 commented on #1811
Sorry for the delay, been busy at work. Anyway, this is what I have to improve the SSR docs page:

[code]

## FAQ

### Q: Why do I need to forward the client's headers to the server manually? Why doesn't tRPC automatically does that for me?

R: While it's rare that you wouldn't want to forward the client's headers to the server when doing SSR, you might want to add things dynamically in the header

[2022-09-09 17:02] rhenriquez28 commented on #1811
It seems the SSR headers issue has been brought up many times now. Not just in this issue and in https://github.com/trpc/trpc/issues/2420, but also in https://github.com/trpc/trpc/issues/2084 and https://github.com/trpc/trpc/pull/2085 . I think there was a moment where you guys were working on a `stripHeaders` utility but I don't know if work on that is on pause or something...

[2022-09-10 11:29] #2669 closed

[2022-09-10 16:32] SamSokolin commented on #1290
[Avenue](https://avenue.so/) - Operations observability on top of databases and warehouses

[2022-09-10 20:59] #1811 closed

[2022-09-10 23:13] KATT commented on #2654
"How to enable CORS"

[2022-09-12 05:29] gudleik commented on #2645
Getting the same error. Setting `skipLibCheck` to `false` in tsconfig.json is a workaround that worked for me.

[2022-09-12 11:57] TkDodo opened #2693 "bug: createTRPCNext return types"
### Provide environment information

[code]

### Describe the bug

it seems the result type of `createTRPCNext` is not typed correctly. Have a look at the provided codesandbox + the comments.

There is no check that the returned object "satisfies" the type `WithTRPCConfig`

### To reproduce

https://codesandbox.io/s/createtrpcnext-typings-6hgbuh?file=/index.ts

### Additional information

_No resp

[2022-09-12 19:08] TkDodo commented on #2611
I see no problem with the sub-array, as the user has no control over the keys anyways. So if we generate:

[code]

or

[code]

doesn't make a difference in terms of invalidation.

[2022-09-12 19:51] JonParton commented on #2611
Awesome - thanks for confirming @TkDodo!!

When ever I manage to grab some time I keep getting deeper into this but as I do I notice there is a decision to be made with how deep we go with the array keys being passed around vs the `.` seperated version.

As some of the core is shared between proxy and legacy a line needs to be drawn some where and I may have to make shared parts aware of if it has

[2022-09-13 00:10] fortezhuo opened #2697 "feat: NextJS EdgeRuntime support"
### Describe the feature you'd like to request

Since https://github.com/vercel/next.js/pull/39462 applied on NextJS 12.3.*'s EdgeRuntime, an internal server error occurs like below statement

[code]

**To Reproduce Error**

1. Clone or run ```npx create-next-app --example https://github.com/trpc/trpc --example-path examples/next-minimal-starter trpc-minimal-starter```
2. Enable EdgeRuntime with c

[2022-09-13 01:09] sachinraja commented on #2697
I don't know why the `setImmediate` error is happening, that's only in `@trpc/server/adapters/ws` and you would have to import that yourself. The real error here though is that tRPC's Next adapter expects `req.query.trpc` to exist but it does not in the edge runtime, which uses the Fetch API. What you should really be using is the Fetch adapter:
[code]

[2022-09-13 01:09] #2697 closed

[2022-09-13 03:02] fortezhuo commented on #2697
@sachinraja thanks for your reply. But I have tried to add
[code]
and still not working.. can you provide complete solution for this case ?

[2022-09-13 03:12] sachinraja commented on #2697
I tested it and it worked, try clearing `.next`.

[2022-09-13 06:04] #2693 closed

[2022-09-13 11:27] moltar opened #2700 "feat: transport that does not depend on global fetch"
### Describe the feature you'd like to request

I'd like to see a transport layer that is pluggable and allows for other implementations to exist and does not assume the existence of `fetch` in the `global` (or `window`) scope.

### Describe the solution you'd like to see

A well-defined interface for the transport layer that can be easily swapped out for other implementations.

### Desribe altern

[2022-09-13 12:15] KATT commented on #2700
You can ponyfill `fetch` and `AbortController` already when you create the tRPC-client, is that not enough?

[2022-09-13 12:26] moltar commented on #2700
It seems like the TypeScript interfaces of `node-fetch` are not compatible, so it cannot be included as a prop.

But also, I think if there was a transport layer, then other, non HTTP transports could be created.

I think generally, RPC is transport-agnostic and tying it to HTTP or WS implementation is not a good design.

[2022-09-13 12:59] jlalmes commented on #2700
Hi @moltar - this is already possible, I think you are describing the purpose of `adapters` (router-side) and `links` (client-side). Please see [`trpc-chrome`](https://github.com/jlalmes/trpc-chrome/tree/v0.1.0) as an example for web extension where the message passing transport layer is `chrome.connect()`.

[2022-09-13 13:09] moltar commented on #2700
Would it make more sense the for httpLink to accept fetch implementation than the create client factory function?

[2022-09-13 14:37] KATT opened #2702 "feat: add `generic-type-naming` lint rule"
### Describe the feature you'd like to request

That we prefix all generics with `T` everywhere

### Describe the solution you'd like to see

https://github.com/bradzacher/eslint-plugin-typescript/blob/master/docs/rules/generic-type-naming.md

### Desribe alternate solutions

Not doing it

### Additional information

_No response_

### 👨‍👧‍👦 Contributing

- [X] 🙋‍♂️ Yes, I'd be down to file a PR i

[2022-09-13 14:56] KATT commented on #2420
Caveats are in docs now

[2022-09-13 14:56] #2420 closed

[2022-09-13 17:55] ecyrbe commented on #2208
@KATT `trpc.userById` is a tRPC client call, right?

[2022-09-13 20:30] KATT opened #2708 "feat: use more modern build tools (pnpm, turbo/nx, etc)"
### Describe the feature you'd like to request

- We could speed up builds by caching stuff.
- We're still on yarn 1 (I heard pnpm is cool)
- We use lerna which is somewhat abandoned

### Describe the solution you'd like to see

This is likely a multipart thing, but maybe we should:

- [ ] use Turbo or Nx
- [x] use pnpm

### Desribe alternate solutions

Not doing anything. Shit works.

### Additio

[2022-09-13 20:39] KATT commented on #2700
As a workaround @moltar, you should be able to do:

- `fetch: null as any`
- `AbortController: null as any`

.. then, make sure you don't use the httpLink if you want to do your custom ending link.

Curious, what do you want to call it with actually?

[2022-09-13 20:40] KATT opened #2709 "Move HTTP-specific things from runtime to links"
tRPC isn't tied to HTTP so we shouldn't actually enforce using HTTP when creating the TRPC client.

This could be done by deprecating those fields like the below, but then we have no _guarantee_ when creating the HTTPLinks that you do it right.

[code]

And

[code]

_Originally posted by @KATT in https://github.com/trpc/trpc/issues/2700#issuecomment-1245930214_

[2022-09-13 20:59] KATT commented on #2220
I like this idea a helper, but we won't ship something that is tied to a specific validator in the project.

It'd like have to be something like `isTRPCError<AppRouter>(x)`

[2022-09-13 21:32] moltar commented on #2709
I also want to suggest defining a narrow TypeScript interface that is a partial of the `fetch` default interface and using that instead of `typeof fetch`. That way, hopefully, other `fetch` implementations can fit the interface.

I tried both `node-fetch` and `undici.fetch`, and both throw typing errors.

This interface should only define types that are actually used by the tRPC internals and not

[2022-09-13 21:36] moltar commented on #2700
As a workaround, we have already used the approach outlined in another discussion that sets the fetch on the global variable.

Right now I'd like to use HTTP, just server-side, which then requires node-fetch. Since we already use axios heavily across the project, I'd probably just create an axios link for now. Once we upgrade to Node 16, I'd use `undici`, which supports fetch starting from Node 16

[2022-09-13 21:39] moltar commented on #2709
I think maybe a new package can be created that is HTTP-specific: `@trpc/client-http` that has sane defaults.

Or a new factory function `createHttpClient(...)`.

[2022-09-14 00:56] fortezhuo commented on #2697
@sachinraja,
Sorry to bother u again

I try to rewrite my code based on this solution. But I have found fetchRequestHandler is missing NextResponse argument. We need to set response's headers to allow CORS.  And most NextJS 3rd party modules need to consume NextResponse as argument like https://github.com/vvo/iron-session.

Please elaborate how to integrate the modules by using fetchRequestHandler

[2022-09-14 01:19] sachinraja commented on #2697
You can't pass a response object because tRPC needs to set the body of the response. You can set the response headers using the response returned from `fetchRequestHandler`.

You can also use the `Response` returned from `fetchRequestHandler` for this.

[2022-09-14 07:16] fortezhuo commented on #2697
Found issue while using Prisma : https://github.com/prisma/prisma/issues/15313

[2022-09-14 17:27] mjgerace commented on #2645
Having this same issue, reproduce-able only on version 10, deprecated/interop.d.ts and deprecated/router.d.ts are the problem.

[2022-09-14 20:59] mjgerace opened #2717 "bug: The inferred type of 'appRouter' cannot be named without a reference to '../../node_modules/@trpc/server/dist/error/formatter.js'. This is likely not portable. A type annotation is necessary."
### Provide environment information

[code]

### Describe the bug

I have good reason to believe the following issue is back (search issue history to see previous fixes) with trpc version 10:

`The inferred type of 'appRouter' cannot be named without a reference to '../../node_modules/@trpc/server/dist/error/formatter.js'. This is likely not portable. A type annotation is necessary.` Also occurs w

[2022-09-14 21:10] bit-void opened #2718 "bug: Data seems to be incorrectly defined in latest v10"
### Provide environment information

[code]

### Describe the bug

I'm receiving a weird error with latest in React Native with react-query and suspense turned on:

[code]

### To reproduce

Given this component:

[code]

And this set up:

[code]

trpc set up like:

[code]

The server is standard:

[code]

### Additional information

_No response_

### 👨‍👧‍👦 Contributing

- [X] 🙋‍♂️ Yes, I'd be do

[2022-09-14 21:19] KATT commented on #2718
Is the error what it's inferred incorrectly if `suspense: true` is set globally?

[2022-09-14 21:19] mjgerace commented on #2718
I fixed this by setting `composite: true` in my backend under `compilerOptions` in tsconfig, and adding `"references": [{"path": "../bff" } ],` to tsconfig on the frontend. I doubt this is required but I think v10 has a bug of some sort @KATT

[2022-09-14 21:20] mjgerace commented on #2718
I think @bit-void will find `posts` typed as `any`.

[2022-09-14 21:29] bit-void commented on #2718
It's not typed as any actually, it does infer the correct type. If I console.log the data, it is still wrapped in `json` which seems wrong?

<img width="319" alt="Screen Shot 2022-09-14 at 3 28 01 PM" src="https://user-images.githubusercontent.com/161737/190265810-9c6b6678-8cba-451f-b38f-a54067f78027.png">

[code]

[2022-09-14 21:32] bit-void commented on #2718
@mjgerace This didn't work for me. Do you have a multi-package set up? I just have simple packages that are not nested together with a simple path based import that is technically coming from outside the project.

[2022-09-14 21:34] bit-void commented on #2718
@KATT the suspense was a red-herring. I turned off suspense and it has the same issue.

[2022-09-14 21:35] mjgerace commented on #2718
How are you handling returns in `postsRouter`? It should just be returning a plain javascript object, not serializing or anything fancy.

[2022-09-14 21:40] bit-void commented on #2718
This is how the router is defined:

[code]

If I log out `json` on data it works (notice the incorrect types):
<img width="358" alt="Screen Shot 2022-09-14 at 3 39 51 PM" src="https://user-images.githubusercontent.com/161737/190267617-dba416ac-3c6d-403b-a32e-8d07f6fa1541.png">

Output:
[code]

[2022-09-14 21:42] mjgerace commented on #2718
I am using fastify as well, but not encountering this. Are you using superjson or any other serializer?

[2022-09-14 21:44] bit-void commented on #2718
Huh, that was it. If I remove `superjson` the issue goes away.

This was my setup:

[code]

[2022-09-14 21:45] bit-void commented on #2718
Ah, I see, superjson is adding the top level key `json`. Did the return format change in v10 and `superjson` doesn't understand this?

[2022-09-14 21:48] mjgerace commented on #2718
No problem, glad I could help. Running into a few other issues myself that seemed to be solved by setting `declaration: false`, which I found from another thread @KATT  made.

[2022-09-14 21:51] bit-void commented on #2718
Huh, I don't see how to set this up with `createTRPCReact` though. That creator doesn't take any arguments? Do you know how to get the transformer with react working?

I appreciate all the help!

[2022-09-14 21:51] #2718 closed

[2022-09-14 22:08] bit-void commented on #2718
I figured it out from this issue: https://github.com/trpc/trpc/issues/1979, I didn't realize I was creating the client outside of that hook creator.

Thanks again for all the quick help! ❤️

[2022-09-15 00:18] mjgerace commented on #2717
I am going to close this with the following notes for anyone encountering the same problem:

At the core of the problem, we are using @trpc/server in both the client and the server. The client, and the server, in my case, were two entirely different folders, with unique tsconfigs, unique package.json files, etc.

Furthermore, I am taking an esm approach on my backend, setting tsconfig to have modu

[2022-09-15 00:18] #2717 closed

[2022-09-15 18:50] brandongit2 opened #2724 "bug: Query invalidation doesn't work"
### Provide environment information

[code]

### Describe the bug

Using the `.invalidate()` method on a query doesn't seem to actually invalidate the query. However using React Query's native `queryClient.invalidateQueries()` works fine.

### To reproduce

This seems to not work:

[code]

but this does (using native React Query `queryClient`):

[code]

### Additional information

_No response_

#

[2022-09-15 18:52] KATT commented on #2724
cc @JonParton do you wanna look at this as part of #2713

[2022-09-15 18:58] KATT commented on #2709
Addressed in #2723, added you as a contributor @moltar - would love your review on it :)

[2022-09-16 08:52] KATT opened #2726 "cleanup: Remove everything but `link` from `createTRPCClient`"

[2022-09-16 09:01] JonParton commented on #2724
@brandongit2  --> Hmmmn definitely need to do a reproduction of this as the `invalidate()` is a very light wrapper over the `invalidateQueries()` function from the `queryClient` just setting the query key for you... and all the tests related to this are still working!

Only things I can think of is somehow the `invalidate()` function is getting the key wrong related to how your router is set up or

[2022-09-16 09:57] #2709 closed

[2022-09-16 12:40] testerez commented on #2413
Hey @KATT , testing this on `@trpc/server@10.0.0-alpha.48`, only the type from the last `input()` call is preserved:

<img width="382" alt="Screen Shot 2022-09-16 at 14 39 48" src="https://user-images.githubusercontent.com/815236/190640741-06003695-059f-41e7-870e-0152559e03e8.png">

I'm following this example from the doc: https://www-git-multi-input-trpc.vercel.app/docs/router#multiple-input-pars

[2022-09-16 13:03] Yanipo5 commented on #2468
# Create spec/RFC on how mocking should look like
Could this work?

Add an optional option.mock parameter to each function (api) returning from createTRPCProxyClient, the option.mock type should be the same as the return type form the function (api).

Example:
import { setMock, createTRPCProxyClient } from "trpc/client";

const client = createTRPCProxyClient<AppRouter>({url, allowMocks: process.en

[2022-09-16 14:34] moltar commented on #2468
@Yanipo5 @KATT I think mocking would be easy now that HTTP is decoupled from the client. One can create a mockLink that simply intercepts all requests. For example, maybe can use PollyJS for that.

[2022-09-16 14:46] KATT opened #2728 "feat: type improvements: `typeof fetch` -> `FetchEsque`"
- [ ] `typeof fetch` -> `FetchEsque`
- [ ] `typeof AbortController` -> `AbortControllerEsque`
- [ ] Tests for different fetch-implementations
- [ ] `Response` --> ??? (TBD)

[2022-09-16 14:47] KATT commented on #2728
I actually spent a few minutes on this here, @moltar, then I realised we had some global use of `Response` as extra contextual meta data when we call procedures

[2022-09-16 14:56] medeirosjoaquim commented on #2627
Having this issue here.  `10.0.0-proxy-alpha.65` didn't solve it.

[2022-09-16 15:41] #2726 closed

[2022-09-16 16:26] mmkal commented on #2728
When defining this type/interface might make sense to add some expect-type tests to make sure builtin-fetch, node-fetch, isomorphic-fetch, undici-fetch, deno-fetch all are type-compatible with it. Not sure if there are other widely used implementations?

[2022-09-16 17:49] charkour opened #2730 "docs not fully updated to reflect changes on client initialization"
### Provide environment information

  System:
    OS: macOS 12.5.1
    CPU: (8) arm64 Apple M1
    Memory: 132.70 MB / 16.00 GB
    Shell: 5.8.1 - /bin/zsh
  Binaries:
    Node: 16.15.1 - ~/.nvm/versions/node/v16.15.1/bin/node
    Yarn: 1.22.15 - ~/.nvm/versions/node/v16.15.1/bin/yarn
    npm: 8.18.0 - ~/.nvm/versions/node/v16.15.1/bin/npm
  Browsers:
    Brave Browser: 100.1.37.113
    Chrome: 1

[2022-09-16 20:48] KATT commented on #2730
Not a bug. See:

- #2723
- #2709
- https://trpc.io/docs/v10/migrate-from-v9-to-v10#http-specific-options-moved-from-trpcclient-to-links

However, the docs might not have been updated everywhere.

[2022-09-16 21:58] tianhuil commented on #1454
Thank you for providing this workaround @KATT.  Let me try to convince you that it's not an edge case.

The big reason for having a native `trpc.useQueries` would be smart cache validation (https://tanstack.com/query/v4/docs/guides/query-invalidation).  I would like to query for 10 todos (by id) and then update a single one of them without having to refetch all 10.  Ideally, the code would be some

[2022-09-16 22:39] charkour commented on #2730
Great. Thanks for the quick response! I can update the docs to match the proper usage.

[2022-09-17 00:20] KATT commented on #2730
would love that!

[2022-09-17 00:32] rhenriquez28 commented on #2654
Should we add the FAQ from the SSR docs here as well or do we just reference it? Asking because a lot of questions I see on discord tend to be related to how to use tRPC with SSR

[2022-09-17 04:07] charkour commented on #1573
I ran into a similar issue while using v10. KATT on the discord suggested the following.

[code]

For v9, it would probably work like this.

[code]

[2022-09-17 04:07] charkour commented on #1573
From there, we could make a type utility to get the `opts` type.

[2022-09-17 11:14] #2730 closed

[2022-09-17 11:18] KATT opened #2737 "feat: procedure paths with dots"
Related: #2713

[2022-09-17 11:41] JonParton commented on #2737
Just tagging [this comment (#2713) ](https://github.com/trpc/trpc/pull/2713#issuecomment-1246956147)  in here too.

It's worth bearing in mind that the actual tRPC server side seems to not distinguish between a procedure defined using `.` seperation in a procedure property name or the same defined as sub routers!

It ignores the fact you defined it with the `.` in a single property name and joins

[2022-09-17 15:59] apieceofbart commented on #596
Thank you for the this thread, I was hard time figuring out why the props are undefined :)
Could someone explain to me why `ssr: false` actually fixes this? I can see the server returning the html just as I would expect.
I mean  It's counterintuitive since we want to enable ssr, right?